nodered/flows_domokit.json
[{"id":"315e194.8bbf866","type":"tab","label":"Initialisation","disabled":false,"info":""},{"id":"146f1054.19c988","type":"tab","label":"Gestion RPi","disabled":false,"info":"Gestion de l'ensemble des paramètres internes à la carte Raspberry PI.\n\n- Etat de santé\n- Listing des adresses IP\n- Connexion Internet"},{"id":"7903968f.8fd","type":"tab","label":"Timings / Planning","disabled":true,"info":""},{"id":"31d0efbf.725fe8","type":"tab","label":"Alarmes","disabled":false,"info":""},{"id":"46984568.7f8514","type":"tab","label":"WebService","disabled":false,"info":""},{"id":"c3ed77b3.4af4f8","type":"tab","label":"Passerelles","disabled":false,"info":""},{"id":"2cfe4a95.d9f656","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"b3a35ec7.066258","type":"tab","label":"Dev Zone","disabled":false,"info":""},{"id":"12a6ca0f.4863de","type":"tab","label":"Gestion Objets","disabled":false,"info":""},{"id":"d8e2a650.a8bb5","type":"tab","label":"Application Mobile","disabled":false,"info":""},{"id":"73c72dbe.6172fc","type":"tab","label":"Commandes Admin","disabled":false,"info":""},{"id":"ff59e35b.f43668","type":"tab","label":"HAT","disabled":false,"info":""},{"id":"86f06be0.6c0be8","type":"tab","label":"Jarvis","disabled":false,"info":""},{"id":"46ca8ff5.fe573","type":"tab","label":"API externes","disabled":true,"info":""},{"id":"ca90d0b9.3a039","type":"tab","label":"Camera IP (Panneau de contrôle)","disabled":true,"info":"Ensemble des commandes dédiées au panneau de contrôle.\n\nLe panneau de contrôle permet de piloter une caméra à la fois.\n- Mouvements\n- Vision\n- Choix de la caméra"},{"id":"6f19499.b8603b8","type":"subflow","name":"[WebService] SNCF : Nom Gare ","info":"Permet de trouver le nom d'une gare à partir d'une saisie de recherche utilisateur","in":[{"x":80,"y":60,"wires":[{"id":"63f1a8bb.859b5"}]}],"out":[{"x":840,"y":60,"wires":[{"id":"8d3f3ec2.7b5268","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"81a98834.703f88","type":"subflow","name":"[WebService] SNCF : Recherche Horaire","info":"Permet de rechercher le prochain trajet entre deux gares\n\nInputs : \n\nmsg.payload.SNCF.API_KEY : api key de la sncf (obligatoire)\n\nmsg.payload.Gare_Depart : gare de départ\n\nmsg.payload.Gare_Arrivee : gare d'arrivée","in":[{"x":40,"y":160,"wires":[{"id":"87aaff36.d3529"}]}],"out":[{"x":800,"y":120,"wires":[{"id":"882c5d80.0e6be8","port":0}]},{"x":800,"y":160,"wires":[{"id":"e9002863.7a1e1","port":0}]},{"x":800,"y":200,"wires":[{"id":"a0a55992.af4a8","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"c4a5ca7b.cc85a","type":"subflow","name":"[Gestion Objets] Authentification Objet","info":"Authentifie la connexion d'un objet au serveur selon la trame de connexion reçue\n\nInput : \n\nTrame de connexion envoyée par l'objet\n\nOutput : \n- 1 : Objet autorisé\n- 2 : Objet interdit\n- 3 : Objet inconnu\n","in":[{"x":40,"y":100,"wires":[{"id":"f5a08894.a764b"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"6230e2d3.f37014","port":0}]},{"x":720,"y":100,"wires":[{"id":"6230e2d3.f37014","port":1}]},{"x":720,"y":160,"wires":[{"id":"75f8c422.94c7dc","port":1}]}],"icon":"node-red/db.png"},{"id":"232ae153.99a286","type":"subflow","name":"[BDD] Objet Autorisé","info":"Permet de vérifier si un objet est autorisé à communiquer avec le serveur ou non\n\ninput : \nmsg.payload.Addr_MAC\n\noutput :\n- autorise le message à passer si l'objet est autorisé\n- bloque le message sinon","in":[{"x":60,"y":140,"wires":[{"id":"f626ad42.7f8f9"}]}],"out":[{"x":720,"y":140,"wires":[{"id":"14af4dc.13eb432","port":0}]}],"icon":"node-red/db.png"},{"id":"e1fdb949.ed809","type":"subflow","name":"[BDD] Liste Objets Actifs","info":"Renvoie la liste de tous les objets autorisés et actifs du serveur.\n\ninput : rien de particulier \n\noutput : tableau d'objets","in":[{"x":80,"y":120,"wires":[{"id":"f442f52e.4e4078"}]}],"out":[{"x":540,"y":120,"wires":[{"id":"23b08ac5.d9e71e","port":0}]}],"icon":"node-red/db.png"},{"id":"b4688224.af5608","type":"subflow","name":"[BDD]  Liste Objets Autorisés","info":"Renvoie la liste de tous les objets autorisé (actifs et inactifs)\n\ninput : rien de particulier \n\noutput : tableau d'objets","in":[{"x":60,"y":100,"wires":[{"id":"cc0a1c34.43c6b"}]}],"out":[{"x":460,"y":100,"wires":[{"id":"7531ec1d.9cbc74","port":0}]}],"icon":"node-red/db.png"},{"id":"3be57b68.f30a34","type":"subflow","name":"[BDD]  Liste Objets","info":"Renvoie la liste de tous les objets recensés par le serveur","in":[{"x":100,"y":80,"wires":[{"id":"60cd365a.2c1ea"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"50d789e6.3c49a","port":0}]}],"icon":"node-red/db.png"},{"id":"bce75fe0.efe288","type":"subflow","name":"[BDD] Objet Actif","info":"Indique si l'objet est actif ou non\n\ninput : \nmsg.payload.Addr_MAC\n\noutput :\n- autorise le message à passer si l'objet est actif\n- bloque le message sinon","in":[{"x":80,"y":80,"wires":[{"id":"3f1345df.e5c972"}]}],"out":[{"x":680,"y":80,"wires":[{"id":"fa8cae67.a2cc58","port":0}]}],"icon":"node-red/db.png"},{"id":"2cd79506.1051c2","type":"subflow","name":"[WebService] OpenWeatherMap","info":"Renvoie les prévision météo pour les 5 prochains jours.\n\nCe node n'autorise qu'un seul message par jour\n\nRemarque : Les webService ne sont accessibles que si l'accès à internet est activé\n\ninput : coordonnées de la zone voulue\n- msg.location.lat : latitude\n- msg.location.lon : longitude\n- msg.Webservice : OpenWeatherMap\noutputs :\n- output n°1 : icone météo du jour\n- output n°2 : température moyenne du jour\n","in":[{"x":80,"y":100,"wires":[{"id":"67386161.73cf68"}]}],"out":[{"x":1000,"y":240,"wires":[{"id":"686f46bb.aeda9","port":0}]},{"x":1000,"y":320,"wires":[{"id":"319e9f38.677b","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"aec415e2.222a08","type":"subflow","name":"[WebService] Get API KEY","info":"Recherche l'API Key du WebService demandé, dans la base de données DomoKit->WebService\n\nInput : \n- msg.Webservice : Nom du webservice à rechercher\n\nOutput : \n- msg : message original envoyé \n- msg.API.key : API Key du service\n- msg.API.user : nom d'utilisateur du service\n- msg.API.pswd : password du service\n","in":[{"x":40,"y":60,"wires":[{"id":"afd7347d.5f6d"}]}],"out":[{"x":600,"y":60,"wires":[{"id":"7d6f13d4.98ca24","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"40fb23bf.6ba34c","type":"subflow","name":"[BDD] Ajout Dashboard Fixe","info":"Permet d'ajouter un Dashboard fixe sans doublon\n\nInput : \n- msg.topic : topic à ajouter\n\n\nOutput :\n- rien","in":[{"x":120,"y":240,"wires":[{"id":"8ed78362.f720e8"}]}],"out":[],"icon":"node-red/db.png"},{"id":"19fa3f34.940459","type":"subflow","name":"[ADMIN] Import BDD","info":"Permet d'importer un fichier SQL dans la base de données DomoKit\n\nInput : \n- msg.payload : nom du fichier à importer (avec le chemin et l'extension)\n\nOutput : \n- rien","in":[{"x":80,"y":80,"wires":[{"id":"b5c1833a.10d578"}]}],"out":[{"x":900,"y":80,"wires":[{"id":"bfbd900e.568be8","port":0}]}],"icon":"node-red/alert.png"},{"id":"5b44dac8.b82fac","type":"subflow","name":"[Clock] Update RTC","info":"Permet de mettre à jour l'heure de la RTC, à condition que la Rpi ai accès à internet\n\nInput :\n- message déclencheur\n\nOutput : \n- rien","in":[{"x":80,"y":140,"wires":[{"id":"387ef2a.1a1380e"}]}],"out":[],"icon":"node-red/timer.png"},{"id":"190732af.b72735","type":"subflow","name":"[Clock] Lecture RTC","info":"Vérifie si la clock RTC est connecté à la Rpi\n\nInput : \n- message déclencheur\n\nOutput : \n- horodate de la clock externe si elle est connectée\n- false sinon","in":[{"x":60,"y":160,"wires":[{"id":"29e056e3.5c645a"}]}],"out":[{"x":620,"y":160,"wires":[{"id":"d7b99289.f743c8","port":0}]}],"icon":"node-red/timer.png"},{"id":"425afb1.4eacb04","type":"subflow","name":"[Wifi] Mode Appairage","info":"Permet de passer le point d'accès Wifi en mode Appairage\n\n- Input : rien (juste un signal pour déclencher le node)\n- Output : '0' si la commande a été exécutée avec succès","in":[{"x":80,"y":80,"wires":[{"id":"85806132.e597c"}]}],"out":[{"x":1160,"y":80,"wires":[{"id":"ca4be3be.b1899","port":0}]}],"icon":"node-red/feed.png"},{"id":"19a3abdf.bf45fc","type":"subflow","name":"[Wifi] Mode Normal","info":"Permet de passer le point d'accès Wifi en mode Normal\n\n- Input : rien (juste un signal pour déclencher le node)\n- Output : '0' si la commande a été exécutée avec succès","in":[{"x":20,"y":220,"wires":[{"id":"298abb84.e982ac"}]}],"out":[{"x":1360,"y":220,"wires":[{"id":"22fd86d6.b04dfa","port":0}]}],"icon":"node-red/feed.png"},{"id":"39b15958.eab986","type":"subflow","name":"[Wifi] Password","info":"Permet de changer le mot de passe du wifi en mode normal\n\n- Input : nouveau mot de passe (String)\n\n- Output : \n'0' si le changement s'est bien effectué\n'1' sinon","in":[{"x":60,"y":160,"wires":[{"id":"5f9760ae.aea8f8"}]}],"out":[{"x":1240,"y":160,"wires":[{"id":"643772e2.1a08bc","port":2}]}],"icon":"node-red/feed.png"},{"id":"ab0f0e6a.c566a","type":"subflow","name":"[MQTT] Cryptage","info":"Crypte les données à envoyer en MQTT\n- Input : payload à crypter\n- Output : payload crypté","in":[{"x":280,"y":180,"wires":[{"id":"dd0fff3e.e94df"}]}],"out":[{"x":860,"y":180,"wires":[{"id":"dd0fff3e.e94df","port":0}]}],"icon":"node-red/redis.png"},{"id":"598d96b0.e1e97","type":"subflow","name":"[MQTT] Décryptage","info":"Décrypte un message MQTT reçu\n- Input : payload à décrypter\n- Output : payload décrypté","in":[{"x":260,"y":160,"wires":[{"id":"19b66da8.b328a2"}]}],"out":[{"x":1020,"y":160,"wires":[{"id":"19b66da8.b328a2","port":0}]}],"icon":"node-red/redis.png"},{"id":"de072a78.51f8f","type":"subflow","name":"[Rpi] Lecture Horodate","info":"Renvoie l'heure, la date et le jour actuel de la semaine.\n\n- Input : message quelconque\n- Output : message complété de l'objet 'horodate'","in":[{"x":260,"y":140,"wires":[{"id":"1571d629.66f1b2"}]}],"out":[{"x":680,"y":140,"wires":[{"id":"1571d629.66f1b2","port":0}]}],"icon":"node-red/timer.png"},{"id":"e6b4e99b.cf25f8","type":"subflow","name":"[Wifi] WIFI_DATA","info":"Retourne les informations wifi à envoyer aux objets connectés","in":[{"x":140,"y":140,"wires":[{"id":"e1fc0f0f.d6477"}]}],"out":[{"x":820,"y":140,"wires":[{"id":"5be2cb65.075624","port":0}]}],"icon":"node-red/feed.png"},{"id":"1420b0e6.19efe7","type":"subflow","name":"[LCD] Write All","info":"Permet d'écrire du texte sur les deux lignes de l'écran\nInput : \n- msg.lcd.ligne1 : texte de la ligne 1\n- msg.lcd.ligne2 : texte de la ligne 2","in":[{"x":40,"y":180,"wires":[{"id":"b8c59abf.407e38"}]}],"out":[{"x":900,"y":180,"wires":[{"id":"a68405c7.d98568","port":2}]}],"icon":"node-red/rpi.png"},{"id":"2c1372f1.22912e","type":"subflow","name":"Pilotage ecran via le bouton poussoir ","info":"Vérifie que le bouton a été appuyé plus de 3 secondes\nUn message est affiché sur l'ecran lcd \nquand le bouton est enfoncé ou relaché\n","in":[{"x":60,"y":240,"wires":[{"id":"4a079b01.25ce04"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"2137b595.19059a","port":0}]},{"x":900,"y":200,"wires":[{"id":"2137b595.19059a","port":1}]},{"x":840,"y":280,"wires":[{"id":"e7a7a620.fe019","port":0},{"id":"e7a7a620.fe019","port":1},{"id":"e7a7a620.fe019","port":2}]}]},{"id":"bcbdd5eb.a20028","type":"subflow","name":"[HAT] LED RGB","info":"Pilote la LED RGB présente sur le HAT\n\nInputs (0 à 100 %) : \n- msg.hat.led.red   : couleur rouge\n- msg.hat.led.green : couleur verte\n- msg.hat.led.blue  : couleur bleue","in":[{"x":180,"y":160,"wires":[{"id":"6d9eb1a9.5aa86"}]}],"out":[{"x":1000,"y":100,"wires":[{"id":"e0f97e17.0cf598","port":0}]},{"x":1000,"y":160,"wires":[{"id":"95fc28c3.363898","port":0}]},{"x":1000,"y":220,"wires":[{"id":"c0fb8d6b.d11db","port":0}]},{"x":1000,"y":300,"wires":[{"id":"ca075209.e0d738","port":0}]}],"inputLabels":["colors"],"outputLabels":["red","green","blue"]},{"id":"531dd6c.d84aea8","type":"subflow","name":"[HAT] Appui Bouton 2s","info":"Vérifie que le bouton a été appuyé plus de 5 secondes\n\nInput : \n- déclenchement du bouton\n\nOutput : \n- '1' si le bouton a été appuyé au moins 5 secondes\nRénitialisation de la base de données","in":[{"x":40,"y":120,"wires":[{"id":"fb7525b4.a424a8"}]}],"out":[{"x":1240,"y":100,"wires":[{"id":"f8c55cf.97c45a","port":0}]},{"x":1020,"y":160,"wires":[{"id":"a0c4de66.fde0f8","port":1},{"id":"a0c4de66.fde0f8","port":2}]}],"icon":"node-red/rpi.png"},{"id":"e97faffe.5385a8","type":"subflow","name":"[LCD] Index écran","info":"","in":[{"x":80,"y":260,"wires":[{"id":"3e644177.e4a99e"}]}],"out":[{"x":900,"y":160,"wires":[{"id":"55d5bcb.0f0c5c4","port":0}]}],"icon":"node-red/rpi.png"},{"id":"92cc1aa2.163068","type":"subflow","name":"[LCD] Write Line","info":"Permet d'écrire un texte sur la ligne choisie\n\nInput : \n- msg.lcd.texte : texte à afficher \n- msg.lcd.ligne : ligne sur laquelle afficher le texte","in":[{"x":40,"y":120,"wires":[{"id":"2940c32c.5113dc"}]}],"out":[],"icon":"node-red/rpi.png"},{"id":"682f5fa.dbda2a","type":"subflow","name":"[Rpi] Wifi SSID","info":"Renvoie le SSID du réseau wifi","in":[{"x":200,"y":180,"wires":[{"id":"928951ef.dcd0f8"}]}],"out":[{"x":660,"y":180,"wires":[{"id":"b7e45da1.cba208","port":0}]}]},{"id":"745cc5e5.e27434","type":"subflow","name":"[HAT] BLINK RGB","info":"Fait clignoter la LED RGB présente sur le HAT\n\nPilote la LED RGB présente sur le HAT\n\nInputs (0 à 100 %) : \n- msg.hat.led.red   : couleur rouge\n- msg.hat.led.green : couleur verte\n- msg.hat.led.blue  : couleur bleue\n\n- msg.hat.led.enable : mettre à '1' pour l'activer et à 0 pour l'arrêter","in":[{"x":80,"y":180,"wires":[{"id":"6ddd54a0.b6cb74"}]}],"out":[{"x":1200,"y":20,"wires":[{"id":"ffff54af.6b8858","port":0},{"id":"71062815.265b68","port":0}]},{"x":1200,"y":80,"wires":[{"id":"ffff54af.6b8858","port":1},{"id":"71062815.265b68","port":1}]},{"x":1200,"y":140,"wires":[{"id":"ffff54af.6b8858","port":2},{"id":"71062815.265b68","port":2}]}]},{"id":"e1fca2dc.afea6","type":"subflow","name":"[HAT] Read Data","info":"Vérifie la présence d'une carte HAT sur la Rpi\nSI elle est présente, ce node récupères toutes les infos la concernant\ninput : \n- déclencheur\n\noutput :\n\nsi la carte n'est pas branchée :\n- msg.payload = \"no hat found\"\n\nsinon : \n- msg.hat.info.name : \"hat\"\n- msg.hat.info.product : nom de la carte hat\n- msg.hat.info.id : id de la carte \n- msg.hat.info.version : version de la carte\n- msg.hat.info.uuid : id unique de la carte (n° de série)\n- msg.hat.info.vendor : nom du fabricant","in":[{"x":80,"y":220,"wires":[{"id":"ce2b3da7.62a2d8"}]}],"out":[{"x":1040,"y":40,"wires":[{"id":"296f593f.14d4b6","port":0}]}]},{"id":"9ba64c43.2523e","type":"subflow","name":"[HAT] Appui Bouton 5s","info":"","in":[{"x":100,"y":140,"wires":[{"id":"5965d022.60e898"}]}],"out":[{"x":1300,"y":120,"wires":[{"id":"53f09bc2.d29574","port":0}]},{"x":1140,"y":200,"wires":[{"id":"21139740.6afd68","port":0},{"id":"21139740.6afd68","port":1},{"id":"21139740.6afd68","port":2}]}]},{"id":"1f72b688.758149","type":"subflow","name":"[HAT] Check","info":"","in":[{"x":80,"y":40,"wires":[{"id":"bd8333bd.7069d8"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"bd8333bd.7069d8","port":0}]}]},{"id":"a78e49e6.571908","type":"subflow","name":"[BDD] Set Tiles","info":"","in":[{"x":20,"y":200,"wires":[{"id":"6b811cb1.250184"}]}],"out":[{"x":1380,"y":300,"wires":[{"id":"9b83b86e.6c0518","port":0},{"id":"1619ca2b.924d26","port":0}]}]},{"id":"a8dbe838.011b78","type":"subflow","name":"Communication Snips Red","info":"","in":[{"x":40,"y":160,"wires":[{"id":"1a834209.90b98e"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"6fa8e049.f4555","port":0}]},{"x":820,"y":160,"wires":[{"id":"b57acf13.7ac8","port":0}]}]},{"id":"c29c1d03.852d68","type":"subflow","name":"Détection du type de slot Snips","info":"","in":[{"x":60,"y":200,"wires":[{"id":"b52051e8.ec0a48"}]}],"out":[{"x":660,"y":140,"wires":[{"id":"b5df7e2c.c8d25","port":0}]},{"x":780,"y":220,"wires":[{"id":"f74977ec.b1d878","port":0}]}]},{"id":"4d5a27f7.3e01d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85a9ea73.8124d8","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"DomoKit","tz":""},{"id":"63f1a8bb.859b5","type":"function","z":"6f19499.b8603b8","name":"nom -> UIC","func":"var recherche = msg.payload;\n\nvar requete = \"http://ressources.data.sncf.com/api/records/1.0/search/?dataset=referentiel-gares-voyageurs&q=\"+recherche\n\nmsg = {\n    'url':requete\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":60,"wires":[["65d4a4e0.d97594"]]},{"id":"65d4a4e0.d97594","type":"http request","z":"6f19499.b8603b8","name":"API SNCF","method":"GET","ret":"obj","url":"","tls":"","x":360,"y":60,"wires":[["612f04dd.17caac"]]},{"id":"612f04dd.17caac","type":"function","z":"6f19499.b8603b8","name":"extract infos","func":"var Nom_Gare = msg.payload.records[0].fields.intitule_fronton_de_gare;\nvar getUIC = msg.payload.records[0].fields.uic;\n\nvar UIC = getUIC.slice(2);\n\n\nglobal.set('Gare_Depart',UIC);\n\nmsg.payload ={\n    nom:Nom_Gare,\n    id:UIC\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:Nom_Gare});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["8d3f3ec2.7b5268"]]},{"id":"8d3f3ec2.7b5268","type":"template","z":"6f19499.b8603b8","name":"nom gare","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.nom}}","output":"str","x":720,"y":60,"wires":[[]]},{"id":"279f1fcc.5811b","type":"http request","z":"81a98834.703f88","name":"API SNCF","method":"GET","ret":"obj","url":"","tls":"","x":350,"y":160,"wires":[["5eecee7e.b8735"]]},{"id":"87aaff36.d3529","type":"function","z":"81a98834.703f88","name":"Requete","func":"// id des gares pour la création de l'itinéraire\nvar source = msg.payload.Gare_Depart;//87545194; // Bretigny\nvar destination = msg.payload.Gare_Arrivee; //87547026; // Austerlitz\n\n\n// Définition de l'horodate actuel au format API SNCF\nvar month = global.get('mois');\nvar day = global.get('jour');\nvar year = global.get('annee');\n\nvar heure = global.get('heure');\nvar min   = global.get('minute');\nvar sec   = global.get('seconde');\n    \nvar horodateSNCF = year + '' +  month + '' + day + 'T' + heure + '' + min + '' + sec ;\n\n\n// Composition de la requête\nvar requete = \"https://\" + msg.payload.SNCF.API_KEY + \"@\" + msg.payload.SNCF.requete + \"coverage/sncf/journeys?from=stop_area:OCE:SA:\"  + source + \"&to=stop_area:OCE:SA:\"+destination + \"&datetime=\" + horodateSNCF ;\n\n\nmsg = {\n    'url' : requete\n}\n\n// Anti-redondance\nif ((source !== 0) && (destination !== 0))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["279f1fcc.5811b"]]},{"id":"89fbf191.26ecc","type":"comment","z":"81a98834.703f88","name":"Recherche du prochain itinéraire entre deux gares (définies par leurs id)","info":"","x":470,"y":20,"wires":[]},{"id":"5eecee7e.b8735","type":"function","z":"81a98834.703f88","name":"extract infos","func":"// Récupération des variables du payload\nvar Datetime_Depart  = msg.payload.journeys[0].departure_date_time;\nvar Datetime_Arrivee = msg.payload.journeys[0].arrival_date_time;\nvar Temps_Trajet = msg.payload.journeys[0].duration / 60 ;\n\n// Traitement des Heures\nvar Heure_Depart = Datetime_Depart.split('T'); \nvar Heure_Arrivee = Datetime_Arrivee.split('T');\n\nHeure_Depart = Heure_Depart[1].slice(0,2) + \"h\" + Heure_Depart[1].slice(2,4) ;  \nHeure_Arrivee = Heure_Arrivee[1].slice(0,2) + \"h\" + Heure_Arrivee[1].slice(2,4);  \n\nmsg.payload ={\n    depart:Heure_Depart,\n    arrivee:Heure_Arrivee,\n    temps:Temps_Trajet.toFixed(0)\n}\n\n\nvar Texte = Heure_Depart + \" -> \" + Heure_Arrivee;\n\n\nnode.status({fill:\"blue\",shape:\"dot\",text:Texte});\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["882c5d80.0e6be8","e9002863.7a1e1","a0a55992.af4a8"]]},{"id":"882c5d80.0e6be8","type":"template","z":"81a98834.703f88","name":"horaire Depart","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.depart}}","output":"str","x":680,"y":120,"wires":[[]]},{"id":"e9002863.7a1e1","type":"template","z":"81a98834.703f88","name":"horaire Arrivee","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.arrivee}}","output":"str","x":680,"y":160,"wires":[[]]},{"id":"a0a55992.af4a8","type":"template","z":"81a98834.703f88","name":"temps Trajet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temps}}","output":"str","x":690,"y":200,"wires":[[]]},{"id":"f5a08894.a764b","type":"function","z":"c4a5ca7b.cc85a","name":"MoF","func":"var Payload_Connexion = msg.payload;\nvar Info_Connexion = Payload_Connexion.split(\";\");\n\nmsg= {\n    addr_mac:Info_Connexion[0],\n    nom_client:Info_Connexion[1],\n    nb_data:Info_Connexion[2],\n    nb_trigger:Info_Connexion[3],\n    \n    topic : \"SELECT * FROM Objets_Connectes WHERE (ADRESSE_MAC = \\\"\" + Info_Connexion[0] + \"\\\");\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":100,"wires":[["3c97145c.6a45bc"]]},{"id":"75f8c422.94c7dc","type":"switch","z":"c4a5ca7b.cc85a","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":100,"wires":[["6230e2d3.f37014"],[]]},{"id":"6230e2d3.f37014","type":"switch","z":"c4a5ca7b.cc85a","name":"","property":"payload[0].Auth","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":60,"wires":[[],[]]},{"id":"d910e426.4fcca8","type":"comment","z":"c4a5ca7b.cc85a","name":"Objet existant interdit","info":"","x":830,"y":100,"wires":[]},{"id":"e1bb62c0.f87fb8","type":"comment","z":"c4a5ca7b.cc85a","name":"Objet existant autorisé","info":"","x":840,"y":40,"wires":[]},{"id":"f9da6e2b.bfd5d","type":"comment","z":"c4a5ca7b.cc85a","name":"Objet inexistant","info":"","x":820,"y":160,"wires":[]},{"id":"3c97145c.6a45bc","type":"mysql","z":"c4a5ca7b.cc85a","mydb":"85a9ea73.8124d8","name":"","x":340,"y":100,"wires":[["75f8c422.94c7dc"]]},{"id":"f626ad42.7f8f9","type":"function","z":"232ae153.99a286","name":"MySQL SELECT","func":"var Addr_MAC = msg.payload.Addr_MAC;\n// Composition de la requête\nvar Requete = \"SELECT Auth FROM Objets_Connectes WHERE (Adresse_MAC = \\\"\" + Addr_MAC + \"\\\");\" \n\nvar Backup = msg;\nmsg = {\n    backup:Backup,\n    topic:Requete\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["31a6f583.056dc2"]]},{"id":"31a6f583.056dc2","type":"mysql","z":"232ae153.99a286","mydb":"85a9ea73.8124d8","name":"","x":410,"y":140,"wires":[["14af4dc.13eb432"]]},{"id":"14af4dc.13eb432","type":"function","z":"232ae153.99a286","name":"Vérification","func":"if (msg.payload.length == 1)\n{\n    // Objet autorisé\n    if (msg.payload[0].Auth == 1){\n        var Restore_Backup = msg.backup;\n        msg = Restore_Backup;\n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":570,"y":140,"wires":[[]]},{"id":"f442f52e.4e4078","type":"function","z":"e1fdb949.ed809","name":"Recherche","func":"msg.topic = \"SELECT * FROM Objets_Connectes WHERE (Auth = 1 AND Actif = 1);\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["23b08ac5.d9e71e"]]},{"id":"23b08ac5.d9e71e","type":"mysql","z":"e1fdb949.ed809","mydb":"85a9ea73.8124d8","name":"","x":420,"y":120,"wires":[[]]},{"id":"cc0a1c34.43c6b","type":"function","z":"b4688224.af5608","name":"Recherche","func":"msg.topic = \"SELECT * FROM Objets_Connectes WHERE (Auth = 1);\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["7531ec1d.9cbc74"]]},{"id":"7531ec1d.9cbc74","type":"mysql","z":"b4688224.af5608","mydb":"85a9ea73.8124d8","name":"","x":340,"y":100,"wires":[[]]},{"id":"60cd365a.2c1ea","type":"function","z":"3be57b68.f30a34","name":"Recherche","func":"msg.topic = \"SELECT * FROM Objets_Connectes;\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["50d789e6.3c49a"]]},{"id":"50d789e6.3c49a","type":"mysql","z":"3be57b68.f30a34","mydb":"85a9ea73.8124d8","name":"","x":460,"y":80,"wires":[[]]},{"id":"3f1345df.e5c972","type":"function","z":"bce75fe0.efe288","name":"MySQL SELECT","func":"var Addr_MAC = msg.payload.Addr_MAC;\n// Composition de la requête\nvar Requete = \"SELECT Auth,Actif FROM Objets_Connectes WHERE (Adresse_MAC = \\\"\" + Addr_MAC + \"\\\");\" \n\nvar Backup = msg;\nmsg = {\n    backup:Backup,\n    topic:Requete\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["2952a143.2fab6e"]]},{"id":"2952a143.2fab6e","type":"mysql","z":"bce75fe0.efe288","mydb":"85a9ea73.8124d8","name":"","x":410,"y":80,"wires":[["fa8cae67.a2cc58"]]},{"id":"fa8cae67.a2cc58","type":"function","z":"bce75fe0.efe288","name":"Vérification","func":"if (msg.payload.length == 1)\n{\n    // Objet autorisé\n    if ((msg.payload[0].Auth == 1) && (msg.payload[0].Actif == 1)){\n        var Restore_Backup = msg.backup;\n        msg = Restore_Backup;\n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":570,"y":80,"wires":[[]]},{"id":"679bd21.271f3ac","type":"function","z":"2cd79506.1051c2","name":"interface icone/fichier","func":"var OpenWeatherMap = msg.payload.Icone;\nvar categorie = Math.trunc(OpenWeatherMap /100);\nvar path = \"/home/pi/.domokit/ressources/meteo/\";\n\nvar meteo;\nswitch(categorie){\n    case 2 : \n        meteo = \"orage\";\n    break;\n    \n    case 3 : \n        meteo = \"bruine\";\n    break;\n    \n    case 5 : \n        meteo = \"pluie\";\n    break;\n    \n    case 6 : \n        meteo = \"neige\";\n    break;\n    \n    case 8 : \n        if( OpenWeatherMap == 800)\n            meteo = \"soleil\";\n        else\n            meteo = \"nuage\";\n    break;\n\n    default : \n            meteo = \"inconnu\";\n    break;\n}\n\nmsg.filename = path +  meteo + \".png\";\nmsg.topic =  global.get(\"Main_Topic\") + \"/meteo/jour/\" + msg.topic + \"/icone\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["686f46bb.aeda9"]]},{"id":"fbd6da98.993688","type":"function","z":"2cd79506.1051c2","name":"Extraction des infos","func":"var outputMsgs = [];\n\nvar Icone= []; \nvar Temperature = [];\nvar topic_mqtt;\nvar j = 3;\nvar i = 0;\n\nvar nb_jour = 5;//msg.payload.length / 8;\n\n// Traitement des données\n    for (i=0;i< nb_jour;i++)\n    {\n        // Récupération des prévisions\n        Icone[i] =  msg.payload[j].weather[0].id;\n        Temperature[i] = Number((msg.payload[j].main.temp).toFixed(1));\n        j+=8;\n        topic_mqtt = i;\n        outputMsgs.push({payload:{Icone:Icone[i],Temperature:Temperature[i]},topic:topic_mqtt});\n    }\n    return [ outputMsgs ]\n\n// Envoi du tableau de messages\n","outputs":"1","noerr":0,"x":430,"y":280,"wires":[["679bd21.271f3ac","319e9f38.677b"]]},{"id":"686f46bb.aeda9","type":"file in","z":"2cd79506.1051c2","name":"Icone météo","filename":"","format":"","chunk":false,"sendError":false,"x":870,"y":240,"wires":[[]]},{"id":"fa8e4883.c967","type":"function","z":"2cd79506.1051c2","name":"Prévision Meteo","func":"var Prevision_Meteo = msg.payload.list;\n\nglobal.set('Meteo_OpenWeathermap',Prevision_Meteo);\n\nmsg = {\n    payload:Prevision_Meteo\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":220,"y":280,"wires":[["fbd6da98.993688"]]},{"id":"319e9f38.677b","type":"function","z":"2cd79506.1051c2","name":"mise en forme temperature","func":"\n// Conversion Kelvin vers Celsius\nvar Kelvin = msg.payload.Temperature;\nvar Celsius = Kelvin - 273.15;\n\nmsg.payload = Celsius.toFixed(1)  + \"°C\";\n\nmsg.topic = global.get(\"Main_Topic\") + \"/meteo/jour/\" + msg.topic + \"/temperature\";\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[[]]},{"id":"e1b6016a.abf538","type":"link in","z":"2cd79506.1051c2","name":"reponse_requete","links":["5d3f3862.51d8"],"x":75,"y":280,"wires":[["fa8e4883.c967"]]},{"id":"f5176112.0e8e3","type":"comment","z":"2cd79506.1051c2","name":"Réponse de la requête","info":"","x":170,"y":220,"wires":[]},{"id":"311d22f1.fdb3b6","type":"comment","z":"2cd79506.1051c2","name":"Envoi de la requête","info":"","x":150,"y":60,"wires":[]},{"id":"a221f92f.3510c","type":"mysql","z":"aec415e2.222a08","mydb":"85a9ea73.8124d8","name":"","x":340,"y":60,"wires":[["7d6f13d4.98ca24"]]},{"id":"afd7347d.5f6d","type":"function","z":"aec415e2.222a08","name":"Recherche","func":"var Nom_WebService = msg.Webservice;\n\nvar Backup = msg;\nvar requete = \"SELECT * FROM WebService WHERE (Nom LIKE \\\"%\" + Nom_WebService + \"%\\\");\";\n\nmsg ={\n    topic:requete,\n    backup:Backup\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["a221f92f.3510c"]]},{"id":"7d6f13d4.98ca24","type":"function","z":"aec415e2.222a08","name":"Vérification","func":"if (msg.payload.length == 1)\n{\n    // restauration du message\n    var restore_backup = msg.backup;\n    \n    // sauvegarde des paramètres de l'API\n    var API =msg.payload[0];\n    \n    // Création du message de sortie\n    msg = restore_backup;\n    msg.API = API;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":490,"y":60,"wires":[[]]},{"id":"8ed78362.f720e8","type":"function","z":"40fb23bf.6ba34c","name":"Vérification des doublons","func":"var topic = msg.topic;\n\nvar requete = \"SELECT * FROM Dashboard WHERE (Topic = \\\"\" + topic + \"\\\");\";\n\nmsg = {\n    topic : requete,\n    Topic_Dashboard : topic\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["7f44c9d.2a33e38"]]},{"id":"7f44c9d.2a33e38","type":"mysql","z":"40fb23bf.6ba34c","mydb":"85a9ea73.8124d8","name":"","x":500,"y":240,"wires":[["665620b3.a3a76"]]},{"id":"665620b3.a3a76","type":"switch","z":"40fb23bf.6ba34c","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":240,"wires":[["c9de19.37a6f1e8"],["1824ba0c.cccce6"]]},{"id":"c9de19.37a6f1e8","type":"function","z":"40fb23bf.6ba34c","name":"Insert","func":"var topic = msg.Topic_Dashboard;\nvar requete = \"INSERT INTO Dashboard(Topic,EstFixe) VALUES (\\\"\" + topic + \"\\\" , '1');\";\n\nmsg = {\n    topic : requete\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["fbe2db48.8e68c8"]]},{"id":"fbe2db48.8e68c8","type":"mysql","z":"40fb23bf.6ba34c","mydb":"85a9ea73.8124d8","name":"","x":960,"y":240,"wires":[[]]},{"id":"1824ba0c.cccce6","type":"function","z":"40fb23bf.6ba34c","name":"Update","func":"var topic = msg.Topic_Dashboard;\nvar requete = \"UPDATE Dashboard SET EstFixe = '1' WHERE (Topic = \\\"\" + topic + \"\\\");\";\n\nmsg = {\n    topic : requete\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["fbe2db48.8e68c8"]]},{"id":"c1f7abee.edc73","type":"exec","z":"19fa3f34.940459","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":80,"wires":[["bfbd900e.568be8"],[],[]]},{"id":"b5c1833a.10d578","type":"function","z":"19fa3f34.940459","name":"Création de la commande","func":"var fichier_SQL = msg.payload;\n\nvar user = \"domokit-admin\";\nvar password = \"domokit-admin\";\n\nvar BDD = \"DomoKit\";\n\nvar commande = \"mysql --user=\" + user + \" --password=\"+ password + \" \" + BDD + \" < \" + fichier_SQL;\n\nmsg={\n    payload : commande\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["c1f7abee.edc73"]]},{"id":"bfbd900e.568be8","type":"function","z":"19fa3f34.940459","name":"Vérification","func":"if (msg.rc.code == \"0\")\n{\n    msg.payload = \"OK\";\n}\nelse \n{\n    msg.payload = \"Erreur\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":80,"wires":[[]]},{"id":"ddbd0aa0.16ec","type":"subflow:aec415e2.222a08","z":"2cd79506.1051c2","name":"API Key","x":340,"y":100,"wires":[["3b6c8a7a.c76f8e"]]},{"id":"67386161.73cf68","type":"function","z":"2cd79506.1051c2","name":"recherche","func":"msg.Webservice = \"OpenWeatherMap\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["ddbd0aa0.16ec"]]},{"id":"46f824fb.9ac3d4","type":"http request","z":"2cd79506.1051c2","name":"openweathermap","method":"GET","ret":"obj","url":"","tls":"","x":750,"y":160,"wires":[["5d3f3862.51d8"]]},{"id":"5fdb5a51.9101bc","type":"function","z":"2cd79506.1051c2","name":"Requete","func":"var lat = msg.location.lat;\nvar lon = msg.location.lon;\nvar API_KEY = msg.API.API_KEY;\n\nvar requete = \"https://api.openweathermap.org/data/2.5/forecast?lat=\" + lat + \"&lon=\" + lon + \"&appid=\" + API_KEY;\n\nmsg = {\n    'url' : requete,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["46f824fb.9ac3d4"]]},{"id":"9c039cce.b0f7f8","type":"delay","z":"2cd79506.1051c2","name":"2 requêtes max par jour","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":160,"wires":[["5fdb5a51.9101bc"]]},{"id":"92058e9c.5481","type":"function","z":"2cd79506.1051c2","name":"Vérification","func":"\n// Vérification de l'accès à internet\nvar Acces_Internet = global.get(\"Internet\");\n\nif (Acces_Internet === true)\n{\n    // Vérification des infos passés en paramètres\n    if ((msg.location.lat)&&(msg.location.lon)&&(msg.API.API_KEY))\n    {\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["9c039cce.b0f7f8"]]},{"id":"5d3f3862.51d8","type":"link out","z":"2cd79506.1051c2","name":"reponse_requete","links":["e1b6016a.abf538"],"x":915,"y":160,"wires":[]},{"id":"3b6c8a7a.c76f8e","type":"link out","z":"2cd79506.1051c2","name":"API_key","links":["c1fe1b6f.853ce"],"x":455,"y":100,"wires":[]},{"id":"c1fe1b6f.853ce","type":"link in","z":"2cd79506.1051c2","name":"API_key","links":["3b6c8a7a.c76f8e"],"x":75,"y":160,"wires":[["92058e9c.5481"]]},{"id":"de832832.73fe98","type":"exec","z":"5b44dac8.b82fac","command":"sudo sh /home/pi/.domokit/scripts/hat/clock_rtc/clock_update.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"update de l'heure RTC","x":500,"y":140,"wires":[[],[],[]]},{"id":"387ef2a.1a1380e","type":"function","z":"5b44dac8.b82fac","name":"Vérification internet et RTC","func":"// la RTC peut être mise à jour si elle est connectée, et si le serveur a accès à internet\nvar Acces_Internet = global.get(\"Internet\");\nvar Acces_RTC = global.get(\"RTC\");\n\nif ((Acces_Internet === true) && (Acces_RTC === true))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["de832832.73fe98"]]},{"id":"29e056e3.5c645a","type":"exec","z":"190732af.b72735","command":"sudo hwclock","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"lecture de l'heure RTC","x":240,"y":160,"wires":[["d7b99289.f743c8"],[],[]]},{"id":"d7b99289.f743c8","type":"function","z":"190732af.b72735","name":"Mise en forme","func":"var message = msg.payload;\n\nif (message !== \"\")\n{\n    var extract_date = message.split(' ');\n    \n    var extract_heure = extract_date[1].split('.');\n    \n    \n    var date = extract_date[0];\n    var heure = extract_heure[0];\n    \n    msg = {\n        heure:heure,\n        date:date\n    }\n    global.set(\"RTC\",true);\n    return msg;\n}\nelse\n{\n    global.set(\"RTC\",false);\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":160,"wires":[[]]},{"id":"ee429ed0.8aa41","type":"exec","z":"425afb1.4eacb04","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/wifi_mode_appairage.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mode appairage","x":560,"y":80,"wires":[[],[],["6db7fcf9.45e094"]]},{"id":"859f1a28.35fbb","type":"exec","z":"425afb1.4eacb04","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/restart_hostapd.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot hostapd","x":870,"y":80,"wires":[[],[],["ca4be3be.b1899"]]},{"id":"1f3d8bdc.29d9cc","type":"switch","z":"425afb1.4eacb04","name":"Mode wifi ?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"appairage","vt":"str"},{"t":"cont","v":"normal","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":80,"wires":[[],["ee429ed0.8aa41"]]},{"id":"85806132.e597c","type":"exec","z":"425afb1.4eacb04","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/afficher_mode_wifi.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"afficher wifi","x":220,"y":80,"wires":[["1f3d8bdc.29d9cc"],[],[]]},{"id":"298abb84.e982ac","type":"exec","z":"19a3abdf.bf45fc","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/afficher_mode_wifi.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"afficher wifi","x":150,"y":220,"wires":[["2fff0fb.883617"],[],[]]},{"id":"2fff0fb.883617","type":"switch","z":"19a3abdf.bf45fc","name":"Mode wifi ?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"appairage","vt":"str"},{"t":"cont","v":"normal","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":220,"wires":[["bd244c16.26e4d"],[]]},{"id":"17a359ac.3f290e","type":"exec","z":"19a3abdf.bf45fc","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/wifi_mode_domokit.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mode normal","x":760,"y":220,"wires":[[],[],["52d404a2.7eba4c"]]},{"id":"89b83fcd.e6c7b","type":"exec","z":"19a3abdf.bf45fc","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/restart_hostapd.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot hostapd","x":1060,"y":220,"wires":[[],[],["22fd86d6.b04dfa"]]},{"id":"bd244c16.26e4d","type":"exec","z":"19a3abdf.bf45fc","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/generation_uid_wifi.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi UID","x":480,"y":220,"wires":[[],[],["81dc6ec2.99ec48"]]},{"id":"52d404a2.7eba4c","type":"switch","z":"19a3abdf.bf45fc","name":"OK","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":220,"wires":[["89b83fcd.e6c7b"]]},{"id":"81dc6ec2.99ec48","type":"switch","z":"19a3abdf.bf45fc","name":"OK","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":220,"wires":[["17a359ac.3f290e"]]},{"id":"6db7fcf9.45e094","type":"switch","z":"425afb1.4eacb04","name":"OK","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":80,"wires":[["859f1a28.35fbb"]]},{"id":"5f9760ae.aea8f8","type":"exec","z":"39b15958.eab986","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/modifier_password_wifi_domokit.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"password wifi","x":220,"y":160,"wires":[[],[],["954d2547.a689c"]]},{"id":"22603d1b.4ae2d2","type":"switch","z":"39b15958.eab986","name":"OK","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":160,"wires":[["643772e2.1a08bc"]]},{"id":"643772e2.1a08bc","type":"exec","z":"39b15958.eab986","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/restart_hostapd.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot hostapd","x":1100,"y":160,"wires":[[],[],[]]},{"id":"79c7dccb.7e8364","type":"file in","z":"ab0f0e6a.c566a","name":"Récup de la clé","filename":"","format":"utf8","chunk":false,"sendError":false,"x":420,"y":120,"wires":[[]]},{"id":"81c6320b.efc96","type":"switch","z":"39b15958.eab986","name":"Mode wifi ?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"appairage","vt":"str"},{"t":"cont","v":"normal","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":160,"wires":[[],["a2ba8585.0fad"]]},{"id":"a2ba8585.0fad","type":"exec","z":"39b15958.eab986","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/wifi_mode_domokit.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mode normal","x":810,"y":160,"wires":[[],[],["22603d1b.4ae2d2"]]},{"id":"954d2547.a689c","type":"exec","z":"39b15958.eab986","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/afficher_mode_wifi.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"afficher wifi","x":450,"y":160,"wires":[["81c6320b.efc96"],[],[]]},{"id":"dd0fff3e.e94df","type":"function","z":"ab0f0e6a.c566a","name":"Cryptage des données","func":"var key     = Array.from(\"hello\");\nvar message = Array.from(msg.payload);\nvar resultat= \"\";\nvar i,k;\n\nk=0;\n\nfor (i = 0; i < message.length ; i++)\n{\n    // Cryptage de chaque caractère selon la clé \n    resultat += String.fromCharCode(message[i].charCodeAt() + key[k].charCodeAt());\n    k++;\n    if (k >= key.length)\n    {  \n        k = 0;\n    }\n}\n\nmsg.payload = resultat;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":180,"wires":[[]]},{"id":"19b66da8.b328a2","type":"function","z":"598d96b0.e1e97","name":"Decryptage des données","func":"var key     = Array.from(\"hello\");\nvar message = Array.from(msg.payload);\nvar resultat= \"\";\nvar i,k;\n\nk=0;\n\nfor (i = 0; i < message.length ; i++)\n{\n    // Cryptage de chaque caractère selon la clé \n    resultat += String.fromCharCode(message[i].charCodeAt() - key[k].charCodeAt());\n    k++;\n    if (k >= key.length)\n    {  \n        k = 0;\n    }\n}\n\nmsg.payload = resultat;\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":160,"wires":[[]]},{"id":"6de5f33.b74148c","type":"file in","z":"598d96b0.e1e97","name":"Récup de la clé","filename":"","format":"utf8","chunk":false,"sendError":false,"x":400,"y":120,"wires":[[]]},{"id":"1571d629.66f1b2","type":"function","z":"de072a78.51f8f","name":"Récupération de l'heure actuelle","func":"\nvar heure   = global.get('heure');\nvar minute  = global.get('minute');\nvar seconde = global.get('seconde');\n\nvar jour    = global.get('jour');\nvar mois    = global.get('mois');\nvar annee   = global.get('annee');\n\nvar date = new Date(annee, mois-1, jour, heure, minute, seconde, 0);\n\nvar index_jour_semaine = date.getDay();\nvar jour_semaine;\n\nswitch(index_jour_semaine)\n{\n    case 0: jour_semaine = \"dimanche\"; \n    break;\n    case 1: jour_semaine = \"lundi\"; \n    break;\n    case 2: jour_semaine = \"mardi\"; \n    break;\n    case 3: jour_semaine = \"mercredi\"; \n    break;\n    case 4: jour_semaine = \"jeudi\"; \n    break;\n    case 5: jour_semaine = \"vendredi\"; \n    break;\n    case 6: jour_semaine = \"samedi\"; \n    break;\n}\n\n\nmsg.horodate =\n{\n    strHeure : heure + ':' + minute + ':' + seconde,\n    heure:heure,\n    minute:minute,\n    seconde:seconde,\n    \n    strDate : jour + '/' + mois + '/' + annee,\n    jour:jour,\n    mois:mois,\n    annee:annee,\n    \n    jour_semaine:jour_semaine\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":140,"wires":[[]]},{"id":"5be2cb65.075624","type":"function","z":"e6b4e99b.cf25f8","name":"préparation de la trame MQTT","func":"var payload = msg.payload;\nvar infos_wifi = payload.split(\"\\n\");\nvar infos_ssid = infos_wifi[0].split(\"=\");\nvar infos_pass = infos_wifi[1].split(\"=\");\n\nmsg.payload = \"WIFI_DATA;\" + infos_ssid[1] + \";\" + infos_pass[1]\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[[]]},{"id":"e1fc0f0f.d6477","type":"file in","z":"e6b4e99b.cf25f8","name":"Récupération des infos wifi","filename":"/home/pi/.domokit/scripts/gestion_wifi/infos_wifi","format":"utf8","chunk":false,"sendError":false,"x":340,"y":140,"wires":[["5be2cb65.075624"]]},{"id":"a68405c7.d98568","type":"exec","z":"1420b0e6.19efe7","command":"sudo python /home/pi/.domokit/scripts/hat/ecran_lcd/lcd_write_all.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"lcd_write_all.py","x":720,"y":180,"wires":[[],[],[]]},{"id":"435afab8.9605e4","type":"delay","z":"2c1372f1.22912e","name":"Wait 3s","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":240,"wires":[["e7a7a620.fe019"]]},{"id":"4a079b01.25ce04","type":"switch","z":"2c1372f1.22912e","name":"bouton appuyé","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":240,"wires":[["435afab8.9605e4"]]},{"id":"2137b595.19059a","type":"switch","z":"2c1372f1.22912e","name":"Etat_Bouton","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"str"},{"t":"cont","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":180,"wires":[[],[]]},{"id":"c399b569.ed9fe","type":"function","z":"1420b0e6.19efe7","name":"mise en forme","func":"var ligne1 = msg.hat.lcd.ligne1;\nvar ligne2 = msg.hat.lcd.ligne2;\n\n\nmsg.payload = \"\\\"\" + ligne1 + \"\\\" \\\"\" + ligne2 + \"\\\"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["a68405c7.d98568"]]},{"id":"3e644177.e4a99e","type":"switch","z":"e97faffe.5385a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":260,"wires":[["6cf18c3.9fea174"],["1182e.fc78bfd2"],["9a2ba52b.7f6068"],["70dedaa4.92aacc"],["83b291d1.39a7b"]]},{"id":"6cf18c3.9fea174","type":"function","z":"e97faffe.5385a8","name":"Wifi","func":"var titre = \"Domokit\"\nvar valeur = global.get(\"rpi_ssid\");\n\nmsg =\n{\n    hat :\n    {\n        lcd :\n        {\n            \"ligne1\":titre,\n            \"ligne2\":valeur\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["55d5bcb.0f0c5c4"]]},{"id":"1182e.fc78bfd2","type":"function","z":"e97faffe.5385a8","name":"Temperature","func":"var titre = \"Temperature\";\nvar valeur = global.get(\"rpi_temperature\");\n\nmsg =\n{\n    hat :\n    {\n        lcd :\n        {\n            ligne1:titre,\n            ligne2:valeur\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":181,"wires":[["55d5bcb.0f0c5c4"]]},{"id":"9a2ba52b.7f6068","type":"function","z":"e97faffe.5385a8","name":"Date","func":"var titre = global.get(\"rpi_date\");\nvar valeur = global.get(\"rpi_heure\");\n\nmsg =\n{\n    hat :\n    {\n        lcd :\n        {\n            ligne1:titre,\n            ligne2:valeur\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["55d5bcb.0f0c5c4"]]},{"id":"70dedaa4.92aacc","type":"function","z":"e97faffe.5385a8","name":"CPU","func":"var titre = \"CPU\";\nvar valeur = global.get(\"rpi_cpu\");\n\nmsg =\n{\n    hat :\n    {\n        lcd :\n        {\n            ligne1:titre,\n            ligne2:valeur\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["55d5bcb.0f0c5c4"]]},{"id":"83b291d1.39a7b","type":"function","z":"e97faffe.5385a8","name":"Memoire","func":"var titre = \"Memoire\";\nvar valeur = global.get(\"rpi_memoire\");\n\nmsg =\n{\n    hat :\n    {\n        lcd :\n        {\n            ligne1:titre,\n            ligne2:valeur\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["55d5bcb.0f0c5c4"]]},{"id":"55d5bcb.0f0c5c4","type":"subflow:1420b0e6.19efe7","z":"e97faffe.5385a8","name":"","x":840,"y":240,"wires":[[]]},{"id":"6cb64bb4.fe61e4","type":"exec","z":"92cc1aa2.163068","command":"sudo python /home/pi/.domokit/scripts/hat/ecran_lcd/lcd_write_line.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"lcd_write_line.py","x":340,"y":120,"wires":[["6efdf2b3.922a94"],["6efdf2b3.922a94"],["6efdf2b3.922a94"]]},{"id":"6efdf2b3.922a94","type":"debug","z":"92cc1aa2.163068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]},{"id":"2940c32c.5113dc","type":"function","z":"92cc1aa2.163068","name":"mise en forme","func":"var texte = msg.lcd.texte;\nvar ligne = msg.lcd.ligne;\n\n\nmsg.payload = \"\\\"\" + texte + \"\\\" \" + ligne;\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["6cb64bb4.fe61e4"]]},{"id":"928951ef.dcd0f8","type":"file in","z":"682f5fa.dbda2a","name":"Infos Wifi","filename":"/home/pi/.domokit/scripts/gestion_wifi/infos_wifi","format":"lines","chunk":false,"sendError":false,"x":340,"y":180,"wires":[["b7e45da1.cba208"]]},{"id":"b7e45da1.cba208","type":"function","z":"682f5fa.dbda2a","name":"Mise en forme","func":"if (msg.parts.index === 0)\n{\n    var texte_brut = msg.payload;\n    var ssid = texte_brut.substring(14,22);\n    \n    if (ssid === \"\")\n    {\n        ssid = \"Erreur\";\n    }\n    var new_msg = \n    {\n        payload:ssid,\n    }\n    \n    \n    return new_msg;\n}","outputs":1,"noerr":0,"x":520,"y":180,"wires":[[]]},{"id":"e7a7a620.fe019","type":"exec","z":"2c1372f1.22912e","command":"sudo python /home/pi/test_ecran.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Défilement du text","x":550,"y":420,"wires":[["2137b595.19059a"],[],[]]},{"id":"6d9eb1a9.5aa86","type":"function","z":"bcbdd5eb.a20028","name":"fade in","func":"\n\n// Paramètre de transition\nvar MAX_BRIGHTESS = 50;\nvar step = 5;\n\n// Couleur initiale\nvar redValue = global.get(\"pwm_red\");\nvar blueValue = global.get(\"pwm_green\");\nvar greenValue = global.get(\"pwm_blue\");\n\nvar pwm_red_value = redValue;\nvar pwm_green_value = greenValue;\nvar pwm_blue_value = blueValue ;\n\n// Couleur à appliquer\nvar temp_redColor = msg.hat.led.red;\nvar temp_greenColor = msg.hat.led.green; \nvar temp_blueColor = msg.hat.led.blue;\n\nvar redColor = (temp_redColor > MAX_BRIGHTESS)?MAX_BRIGHTESS:temp_redColor;\nvar greenColor = (temp_greenColor > MAX_BRIGHTESS)?MAX_BRIGHTESS:temp_greenColor;\nvar blueColor = (temp_blueColor > MAX_BRIGHTESS)?MAX_BRIGHTESS:temp_blueColor;\n\n// Autres variables\nvar outputMsgs = [];\nvar i = 0;\n\n\nfor (i = 0; i < MAX_BRIGHTESS; i+=step)\n{\n    // RED\n    if(redColor > redValue){\n        if(pwm_red_value< redColor)\n        {\n            pwm_red_value +=step;\n        }\n    }\n    else\n    {\n        if(pwm_red_value > redColor)\n        {\n            pwm_red_value -=step;\n        }\n    }\n    // GREEN\n    if(greenColor > greenValue){\n        if(pwm_green_value< greenColor)\n        {\n            pwm_green_value +=step;\n        }\n    }\n    else\n    {\n        if(pwm_green_value > greenColor)\n        {\n            pwm_green_value -=step;\n        }\n    }\n    \n    // BLUE\n    if(blueColor > blueValue){\n        if(pwm_blue_value < blueColor)\n        {\n            pwm_blue_value +=step;\n        }\n    }\n    else\n    {\n        if(pwm_blue_value > blueColor)\n        {\n            pwm_blue_value -=step;\n        }\n    }\n    \n    outputMsgs.push(\n    {\n        color:{\n            red:pwm_red_value,\n            blue:pwm_blue_value,\n            green:pwm_green_value\n        }\n    }\n    );\n}\n\nglobal.set(\"pwm_red\",pwm_red_value);\nglobal.set(\"pwm_green\",pwm_blue_value);\nglobal.set(\"pwm_blue\",pwm_green_value);\n\n\noutputMsgs.push(\n    {\n        finish:'1'\n    });\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["209f13db.3a58bc"]]},{"id":"209f13db.3a58bc","type":"delay","z":"bcbdd5eb.a20028","name":"transition","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.05","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":160,"wires":[["1114e50b.3dff03"]]},{"id":"e0f97e17.0cf598","type":"function","z":"bcbdd5eb.a20028","name":"rouge","func":"var color = msg.color.red;\n\n\nmsg = {\n    payload : color\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":100,"wires":[[]]},{"id":"95fc28c3.363898","type":"function","z":"bcbdd5eb.a20028","name":"vert","func":"var color = msg.color.green;\n\n\nmsg = {\n    payload : color\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[[]]},{"id":"c0fb8d6b.d11db","type":"function","z":"bcbdd5eb.a20028","name":"bleu","func":"var color = msg.color.blue;\n\n\nmsg = {\n    payload : color\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[[]]},{"id":"1114e50b.3dff03","type":"switch","z":"bcbdd5eb.a20028","name":"","property":"finish","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":160,"wires":[["95fc28c3.363898","e0f97e17.0cf598","c0fb8d6b.d11db"],["ca075209.e0d738"]]},{"id":"ca075209.e0d738","type":"function","z":"bcbdd5eb.a20028","name":"fin du bloc","func":"var finish = msg.finish;\n\nif (finish == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":880,"y":300,"wires":[[]]},{"id":"ffff54af.6b8858","type":"subflow:bcbdd5eb.a20028","z":"745cc5e5.e27434","name":"","x":580,"y":360,"wires":[[],[],[],["beb3e5c1.ea098"]]},{"id":"fc08e46.eaa9218","type":"function","z":"745cc5e5.e27434","name":"couleur","func":"var red = flow.get(\"red\");\nvar green = flow.get(\"green\");\nvar blue = flow.get(\"blue\");\nvar enable = flow.get(\"enable\");\n\nmsg = {\n    hat:{\n        led:{\n            red:red,\n            green:green,\n            blue:blue\n        }\n    },\n    enable:enable\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["1e0fa1ca.ebbc06"]]},{"id":"6ddd54a0.b6cb74","type":"function","z":"745cc5e5.e27434","name":"sauvegarde des paramètres","func":"// 1 ou 0\nvar enable = msg.hat.led.enable;\n\nvar red = msg.hat.led.red;\nvar green = msg.hat.led.green;\nvar blue = msg.hat.led.blue;\n\nflow.set(\"red\",red);\nflow.set(\"green\",green);\nflow.set(\"blue\",blue);\nflow.set(\"enable\",enable);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["fc08e46.eaa9218"]]},{"id":"beb3e5c1.ea098","type":"function","z":"745cc5e5.e27434","name":"noir","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:0,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["71062815.265b68"]]},{"id":"71062815.265b68","type":"subflow:bcbdd5eb.a20028","z":"745cc5e5.e27434","name":"","x":960,"y":360,"wires":[[],[],[],["fc08e46.eaa9218"]]},{"id":"1e0fa1ca.ebbc06","type":"switch","z":"745cc5e5.e27434","name":"","property":"enable","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":360,"wires":[["ffff54af.6b8858"]]},{"id":"425cc1f3.31e128","type":"file in","z":"e1fca2dc.afea6","name":"Product","filename":"/proc/device-tree/hat/product","format":"utf8","chunk":false,"sendError":false,"x":420,"y":220,"wires":[["17aeb3b8.40a434","41d074d6.c709a4"]]},{"id":"17aeb3b8.40a434","type":"file in","z":"e1fca2dc.afea6","name":"id","filename":"/proc/device-tree/hat/product_id","format":"utf8","chunk":false,"sendError":false,"x":550,"y":220,"wires":[["d8037380.a4a0e8","41d074d6.c709a4"]]},{"id":"d8037380.a4a0e8","type":"file in","z":"e1fca2dc.afea6","name":"version","filename":"/proc/device-tree/hat/product_ver","format":"utf8","chunk":false,"sendError":false,"x":680,"y":220,"wires":[["a290d6b9.017b88","41d074d6.c709a4"]]},{"id":"a290d6b9.017b88","type":"file in","z":"e1fca2dc.afea6","name":"uuid","filename":"/proc/device-tree/hat/uuid","format":"utf8","chunk":false,"sendError":false,"x":810,"y":220,"wires":[["8a1375eb.6cd5d","41d074d6.c709a4"]]},{"id":"8a1375eb.6cd5d","type":"file in","z":"e1fca2dc.afea6","name":"Vendor","filename":"/proc/device-tree/hat/vendor","format":"utf8","chunk":false,"sendError":false,"x":940,"y":220,"wires":[["41d074d6.c709a4"]]},{"id":"81222d73.b707a","type":"file in","z":"e1fca2dc.afea6","name":"Name","filename":"/proc/device-tree/hat/name","format":"utf8","chunk":false,"sendError":true,"x":290,"y":220,"wires":[["41d074d6.c709a4","425cc1f3.31e128"]]},{"id":"296f593f.14d4b6","type":"function","z":"e1fca2dc.afea6","name":"Mise en forme","func":"var result = msg.payload;\n\nif(result.length>2)\n{\n    var name = result[1];\n    var product = result[2];\n    var product_id = result[3];\n    var product_version = result[4];\n    var product_uuid = result[5];\n    var vendor = result[6];\n    \n    \n    msg = {\n        hat:{\n            info:{\n                name:name,\n                product:product,\n                id:product_id,\n                version:product_version,\n                uuid:product_uuid,\n                vendor:vendor\n            }\n        }\n    }\n}\nelse{\n    msg={\n        payload:\"no hat found\"\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":40,"wires":[[]]},{"id":"41d074d6.c709a4","type":"join","z":"e1fca2dc.afea6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":770,"y":40,"wires":[["296f593f.14d4b6"]]},{"id":"ce2b3da7.62a2d8","type":"function","z":"e1fca2dc.afea6","name":"trigger","func":"\nmsg.payload = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["41d074d6.c709a4","81222d73.b707a"]]},{"id":"50cdc2b0.0a421c","type":"delay","z":"9ba64c43.2523e","name":"Appui 5s","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":140,"wires":[["21139740.6afd68"]]},{"id":"21139740.6afd68","type":"exec","z":"9ba64c43.2523e","command":"sudo python /home/pi/.domokit/scripts/hat/ecran_lcd/read_pin.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"On relit l'état du bouton","x":860,"y":140,"wires":[["53f09bc2.d29574"],[],[]]},{"id":"50ef5900.171718","type":"switch","z":"9ba64c43.2523e","name":"bouton appuyé","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":140,"wires":[["d2395d57.3c769"]]},{"id":"53f09bc2.d29574","type":"switch","z":"9ba64c43.2523e","name":"Etat_Bouton","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":120,"wires":[[]]},{"id":"36418be0.260ff4","type":"comment","z":"9ba64c43.2523e","name":"On vérifie que l'état du bouton est toujours '1'","info":"","x":1130,"y":80,"wires":[]},{"id":"bd8333bd.7069d8","type":"function","z":"1f72b688.758149","name":"HAT check","func":"var hatPresent = global.get(\"HAT\");\n\nif (hatPresent){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":210,"y":40,"wires":[[]]},{"id":"8207983b.85da68","type":"function","z":"a78e49e6.571908","name":"ChercherTile","func":"// Acquisition des infos\nvar Addr_Mac = msg.payload.Addr_MAC;\n\nvar ID = msg.tile.ID;\n// Création de la requête SQL\n\nvar search_item = \n\"(SELECT idObjets_Connectes FROM Objets_Connectes WHERE Adresse_MAC = \\\"\" + Addr_Mac + \"\\\")\"\n\nvar search_idTile =\n\"SELECT idTile FROM Tile WHERE (Objets_Connectes_idObjets_Connectes = \"+ search_item + \") AND (ID = \\\"\" + ID + \"\\\")\"\n\n\nmsg.topic = search_idTile;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["d4c625b9.5a4488"]]},{"id":"d4c625b9.5a4488","type":"mysql","z":"a78e49e6.571908","mydb":"85a9ea73.8124d8","name":"","x":800,"y":180,"wires":[["6fdb5d3d.34e054"]]},{"id":"4c2c5e01.ebe91","type":"function","z":"a78e49e6.571908","name":"AjouterTile","func":"var Addr_MAC = msg.Addr_MAC;\nvar ID = msg.tile.ID;\nvar attribut =  msg.tile.attribut;\nvar valeur  =  msg.tile.valeur;\n\nvar columns = \"Objets_Connectes_idObjets_Connectes,ID,\"+attribut;\n\nvar search_item = \n\"(SELECT idObjets_Connectes FROM Objets_Connectes WHERE Adresse_MAC = \\\"\" + Addr_MAC + \"\\\")\"\n\nvar values = search_item + \",\\\"\" + ID + \"\\\",\\\"\" + valeur + \"\\\"\";\n\nvar requete =\n\"INSERT INTO Tile (\"+ columns +\") VALUES (\"+ values +\");\";\n\nmsg.topic = requete;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":140,"wires":[["9b83b86e.6c0518"]]},{"id":"993cb67b.47cc18","type":"function","z":"a78e49e6.571908","name":"UpdateTile","func":"var Addr_MAC = msg.Addr_MAC;\nvar ID = msg.tile.ID;\nvar attribut =  msg.tile.attribut;\nvar valeur  =  msg.tile.valeur;\n\nvar idTile = msg.payload[0].idTile;\n\nvar search_item = \n\"(SELECT idObjets_Connectes FROM Objets_Connectes WHERE Adresse_MAC = \\\"\" + Addr_MAC + \"\\\")\"\nvar values = \"Objets_Connectes_idObjets_Connectes = \"+ search_item ;\n\nvalues+= \",ID =\\\"\"+ID+\"\\\",\" + attribut + \"=\\\"\" + valeur + \"\\\"\";\n\nvar requete =\n\"UPDATE Tile SET \"+ values + \" WHERE idTile = \\\"\" + idTile + \"\\\"\";\n\nmsg.topic = requete;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[["9b83b86e.6c0518"]]},{"id":"6fdb5d3d.34e054","type":"switch","z":"a78e49e6.571908","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":180,"wires":[["4c2c5e01.ebe91"],["993cb67b.47cc18"]]},{"id":"9b83b86e.6c0518","type":"mysql","z":"a78e49e6.571908","mydb":"85a9ea73.8124d8","name":"","x":1240,"y":180,"wires":[[]]},{"id":"ca1b4142.7577e","type":"subflow:232ae153.99a286","z":"a78e49e6.571908","name":"","x":300,"y":200,"wires":[["c9841e8b.ecaa4"]]},{"id":"6b811cb1.250184","type":"function","z":"a78e49e6.571908","name":"MoF","func":"var i = 0;\n\n// Acquisition du message MQTT\nvar payload = msg.payload;\nvar topic = msg.topic;\n\nvar Info_topic  = topic.split(\"/\");\nvar Info_payload = payload.split(\";\");\n\n\n// Extraction des infos pertinentes\nvar Addr_Mac = Info_topic[Info_topic.length - 1];\n\nvar ID = Info_payload[i++]\nvar attribut = Info_payload[i++];\nvar valeur  = Info_payload[i++];\n\n// Création du message\nmsg= {\n    payload:{\n        Addr_MAC:Addr_Mac\n    },\n    Addr_MAC:Addr_Mac,\n    tile:{\n        ID:       ID,\n        attribut: attribut,\n        valeur: valeur\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":200,"wires":[["ca1b4142.7577e"]]},{"id":"eb5a5110.9d1bf","type":"function","z":"a78e49e6.571908","name":"SupprimerTile","func":"var Addr_Mac = msg.payload.Addr_MAC;\n\nvar search_item = \n\"(SELECT idObjets_Connectes FROM Objets_Connectes WHERE Adresse_MAC = \\\"\" + Addr_Mac + \"\\\")\"\n\nvar requete = \"DELETE * FROM Tile WHERE Objets_Connectes_idObjets_Connectes = \\\"\" + search_item + \"\\\";\"\n\nmsg.topic=requete;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["1619ca2b.924d26"]]},{"id":"1619ca2b.924d26","type":"mysql","z":"a78e49e6.571908","mydb":"85a9ea73.8124d8","name":"","x":880,"y":300,"wires":[[]]},{"id":"c9841e8b.ecaa4","type":"switch","z":"a78e49e6.571908","name":"","property":"tile.attribut","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"delete","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":200,"wires":[["8207983b.85da68"],["eb5a5110.9d1bf"]]},{"id":"6fa8e049.f4555","type":"function","z":"a8dbe838.011b78","name":"intentName","func":"var M1 = {};\n\nM1.payload = msg.payload.intent.intentName;\n\nglobal.set(\"GlobalAction\", M1.payload);\n\nreturn M1;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["b57acf13.7ac8"]]},{"id":"1a834209.90b98e","type":"json","z":"a8dbe838.011b78","name":"","property":"payload","action":"","pretty":false,"x":190,"y":160,"wires":[["6fa8e049.f4555"]]},{"id":"b57acf13.7ac8","type":"function","z":"a8dbe838.011b78","name":"Instruction","func":"var etatLampeDemande = {};\n\nif (global.get(\"GlobalAction\").indexOf(\"TurnOffLights\") != -1)\n{\n    etatLampeDemande.payload = 0;\n    \n}\nelse if (global.get(\"GlobalAction\").indexOf(\"TurnOnSetLight\") != -1)\n{   \n    etatLampeDemande.payload = 1;\n}\nelse\n{\n    etatLampeDemande.payload = 2;\n}\n\nglobal.set(\"etatLampeDemande\", etatLampeDemande.payload);\nreturn etatLampeDemande;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[[]]},{"id":"72b77b43.558144","type":"mqtt in","z":"86f06be0.6c0be8","name":"","topic":"hermes/asr/textCaptured","qos":"2","broker":"4d5a27f7.3e01d8","x":150,"y":200,"wires":[["f9b1fc58.b7ad7"]]},{"id":"f9b1fc58.b7ad7","type":"debug","z":"86f06be0.6c0be8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":200,"wires":[]},{"id":"8b3811a6.02b3d","type":"mqtt in","z":"86f06be0.6c0be8","name":"","topic":"hermes/hotword/detected","qos":"2","broker":"4d5a27f7.3e01d8","x":150,"y":120,"wires":[["42e536df.d27e28"]]},{"id":"42e536df.d27e28","type":"debug","z":"86f06be0.6c0be8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"3893764c.5ade1a","type":"inject","z":"146f1054.19c988","name":"tick 15","topic":"","payload":"","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":"1","x":100,"y":240,"wires":[["f12efa26.2009b","71bea342.417544","6faf618a.77b43","abdd1de.6d6126"]]},{"id":"f12efa26.2009b","type":"exec","z":"146f1054.19c988","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu temperature","x":300,"y":300,"wires":[["9f146914.7fb5a8"],[],[]]},{"id":"9f146914.7fb5a8","type":"function","z":"146f1054.19c988","name":"format temperature","func":"msg.topic = global.get(\"Main_Topic\") + \"/rpi/temperature\";\nmsg.payload = msg.payload.slice(5,-3);\n\nvar texte = msg.payload + \" °C\";\nvar temp = msg.payload + \" Deg Celsius\";\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\n// sauvegarde du résultat dans une variable globale\nglobal.set(\"rpi_temperature\",temp);\n\nreturn msg;","outputs":"1","noerr":0,"x":510,"y":300,"wires":[["80c20422.67fb08","7bf18e38.7d75c"]]},{"id":"979a1e8e.719148","type":"exec","z":"146f1054.19c988","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1280,"y":280,"wires":[[],[],[]]},{"id":"80c20422.67fb08","type":"function","z":"146f1054.19c988","name":"sécurité temperature","func":"// Si la température du Rpi dépasse les 60°C\n// C'est qu'il y a un problème.\nif (msg.payload > 70)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":740,"y":300,"wires":[["2987525b.85b5ae"]]},{"id":"a72db037.e2bc18","type":"function","z":"146f1054.19c988","name":"Memoire","func":"\nmsg.topic = global.get(\"Main_Topic\") + \"/rpi/memoire\";\n\nvar x = msg.payload[0].used / 1000000;\nvar y =  msg.payload[0].available / 1000000 ;\n\nvar size_used = x.toFixed(2);\nvar SD_Size =  x + y;\nSD_Size = SD_Size.toFixed(2);\nglobal.set(\"SD_Size\", SD_Size);\n\nmsg.payload = size_used;\n\nvar texte = size_used + \"/\" + SD_Size + \" Go\";\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\n\n// Sauvegarde du résultat dans une variable globale\nglobal.set(\"rpi_memoire\",texte);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["7bf18e38.7d75c"]]},{"id":"177c0c7b.7e426c","type":"ping","z":"146f1054.19c988","name":"Ping","host":"8.8.8.8","timer":"15","x":150,"y":560,"wires":[["e6867373.fab57","cab8acd1.297f9"]]},{"id":"7bf18e38.7d75c","type":"mqtt out","z":"146f1054.19c988","name":"","topic":"","qos":"","retain":"false","broker":"4d5a27f7.3e01d8","x":750,"y":240,"wires":[]},{"id":"43e1aedc.8624a8","type":"mqtt out","z":"146f1054.19c988","name":"","topic":"","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":570,"y":560,"wires":[]},{"id":"b4b49796.44596","type":"mqtt in","z":"31d0efbf.725fe8","name":"","topic":"domokit/interruption/+","qos":"2","broker":"4d5a27f7.3e01d8","x":120,"y":180,"wires":[["ce6c17ea.09a728","5c7b5e20.63b608","8ee50534.1f8348"]]},{"id":"9d46d7b4.8e02b","type":"e-mail","z":"31d0efbf.725fe8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":910,"y":120,"wires":[]},{"id":"9e527493.8e5ad8","type":"function","z":"31d0efbf.725fe8","name":"Mise en forme mail","func":"// Titre\nvar prefix = \"domoticpi/alarme/\";\nvar Titre = msg.topic.slice(prefix.length,msg.topic.length);\n\n\n// Mail\n\n//msg.cc = message.cc;\n\n\nmsg.topic = \"[ALERTE \" + Titre.toUpperCase() + \"]\";\n\n// Message\nmsg.payload = \n\"<p>Bonjour,</p>\"+\n\"<p>Une alerte a été lancée par l'un de vos objets connectés. </p>\"+\n\"<p><b> Date  : \"+ msg.payload.date         + \"</b></p>\"+\n\"<p><b> Heure : \"+ msg.payload.heure      + \"</b></p>\"+\n\"<p><b> Info  : \"+ msg.payload.information  + \"</b></p>\"+\n\"<p></p>\"+\n\"<p>(Message automatique généré par votre box DomoKit) </p>\"+\n\"<p> DomoKit - Thomas Broussard et Samir Kherchaoui - 2018 </p>\"\n;\n\n\n//msg.attachments = message.attachments;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":140,"wires":[[]]},{"id":"a9e595f4.dcd48","type":"comment","z":"31d0efbf.725fe8","name":"Envoi des notifications","info":"","x":970,"y":60,"wires":[]},{"id":"5148a069.1ee7e8","type":"comment","z":"146f1054.19c988","name":"Test de la connexion internet","info":"","x":570,"y":480,"wires":[]},{"id":"ad7e9835.b89268","type":"comment","z":"146f1054.19c988","name":"Etat de santé du Rpi","info":"","x":560,"y":60,"wires":[]},{"id":"fee5f27.5a7b91","type":"comment","z":"46ca8ff5.fe573","name":"Recherche de l'id d'une gare RER  à partir de son nom","info":"","x":210,"y":680,"wires":[]},{"id":"4a5c32a5.f54dd4","type":"comment","z":"46ca8ff5.fe573","name":"Recherche du prochain itinéraire entre deux gares (définies par leurs id)","info":"","x":270,"y":500,"wires":[]},{"id":"d21a66b0.e75de8","type":"comment","z":"46ca8ff5.fe573","name":"Gare de destination ","info":"","x":100,"y":820,"wires":[]},{"id":"d3c988c9.bb66c","type":"comment","z":"46ca8ff5.fe573","name":"Gare de départ","info":"","x":90,"y":720,"wires":[]},{"id":"aa7e0b56.aad4b8","type":"mqtt in","z":"46ca8ff5.fe573","name":"Gare Arrivée","topic":"domokit/trajet_quotidien/arrivee/gare","qos":"2","broker":"4d5a27f7.3e01d8","x":100,"y":860,"wires":[["1c235922.084d1f"]]},{"id":"64c88e3e.2f8e38","type":"mqtt in","z":"46ca8ff5.fe573","name":"Gare Départ","topic":"domokit/trajet_quotidien/depart/gare","qos":"2","broker":"4d5a27f7.3e01d8","x":90,"y":760,"wires":[["805ac825.a5ce"]]},{"id":"896b4f04.05196","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/trajet_quotidien/depart/horaire","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":930,"y":520,"wires":[]},{"id":"39a4c87.3032938","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/trajet_quotidien/arrivee/horaire","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":930,"y":560,"wires":[]},{"id":"f8d2499d.48b78","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/trajet_quotidien/temps","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":900,"y":600,"wires":[]},{"id":"b5bd5227.d99258","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/trajet_quotidien/arrivee/gare","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":840,"y":860,"wires":[]},{"id":"805ac825.a5ce","type":"delay","z":"46ca8ff5.fe573","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":760,"wires":[["c85d21ac.ab0408"]]},{"id":"b411f1db.ab138","type":"inject","z":"46ca8ff5.fe573","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":80,"y":560,"wires":[["4d530b86.0e1f6c"]]},{"id":"26b5bf95.5a1d5","type":"comment","z":"46ca8ff5.fe573","name":"Horaires de trains SNCF","info":"","x":620,"y":420,"wires":[]},{"id":"16335217.9550a6","type":"comment","z":"46ca8ff5.fe573","name":"==============================================================================================================================================================","info":"","x":640,"y":460,"wires":[]},{"id":"94c9cfb2.6ef4e","type":"comment","z":"46ca8ff5.fe573","name":"==============================================================================================================================================================","info":"","x":640,"y":380,"wires":[]},{"id":"7445a80f.62946","type":"function","z":"46ca8ff5.fe573","name":"Requete","func":"var Numero_Suivi = global.get('Colissimo') | 0;\nvar requete = \"https://\" + msg.payload[1].Colissimo.requete + Numero_Suivi;\n\nmsg = {\n    'url' : requete,\n    'headers': {'X-Okapi-Key': msg.payload[1].Colissimo.API_KEY}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1120,"wires":[["fa395cfe.0178d"]]},{"id":"fa395cfe.0178d","type":"http request","z":"46ca8ff5.fe573","name":"API COLISSIMO","method":"GET","ret":"obj","url":"","tls":"","x":870,"y":1120,"wires":[["4cd393b4.731084","e25e5655.71d43"]]},{"id":"4cd393b4.731084","type":"template","z":"46ca8ff5.fe573","name":"Message ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message}}","output":"str","x":1060,"y":1120,"wires":[["4aa1ae8e.f684c8"]]},{"id":"e25e5655.71d43","type":"template","z":"46ca8ff5.fe573","name":"Code","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.code}}","output":"str","x":1050,"y":1160,"wires":[["7f0696fb.87c4e"]]},{"id":"7f0696fb.87c4e","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/Colissimo/code","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":1250,"y":1160,"wires":[]},{"id":"4aa1ae8e.f684c8","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/Colissimo/message","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":1260,"y":1120,"wires":[]},{"id":"4f387d83.18f30c","type":"mqtt in","z":"46ca8ff5.fe573","name":"","topic":"domokit/Colissimo/suivi","qos":"2","broker":"4d5a27f7.3e01d8","x":120,"y":1120,"wires":[["5c3a5df3.9cd334"]]},{"id":"5c3a5df3.9cd334","type":"function","z":"46ca8ff5.fe573","name":"sauvegarde n° suivi","func":"global.set('Colissimo',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1120,"wires":[["517ab62.7cbd248"]]},{"id":"cdd26619.8e5e","type":"inject","z":"46ca8ff5.fe573","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1160,"wires":[["57269d1c.99b274"]]},{"id":"5b9081c4.d9a2b","type":"comment","z":"46ca8ff5.fe573","name":"Suivi Colissimo","info":"","x":670,"y":1020,"wires":[]},{"id":"b7f4beb9.cbb288","type":"comment","z":"46ca8ff5.fe573","name":"==============================================================================================================================================================","info":"","x":720,"y":1060,"wires":[]},{"id":"fc38111c.68e09","type":"comment","z":"46ca8ff5.fe573","name":"==============================================================================================================================================================","info":"","x":720,"y":980,"wires":[]},{"id":"f155d022.853f08","type":"comment","z":"ca90d0b9.3a039","name":"Commandes dédiées à la caméra","info":"","x":640,"y":360,"wires":[]},{"id":"856a5b93.22e1f8","type":"mqtt in","z":"ca90d0b9.3a039","name":"Commande reçue sur MQTT","topic":"domokit/camera/commande/+","qos":"2","broker":"4d5a27f7.3e01d8","x":150,"y":440,"wires":[["efa435cd.f09778"]]},{"id":"79ec4297.d1fb2c","type":"delay","z":"ca90d0b9.3a039","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":140,"wires":[["3b399851.63f188"]]},{"id":"48a284a7.7ca90c","type":"inject","z":"ca90d0b9.3a039","name":"Start Consumer","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":140,"wires":[["62415d00.828f64"]]},{"id":"37fe1d9.8458962","type":"inject","z":"ca90d0b9.3a039","name":"Stop Consumer","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":180,"wires":[["62415d00.828f64"]]},{"id":"62415d00.828f64","type":"function","z":"ca90d0b9.3a039","name":"start/stop","func":"if(msg.payload == \"start\"){\n    msg = {\n        stop : false\n    }\n    return msg;\n}\nelse if (msg.payload == \"stop\"){\n    msg = {\n        stop : true\n    }\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["500aa6d3.ab4498"]]},{"id":"b2ac35b5.2cff4","type":"comment","z":"ca90d0b9.3a039","name":"Stream vidéo d'une caméra","info":"","x":630,"y":60,"wires":[]},{"id":"d2a4f292.6aa6a8","type":"comment","z":"ca90d0b9.3a039","name":"Images par secondes","info":"","x":840,"y":180,"wires":[]},{"id":"616f9c0.00d8fe4","type":"function","z":"ca90d0b9.3a039","name":"cmd","func":"if (msg.payload == \"1\"){\n    msg.payload = \"start\";\n\n    return msg;\n}\nelse if (msg.payload == \"0\")\n{\n    msg.payload = \"stop\";\n    return msg;\n}","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["62415d00.828f64"]]},{"id":"dd7c1a36.b0a6e8","type":"mqtt in","z":"ca90d0b9.3a039","name":"activation","topic":"domokit/camera/commande/activation","qos":"2","broker":"4d5a27f7.3e01d8","x":60,"y":220,"wires":[["616f9c0.00d8fe4"]]},{"id":"3b399851.63f188","type":"function","z":"ca90d0b9.3a039","name":"Anti-redondance","func":"if (msg.payload !== undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":140,"wires":[["95171fc5.e8669"]]},{"id":"500aa6d3.ab4498","type":"function","z":"ca90d0b9.3a039","name":"Infos Caméra","func":"var IP      = global.get(\"IP_Camera_Actuelle\");          //\"192.168.100.18\";\nvar Port    = global.get(\"Port_Camera_Actuelle\") | 0;      // 12881\n\nvar login = \"domokit\";\nvar password = \"domokit\";\n\nvar requete = \"http://\" + IP + \":\" + Port + \"/videostream.cgi?loginuse=\" + login + \"&loginpas=\" + password ;\n\nmsg.url = requete;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["d257f5a6.0be4d8"]]},{"id":"efa435cd.f09778","type":"function","z":"ca90d0b9.3a039","name":"décodage de la commande","func":"var extract = msg.topic;\nvar reception = extract.split(\"/\");\nvar commande = reception[reception.length -1];\n\n\nnode.status({fill:\"blue\",shape:\"dot\",text:commande});\n\n// Choix de la caméra\nif (commande == \"choix_camera_ok\")\n{\n    global.set(\"Nom_Camera_Actuelle\",msg.nom);\n    global.set(\"IP_Camera_Actuelle\",msg.IP);\n    global.set(\"Port_Camera_Actuelle\",msg.Port);\n}\n\n// Sauvegarde de la vitesse\nelse if (commande == \"vitesse\")\n{\n    global.set(\"vitesse_camera\",msg.payload);\n}\n\n// Mouvement de la caméra\nelse if ((commande == \"haut\")||(commande == \"bas\")||(commande == \"gauche\")||(commande == \"droite\")){\n    // chargement de la config\n    msg.payload ={\n        direction : commande,\n        vitesse : global.get(\"vitesse_camera\")|1,\n        commande : commande\n    }\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["6658a65e.c1975"]]},{"id":"95171fc5.e8669","type":"mqtt out","z":"ca90d0b9.3a039","name":"","topic":"domoticpi/camera/stream/camera_actuelle","qos":"","retain":"false","broker":"4d5a27f7.3e01d8","x":1310,"y":140,"wires":[]},{"id":"dafc519a.63b","type":"comment","z":"ca90d0b9.3a039","name":"Correction de la dérive de l'horloge","info":"","x":610,"y":860,"wires":[]},{"id":"ebabfaa2.24e0a","type":"inject","z":"ca90d0b9.3a039","name":"","topic":"","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":940,"wires":[["7ab090d5.cd9ea"]]},{"id":"80814a5e.f2512","type":"http request","z":"ca90d0b9.3a039","name":"envoi de la commande à la caméra","method":"GET","ret":"txt","url":"","tls":"","x":700,"y":940,"wires":[[]]},{"id":"3fc2b21b.858efe","type":"function","z":"146f1054.19c988","name":"CPU","func":"var texte = msg.payload.memusage + \"%\";\n\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\nmsg = {\n    payload : msg.payload.memusage,\n    topic : global.get(\"Main_Topic\") + \"/rpi/cpu\"\n}\n\n// sauvegarde du résultat dans une variable globale\nglobal.set(\"rpi_cpu\",texte);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["7bf18e38.7d75c"]]},{"id":"8e5d96b5.796948","type":"link in","z":"ca90d0b9.3a039","name":"Choix_Camera","links":["2aa6c58.117b0ba"],"x":235,"y":480,"wires":[["efa435cd.f09778"]]},{"id":"433499cb.f34a5","type":"comment","z":"ca90d0b9.3a039","name":"Choix Caméra","info":"","x":140,"y":480,"wires":[]},{"id":"ff87309.1932f5","type":"function","z":"ca90d0b9.3a039","name":"Création de la commande","func":"// Voir tuto API cameras : http://tutoriels.domotique-store.fr/content/87/200/fr/api-des-cameras-ip-wanscam.html\n\n// Paramètres réseau\nvar IP = global.get(\"IP_Camera_Actuelle\");     \nvar Port = global.get(\"Port_Camera_Actuelle\");  \n\n// Authentification \nvar login = global.get(\"Login_Camera_Actuelle\");   \nvar password = global.get(\"Password_Camera_Actuelle\");   \n\n// Commandes \nvar direction = msg.payload.direction;\nvar step = msg.payload.vitesse;\nvar cmd_direction;\n\n// Sélection de la direction\n     if (direction == \"haut\")\n    cmd_direction = 0;\nelse if (direction == \"bas\")\n    cmd_direction = 2;\nelse if (direction == \"gauche\")\n    cmd_direction = 4;\nelse if (direction == \"droite\")\n    cmd_direction = 6;\n    \n// On borne la vitesse de déplacement (entre 1 et 10)\nif (step > 10)\n    step = 10;\nif (step <= 0)\n    step = 1;\n\nvar requete = \"http://\" + IP + \":\" + Port + \"/decoder_control.cgi?command=\"+ cmd_direction + \"&onestep=\" + step + \"&loginuse=\"+ login +\"&loginpas=\" + password;\n\nmsg = {\n    url : requete\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":720,"wires":[["a219fc05.c98838"]]},{"id":"a219fc05.c98838","type":"http request","z":"ca90d0b9.3a039","name":"","method":"GET","ret":"txt","url":"","tls":"","x":720,"y":720,"wires":[[]]},{"id":"795e338.d2065cc","type":"comment","z":"ca90d0b9.3a039","name":"Envoi de commandes à la caméra","info":"","x":640,"y":640,"wires":[]},{"id":"6658a65e.c1975","type":"link out","z":"ca90d0b9.3a039","name":"Envoi_Commande_Camera","links":["f393d4fd.05cd8"],"x":595,"y":440,"wires":[]},{"id":"f393d4fd.05cd8","type":"link in","z":"ca90d0b9.3a039","name":"Envoi_Commande_Camera","links":["6658a65e.c1975"],"x":235,"y":720,"wires":[["ff87309.1932f5","dfc47447.0606c"]]},{"id":"59e943c8.d2cd2c","type":"comment","z":"ca90d0b9.3a039","name":"Commande Caméra","info":"","x":710,"y":440,"wires":[]},{"id":"e3b7adc3.4eec88","type":"comment","z":"ca90d0b9.3a039","name":"Commande Caméra","info":"","x":120,"y":720,"wires":[]},{"id":"4d530b86.0e1f6c","type":"file in","z":"46ca8ff5.fe573","name":"API key","filename":"/home/pi/configuration/API_keys","format":"utf8","chunk":false,"sendError":false,"x":220,"y":560,"wires":[["5bd574bc.7d9dd4"]]},{"id":"5bd574bc.7d9dd4","type":"json","z":"46ca8ff5.fe573","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":560,"wires":[["81edcc47.e9f5c"]]},{"id":"4243b0f1.a75f3","type":"json","z":"46ca8ff5.fe573","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":1160,"wires":[["517ab62.7cbd248"]]},{"id":"7418f73.64daa08","type":"file in","z":"46ca8ff5.fe573","name":"API key","filename":"/home/pi/configuration/API_keys","format":"utf8","chunk":false,"sendError":false,"x":350,"y":1160,"wires":[["4243b0f1.a75f3"]]},{"id":"57269d1c.99b274","type":"delay","z":"46ca8ff5.fe573","name":"delay","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":1160,"wires":[["7418f73.64daa08"]]},{"id":"517ab62.7cbd248","type":"join","z":"46ca8ff5.fe573","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":1120,"wires":[["7445a80f.62946"]]},{"id":"1c864795.34f4f8","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":740,"y":20,"wires":[]},{"id":"e65c9e36.aeb22","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":740,"y":100,"wires":[]},{"id":"1244cde9.ee5d7a","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":710,"y":440,"wires":[]},{"id":"5d2ab32.6fe2b4c","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":710,"y":520,"wires":[]},{"id":"ed05ead7.9d6b3","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":690,"y":100,"wires":[]},{"id":"4f52578a.94f07","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":690,"y":20,"wires":[]},{"id":"d3fd8e5e.4f31a","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":690,"y":320,"wires":[]},{"id":"46213b4b.9c5834","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":690,"y":400,"wires":[]},{"id":"c1eeb310.8228b8","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":690,"y":600,"wires":[]},{"id":"539a3167.113cc","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":690,"y":680,"wires":[]},{"id":"276ad366.9c8c6c","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":670,"y":820,"wires":[]},{"id":"62d81023.881f08","type":"comment","z":"ca90d0b9.3a039","name":"==============================================================================================================================================================","info":"","x":670,"y":900,"wires":[]},{"id":"ce6c17ea.09a728","type":"function","z":"31d0efbf.725fe8","name":"Décodage de l'alarme","func":"var message = msg.payload;\n\n// Horodatage\nvar mois         = global.get('mois');\nvar jour         = global.get('jour');\nvar annee        = global.get('annee'); // now.getFullYear();\n\nvar heure        = global.get('heure');\nvar minute       = global.get('minute');\nvar seconde      = global.get('seconde');\n\n\n// Création de l'horodate\nvar date  = jour + '/' + mois + '/' + annee;\nvar horaire = heure + ':' + minute + ':' + seconde;\n\n\nmsg.payload = {\n    information : message,\n    date : date,\n    heure : horaire\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["9e527493.8e5ad8"]]},{"id":"7ab090d5.cd9ea","type":"function","z":"ca90d0b9.3a039","name":"Création de la commande","func":"// Voir tuto API cameras : http://tutoriels.domotique-store.fr/content/87/200/fr/api-des-cameras-ip-wanscam.html\nvar IP = global.get(\"IP_Camera_Actuelle\");          \nvar Port = global.get(\"Port_Camera_Actuelle\");     \n\n// Authentification \nvar login = global.get(\"Login_Camera_Actuelle\");   \nvar password = global.get(\"Password_Camera_Actuelle\");   \n\n\nvar horodate =( msg.payload / 1000) + 2*3600;\n\nvar requete = \"http://\" + IP + \":\" + Port + \"/set_datetime.cgi?now=\"+ horodate ;\n\nmsg = {\n    url : requete\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":940,"wires":[["b9afafc5.8526f","80814a5e.f2512"]]},{"id":"b9afafc5.8526f","type":"debug","z":"ca90d0b9.3a039","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":1000,"wires":[]},{"id":"c79b7200.7130b","type":"mqtt in","z":"12a6ca0f.4863de","name":"","topic":"domokit/connexion","qos":"2","broker":"4d5a27f7.3e01d8","x":110,"y":240,"wires":[["eef94b45.6e92a"]]},{"id":"edecace1.d73f1","type":"comment","z":"12a6ca0f.4863de","name":"Phase de connexion ou d'ajout des objets connectés","info":"","x":510,"y":80,"wires":[]},{"id":"25bd7e65.ef49fa","type":"comment","z":"12a6ca0f.4863de","name":"==============================================================================================================================================================","info":"","x":620,"y":120,"wires":[]},{"id":"86503743.2408f8","type":"comment","z":"12a6ca0f.4863de","name":"==============================================================================================================================================================","info":"","x":620,"y":40,"wires":[]},{"id":"31779c95.4ccab4","type":"function","z":"12a6ca0f.4863de","name":"INSERT","func":"var Nom_Defaut = \"[NEW] \"+ msg.nom_client;\nvar Addr_MAC = msg.addr_mac;\nvar NB_DATA = msg.nb_data;\nvar NB_TRIGGER = msg.nb_trigger;\n\nvar Table = \"Objets_Connectes\";\nvar Colonne = \"Nom,Adresse_MAC,Fonction_idFonction,Habitat_idHabitat,Auth,Actif\"\n\nvar Values = \"\\\"\" + Nom_Defaut + \"\\\",\\\"\" + Addr_MAC + \"\\\",(SELECT idFonction FROM Fonction WHERE Fonction = \\\"Inconnu\\\"),(SELECT idHabitat FROM Habitat WHERE Piece = \\\"Inconnu\\\"),\\\"0\\\",\\\"0\\\"\";\n\nif(msg.payload.length === 0)\n{\n\n    msg.topic = \"INSERT INTO \" + Table + \"(\"+ Colonne + \") VALUES (\" + Values + \");\";  \n    return msg;\n}\n","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["66b488aa.14a68"]]},{"id":"8f66cc4.4544eb","type":"debug","z":"12a6ca0f.4863de","name":"Objet Inexistant","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":280,"wires":[]},{"id":"1d21333c.9c9135","type":"function","z":"12a6ca0f.4863de","name":"START","func":"Addr_MAC = msg.addr_mac;\n\n\n// Envoi d'une commande indiquant à l'appareil qu'il peut démarrer son programme principal\nmsg.payload = \"START\";\nmsg.topic = global.get(\"Main_Topic\") + \"/instruction/\" + Addr_MAC;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["7db7aa6e.be1d34","7680d614.439c3"]]},{"id":"7ae59a41.87569c","type":"debug","z":"12a6ca0f.4863de","name":"Objet autorisé","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":200,"wires":[]},{"id":"7db7aa6e.be1d34","type":"mqtt out","z":"12a6ca0f.4863de","name":"","topic":"","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":790,"y":160,"wires":[]},{"id":"a876c1cd.cd71b","type":"debug","z":"12a6ca0f.4863de","name":"Objet Interdit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":240,"wires":[]},{"id":"83d6cf08.5b875","type":"comment","z":"12a6ca0f.4863de","name":"==============================================================================================================================================================","info":"","x":620,"y":440,"wires":[]},{"id":"188cf0.8623631","type":"comment","z":"12a6ca0f.4863de","name":"Vérification de la présence des objets connectés","info":"","x":430,"y":400,"wires":[]},{"id":"f635095c.29422","type":"comment","z":"12a6ca0f.4863de","name":"==============================================================================================================================================================","info":"","x":620,"y":360,"wires":[]},{"id":"8da9c291.fe4b4","type":"inject","z":"12a6ca0f.4863de","name":"CLK","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":520,"wires":[["82970be.b94b2f8"]]},{"id":"cc779982.f2d848","type":"mqtt out","z":"12a6ca0f.4863de","name":"Instruction CONNECT","topic":"","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":680,"y":480,"wires":[]},{"id":"e36af190.4e8e58","type":"function","z":"12a6ca0f.4863de","name":"MoF","func":"var outputMsgs = [];\nvar data = msg.payload;\nvar topic;\n\nfor (var i = 0 ; i < data.length ; i++ ) \n{\n    if (data[i].Auth == 1){\n        \n        global.set(data[i].Adresse_MAC,0);\n        topic = global.get(\"Main_Topic\") + \"/instruction/\" + data[i].Adresse_MAC;\n        \n        outputMsgs.push(\n            {\n                Auth:data[i].Auth,\n                Adresse_MAC: data[i].Adresse_MAC,\n                payload:\"CONNECT\",\n                topic:topic\n            });\n    }\n}\nreturn [ outputMsgs ];\n","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["cc779982.f2d848","c68fd3b7.74e03"]]},{"id":"d66c9430.e68a","type":"mqtt in","z":"12a6ca0f.4863de","name":"","topic":"domokit/connect/+","qos":"2","broker":"4d5a27f7.3e01d8","x":90,"y":620,"wires":[["4be8804b.53cb98"]]},{"id":"bce97691.506478","type":"debug","z":"12a6ca0f.4863de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":620,"wires":[]},{"id":"4be8804b.53cb98","type":"function","z":"12a6ca0f.4863de","name":"Authentification de la réponse","func":"var reponse = msg.payload;\n// On décortique le topic pour connaitre le mot de commande\nvar topic = msg.topic;\nvar split_topic = topic.split(\"/\");\n\nvar comparaison = split_topic[2].substring(0,2);\n\nif (reponse == comparaison)\n{\n    msg.payload = \n    {\n        addr_mac : split_topic[2],\n        horodate : global.get('horodate')\n    }\n    global.set(split_topic[2],1);\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["bce97691.506478"]]},{"id":"c68fd3b7.74e03","type":"delay","z":"12a6ca0f.4863de","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":520,"wires":[["648c1282.e65804"]]},{"id":"648c1282.e65804","type":"function","z":"12a6ca0f.4863de","name":"Vérification","func":"var addr_MAC = msg.Adresse_MAC;\nvar connect = global.get(addr_MAC);\nvar Auth = msg.Auth;\nvar Requete;\n\nif ((connect === 0) || (Auth === 0))\n{\n    Requete = \"UPDATE Objets_Connectes SET Actif = \\\"0\\\" WHERE ( Adresse_MAC =\\\"\" + addr_MAC +\"\\\");\";\n}\nelse\n{\n  Requete = \"UPDATE Objets_Connectes SET Actif = \\\"1\\\" WHERE ( Adresse_MAC =\\\"\" + addr_MAC +\"\\\");\";\n}\n\nmsg.payload = connect;  \nmsg.topic = Requete; \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":520,"wires":[["a47d5480.c82ce"]]},{"id":"f938e837.475a3","type":"mqtt in","z":"b3a35ec7.066258","name":"","topic":"domokit/connexion/#","qos":"2","broker":"4d5a27f7.3e01d8","x":120,"y":80,"wires":[["cf1a513f.93284"]]},{"id":"533f221f.867dec","type":"debug","z":"b3a35ec7.066258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":80,"wires":[]},{"id":"850bd042.fa98f8","type":"inject","z":"315e194.8bbf866","name":"Démarrage de la box","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":160,"wires":[["4db6df4b.0bf0f8","4c513d30.6aeec4","b6312f0.055a15","2e7c0a1b.d83496"]]},{"id":"4db6df4b.0bf0f8","type":"function","z":"315e194.8bbf866","name":"Définition des variables globales","func":"// Wifi\nglobal.set(\"mode_wifi\",\"normal\");\n\n// Topic MQTT principal (nom du projet)\nglobal.set(\"Main_Topic\",\"domokit\");\n\n// Connexion à internet\nglobal.set(\"Internet\",false);\nglobal.set(\"RTC\",false);\n\n// Données du serveur\nglobal.set(\"rpi_memoire\",\"---\");\nglobal.set(\"rpi_cpu\",\"---\");\nglobal.set(\"rpi_temperature\",\"---\");\nglobal.set(\"rpi_date\",\"---\");\nglobal.set(\"rpi_heure\",\"---\");\nglobal.set(\"rpi_ssid\",\"---\");\n\n// Gestion de l'écran LCD\nglobal.set(\"enable_lcd\",true);\nglobal.set(\"index_ecran\",0);\nglobal.set(\"defilement_auto\",false);\n\n// Gestion de la led PWM\nglobal.set(\"pwm_red\",0);\nglobal.set(\"pwm_green\",0);\nglobal.set(\"pwm_blue\",0);\n","outputs":1,"noerr":0,"x":490,"y":160,"wires":[[]]},{"id":"e6867373.fab57","type":"function","z":"146f1054.19c988","name":"Ping","func":"msg.topic = global.get(\"Main_Topic\") + \"/rpi/ping\";\nif (msg.payload === false){\n    msg.payload = \"---\";\n}\nelse{\n    var value = msg.payload;\n    msg.payload = value;\n}\n\n\nvar texte = \"Ping : \" + msg.payload + \"ms\";\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["43e1aedc.8624a8"]]},{"id":"36dcfe45.80d6da","type":"function","z":"c3ed77b3.4af4f8","name":"Mise en forme","func":"var message_tcp = msg.payload;\nvar message_mqtt = message_tcp.split(\"!mqtt!\");\n\n\n    msg= {\n        topic:message_mqtt[0],\n        payload:message_mqtt[1]\n    }\n    \n    return msg;\n","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["8683e6cd.ee139"]]},{"id":"8683e6cd.ee139","type":"mqtt out","z":"c3ed77b3.4af4f8","name":"","topic":"","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":880,"y":180,"wires":[]},{"id":"33500cae.7d058c","type":"tcp in","z":"c3ed77b3.4af4f8","name":"Réception du message tcp","server":"server","host":"localhost","port":"32003","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":110,"y":180,"wires":[["67088328.62727c","574f6033.4c1d8"]]},{"id":"67088328.62727c","type":"function","z":"c3ed77b3.4af4f8","name":"Decodage","func":"var message_tcp = msg.payload;\nvar trame = message_tcp.split(\"|!|\");\n\nmsg.commande = trame[0];    \n\nmsg.payload = trame[1];\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["9e275a61.d426e"]]},{"id":"9e275a61.d426e","type":"switch","z":"c3ed77b3.4af4f8","name":"Action","property":"commande","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"script","vt":"str"},{"t":"eq","v":"tcp","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":540,"y":180,"wires":[["36dcfe45.80d6da"],[],[]]},{"id":"8cebb8c9.fa6388","type":"comment","z":"146f1054.19c988","name":"Nombre d'objets actuellement connectés au serveur","info":"","x":570,"y":720,"wires":[]},{"id":"bf10f3dd.5a3e78","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":700,"y":680,"wires":[]},{"id":"cdb62d9c.f918c","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":700,"y":760,"wires":[]},{"id":"ff81966d.d5801","type":"debug","z":"146f1054.19c988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":860,"wires":[]},{"id":"614d090e.3d8a4","type":"function","z":"146f1054.19c988","name":"Comptage des objets","func":"msg.payload = msg.payload.length;\nmsg.topic = global.get(\"Main_Topic\") + \"/rpi/nb_objets_connectes\";\n\n\nvar texte = \"Nb Objets : \" + msg.payload;\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["ff81966d.d5801","2a20073b.c53208"]]},{"id":"2a20073b.c53208","type":"mqtt out","z":"146f1054.19c988","name":"","topic":"","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":810,"y":820,"wires":[]},{"id":"3013eee5.09c29a","type":"inject","z":"146f1054.19c988","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":"1","x":140,"y":820,"wires":[["7c98a4ac.9dc414"]]},{"id":"66b488aa.14a68","type":"mysql","z":"12a6ca0f.4863de","mydb":"85a9ea73.8124d8","name":"","x":800,"y":280,"wires":[["8f66cc4.4544eb"]]},{"id":"a47d5480.c82ce","type":"mysql","z":"12a6ca0f.4863de","mydb":"85a9ea73.8124d8","name":"","x":950,"y":520,"wires":[[]]},{"id":"d257f5a6.0be4d8","type":"multipart-decoder","z":"ca90d0b9.3a039","name":"Stream vidéo","ret":"bin","url":"","tls":"","delay":0,"maximum":1000000,"blockSize":"1","x":660,"y":140,"wires":[["79ec4297.d1fb2c"]]},{"id":"6faf618a.77b43","type":"Drives","z":"146f1054.19c988","name":"","x":250,"y":180,"wires":[["a72db037.e2bc18","6183517f.7548f"]]},{"id":"71bea342.417544","type":"Memory","z":"146f1054.19c988","name":"","x":260,"y":240,"wires":[["3fc2b21b.858efe"]]},{"id":"dfc47447.0606c","type":"debug","z":"ca90d0b9.3a039","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":760,"wires":[]},{"id":"ee2ee3e.2a7b9a","type":"mqtt out","z":"315e194.8bbf866","name":"","topic":"","qos":"","retain":"true","broker":"4d5a27f7.3e01d8","x":690,"y":200,"wires":[]},{"id":"4c513d30.6aeec4","type":"function","z":"315e194.8bbf866","name":"Initalisation Caméra","func":"// Caméra IP Domokit\nglobal.set(\"IP_Camera_Actuelle\",\"192.168.100.20\"); \nglobal.set(\"Port_Camera_Actuelle\",11465); \nglobal.set(\"Login_Camera_Actuelle\",\"domokit\"); \nglobal.set(\"Password_Camera_Actuelle\",\"domokit\"); \n\nmsg.topic = global.get(\"Main_Topic\") + \"/camera/commande/activation\";\nmsg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["ee2ee3e.2a7b9a"]]},{"id":"5c7b5e20.63b608","type":"function","z":"31d0efbf.725fe8","name":"Affichage alarme sur dashboard","func":"var extract_topic = msg.topic;\nvar split_topic = extract_topic.split(\"/\");\nvar Addr_MAC = split_topic[split_topic.length - 1];\n\nvar topic_affichage = global.get(\"Main_Topic\") + \"/alarme/\" + Addr_MAC;\n\nmsg = {\n   payload:\"1\",\n   topic:topic_affichage\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["e7e0fdd.1e7f68","c383c94a.010bc8"]]},{"id":"7836d04c.350798","type":"mqtt in","z":"31d0efbf.725fe8","name":"","topic":"domokit/reset_alarme","qos":"0","broker":"4d5a27f7.3e01d8","x":100,"y":460,"wires":[["4143d23d.457d4c","96a402ad.60f7d8"]]},{"id":"e7e0fdd.1e7f68","type":"mqtt out","z":"31d0efbf.725fe8","name":"","topic":"","qos":"","retain":"true","broker":"4d5a27f7.3e01d8","x":750,"y":220,"wires":[]},{"id":"bd12163e.227548","type":"function","z":"31d0efbf.725fe8","name":"Reset des alarmes sur dashboard","func":"var outputMsgs = [];\n\nvar liste_topic = msg.payload;\n\nfor (var i=0 ; i < liste_topic.length; i++)\n{\n    var extract_topic = liste_topic[i].ADRESSE_MAC;\n    var Addr_MAC = extract_topic;\n    \n    var topic_affichage = global.get(\"Main_Topic\") + \"/alarme/\" + Addr_MAC;\n    \n    \n    outputMsgs.push(\n    {\n        payload:\"0\",\n        topic:topic_affichage\n    });\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["64b021af.c1f9"]]},{"id":"4143d23d.457d4c","type":"function","z":"31d0efbf.725fe8","name":"validation","func":"var outputMsgs = [];\nvar data = msg.payload;\nvar topic;\n\nif (msg.payload == \"1\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["4ad0c101.176a8"]]},{"id":"64b021af.c1f9","type":"mqtt out","z":"31d0efbf.725fe8","name":"","topic":"","qos":"","retain":"false","broker":"4d5a27f7.3e01d8","x":1040,"y":460,"wires":[]},{"id":"42f30f8c.c490d8","type":"mqtt out","z":"31d0efbf.725fe8","name":"","topic":"","qos":"","retain":"false","broker":"4d5a27f7.3e01d8","x":690,"y":540,"wires":[]},{"id":"96a402ad.60f7d8","type":"function","z":"31d0efbf.725fe8","name":"on remet le bouton a zéro","func":"if (msg.payload == \"1\"){\nmsg = {\n    topic: \"domokit/reset_alarme\",\n    payload: \"0\"\n}\nreturn msg;\n}","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["8d64a2be.4072c8"]]},{"id":"8d64a2be.4072c8","type":"delay","z":"31d0efbf.725fe8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":540,"wires":[["42f30f8c.c490d8"]]},{"id":"c383c94a.010bc8","type":"debug","z":"31d0efbf.725fe8","name":"Alarme","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":180,"wires":[]},{"id":"8ee50534.1f8348","type":"function","z":"31d0efbf.725fe8","name":"Horodatage de l'alarme","func":"var extract_topic = msg.topic;\nvar split_topic = extract_topic.split(\"/\");\nvar Addr_MAC = split_topic[split_topic.length - 1];\n\nvar topic_affichage = global.get(\"Main_Topic\") + \"/date_alarme/\" + Addr_MAC;\n\n// Horodatage\nvar mois         = global.get('mois');\nvar jour         = global.get('jour');\nvar annee        = global.get('annee') - 2000; // now.getFullYear();\n\nvar heure        = global.get('heure');\nvar minute       = global.get('minute');\nvar seconde      = global.get('seconde');\n\n\n// Création de l'horodate\nvar date  = jour + '/' + mois + '/' + annee;\nvar horaire = heure + ':' + minute + ':' + seconde;\n\nvar payload = date + \" \" + horaire;\n\nmsg = {\n   payload:payload,\n   topic:topic_affichage\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["e7e0fdd.1e7f68"]]},{"id":"681ea104.de7948","type":"function","z":"31d0efbf.725fe8","name":"Reset des date_alarmes sur dashboard","func":"var outputMsgs = [];\n\nvar liste_topic = msg.payload;\n\nfor (var i=0 ; i < liste_topic.length; i++)\n{\n    var extract_topic = liste_topic[i].ADRESSE_MAC;\n    var Addr_MAC = extract_topic;\n    \n    var topic_affichage = global.get(\"Main_Topic\") + \"/date_alarme/\" + Addr_MAC;\n    \n    \n    outputMsgs.push(\n    {\n        payload:\"R.A.S\",\n        topic:topic_affichage\n    });\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":800,"y":480,"wires":[["64b021af.c1f9"]]},{"id":"6f16af92.fc17f","type":"comment","z":"b3a35ec7.066258","name":"Connexion des objets au serveur","info":"","x":140,"y":20,"wires":[]},{"id":"6531ce62.f0b88","type":"comment","z":"31d0efbf.725fe8","name":"Gestion des alarmes envoyées par les objets connectées","info":"","x":220,"y":60,"wires":[]},{"id":"3f1f91eb.82a4de","type":"comment","z":"31d0efbf.725fe8","name":"Bouton de remise à zéro des alarmes","info":"","x":140,"y":420,"wires":[]},{"id":"c85d21ac.ab0408","type":"subflow:6f19499.b8603b8","z":"46ca8ff5.fe573","name":"Recherche du nom de gare","x":520,"y":760,"wires":[["2845a671.b850ba"]]},{"id":"2845a671.b850ba","type":"mqtt out","z":"46ca8ff5.fe573","name":"","topic":"domoticpi/trajet_quotidien/depart/gare","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":840,"y":760,"wires":[]},{"id":"1c235922.084d1f","type":"delay","z":"46ca8ff5.fe573","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":860,"wires":[["2bc579a5.ce9f76"]]},{"id":"2bc579a5.ce9f76","type":"subflow:6f19499.b8603b8","z":"46ca8ff5.fe573","name":"Recherche du nom de gare","x":520,"y":860,"wires":[["b5bd5227.d99258"]]},{"id":"81edcc47.e9f5c","type":"subflow:81a98834.703f88","z":"46ca8ff5.fe573","name":"","x":600,"y":560,"wires":[["896b4f04.05196"],["39a4c87.3032938"],["f8d2499d.48b78"]]},{"id":"f583c6f0.0f4a18","type":"comment","z":"31d0efbf.725fe8","name":"Génération du dashboard dédié aux alarmes","info":"","x":160,"y":660,"wires":[]},{"id":"cab8acd1.297f9","type":"function","z":"146f1054.19c988","name":"Connexion à internet","func":"msg.topic = global.get(\"Main_Topic\") + \"/rpi/internet\";\n\nif (msg.payload === false)\n{\n    msg.payload = \"Non\";\n    global.set(\"Internet\",false);\n    var texte = \"Pas d'accès internet\";\n    node.status({fill:\"red\",shape:\"dot\",text:texte});\n}\nelse\n{\n    msg.payload = \"Oui\";\n    global.set(\"Internet\",true);\n    var texte = \"Accès internet OK\";\n    node.status({fill:\"green\",shape:\"dot\",text:texte});\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["43e1aedc.8624a8"]]},{"id":"d7c1fb08.e9eec8","type":"inject","z":"46984568.7f8514","name":"Récupération journalière","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 05 * * *","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["1cd015b2.ea09da"]]},{"id":"82e6ce3.1859eb","type":"mqtt out","z":"46984568.7f8514","name":"domoticpi/meteo/jour/x/icone","topic":"","qos":"1","retain":"true","broker":"4d5a27f7.3e01d8","x":910,"y":160,"wires":[]},{"id":"af4da738.24bc48","type":"mqtt out","z":"46984568.7f8514","name":"domokit/meteo/jour/x/temperature","topic":"","qos":"1","retain":"true","broker":"4d5a27f7.3e01d8","x":920,"y":240,"wires":[]},{"id":"d5183e4d.2cff98","type":"comment","z":"46984568.7f8514","name":"Prévisions Météo","info":"","x":580,"y":60,"wires":[]},{"id":"c1a4d0d8.ed5858","type":"comment","z":"46984568.7f8514","name":"==============================================================================================================================================================","info":"","x":620,"y":100,"wires":[]},{"id":"14e58060.e38398","type":"comment","z":"46984568.7f8514","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]},{"id":"1cd015b2.ea09da","type":"function","z":"46984568.7f8514","name":"coords meteo","func":"msg = {\n    location :{\n        lat:48.611486,\n        lon:2.306039999999939\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["4282726e.53d68c"]]},{"id":"2e35d8d7.5635c","type":"comment","z":"c3ed77b3.4af4f8","name":"Envoi d'instructions aux objets connectés, depuis l'interface Web","info":"","x":470,"y":60,"wires":[]},{"id":"dad89a59.576fb","type":"comment","z":"c3ed77b3.4af4f8","name":"==============================================================================================================================================================","info":"","x":620,"y":140,"wires":[]},{"id":"ff1f797.9853b88","type":"comment","z":"c3ed77b3.4af4f8","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]},{"id":"bd6c5de.a869ba","type":"comment","z":"73c72dbe.6172fc","name":"Remise à zéro de la BDD","info":"","x":570,"y":60,"wires":[]},{"id":"38a4ef43.b060a","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":610,"y":100,"wires":[]},{"id":"3a319bf0.2ea854","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]},{"id":"c82040b6.6f43c","type":"inject","z":"73c72dbe.6172fc","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":160,"wires":[["53e1fc7d.b0811c"]]},{"id":"85ac4d82.24de3","type":"subflow:19fa3f34.940459","z":"73c72dbe.6172fc","name":"Domokit_DML","x":730,"y":160,"wires":[["43a1d185.b659b"]]},{"id":"53e1fc7d.b0811c","type":"function","z":"73c72dbe.6172fc","name":"fichier DDL","func":"msg = {\n    payload : \"/home/pi/.domokit/mysql/DomoKit_DDL.sql\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["9135462e.9f0da8"]]},{"id":"9135462e.9f0da8","type":"subflow:19fa3f34.940459","z":"73c72dbe.6172fc","name":"Domokit_DDL","x":390,"y":160,"wires":[["fe20375e.e5a818","16a2be77.189102"]]},{"id":"fe20375e.e5a818","type":"function","z":"73c72dbe.6172fc","name":"fichier DML","func":"msg = {\n    payload : \"/home/pi/.domokit/mysql/DomoKit_DML.sql\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["85ac4d82.24de3"]]},{"id":"43a1d185.b659b","type":"debug","z":"73c72dbe.6172fc","name":"BDD_DML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":160,"wires":[]},{"id":"16a2be77.189102","type":"debug","z":"73c72dbe.6172fc","name":"BDD_DDL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":200,"wires":[]},{"id":"1eec9b7c.014a05","type":"comment","z":"73c72dbe.6172fc","name":"Redémarrage système","info":"","x":600,"y":340,"wires":[]},{"id":"cc3e7bdf.14698","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":610,"y":380,"wires":[]},{"id":"67bce537.a05aac","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":610,"y":300,"wires":[]},{"id":"aa407dc5.91d6f8","type":"inject","z":"73c72dbe.6172fc","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["8a028895.713438"]]},{"id":"f01b200f.e08ce8","type":"exec","z":"73c72dbe.6172fc","command":"sudo reboot now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1250,"y":420,"wires":[[],[],[]]},{"id":"bc7af339.b85478","type":"comment","z":"7903968f.8fd","name":"Plannification des tâches","info":"","x":580,"y":60,"wires":[]},{"id":"a7028290.2b762","type":"comment","z":"7903968f.8fd","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]},{"id":"7d7e1d2f.660344","type":"comment","z":"7903968f.8fd","name":"==============================================================================================================================================================","info":"","x":620,"y":100,"wires":[]},{"id":"8bada457.05eeb8","type":"comment","z":"c3ed77b3.4af4f8","name":"TCP --> MQTT","info":"","x":460,"y":100,"wires":[]},{"id":"574f6033.4c1d8","type":"debug","z":"c3ed77b3.4af4f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":240,"wires":[]},{"id":"f1108a26.c05078","type":"comment","z":"c3ed77b3.4af4f8","name":"==============================================================================================================================================================","info":"","x":620,"y":480,"wires":[]},{"id":"9f5583e1.8d5678","type":"comment","z":"c3ed77b3.4af4f8","name":"Gateway NRF24L01 <-> MQTT","info":"","x":520,"y":440,"wires":[]},{"id":"9b92a260.c88688","type":"comment","z":"c3ed77b3.4af4f8","name":"==============================================================================================================================================================","info":"","x":620,"y":400,"wires":[]},{"id":"cf5623da.6ce62","type":"mqtt in","z":"c3ed77b3.4af4f8","name":"","topic":"domokit/NRF24L01/RX","qos":"2","broker":"4d5a27f7.3e01d8","x":120,"y":520,"wires":[["e3c1cb93.747d58"]]},{"id":"e3c1cb93.747d58","type":"debug","z":"c3ed77b3.4af4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":520,"wires":[]},{"id":"e31e235a.668c7","type":"inject","z":"c3ed77b3.4af4f8","name":"","topic":"","payload":"CMD;test_tx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["312d8e7a.ef4552"]]},{"id":"312d8e7a.ef4552","type":"mqtt out","z":"c3ed77b3.4af4f8","name":"","topic":"domokit/NRF24L01/TX","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":370,"y":580,"wires":[]},{"id":"cf1a513f.93284","type":"function","z":"b3a35ec7.066258","name":"MoF","func":"var Payload = msg.payload;\nvar Data = Payload.split(\";\");\n\nmsg.payload = \"Objet connecté : \" + Data[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["533f221f.867dec"]]},{"id":"d01dbf14.8c90f","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":680,"y":680,"wires":[]},{"id":"addb024.6540b8","type":"comment","z":"73c72dbe.6172fc","name":"Passage en mode wifi appairage","info":"Scénario d'usage : \n\n1- L'utilisateur appuie sur le bouton au moins 3sec\n\n2- Le wifi passe du mode normal au mode config\n\n3- Au bout de 30 minutes, si le mode config est toujours actif, alors on passe en mode normal","x":690,"y":640,"wires":[]},{"id":"b87954d6.2db99","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":680,"y":600,"wires":[]},{"id":"22274d9f.e68e02","type":"subflow:425afb1.4eacb04","z":"73c72dbe.6172fc","name":"","x":420,"y":740,"wires":[["dd6c63a0.28a47","1734167d.831be2"]]},{"id":"ee8b400c.9b776","type":"subflow:19a3abdf.bf45fc","z":"73c72dbe.6172fc","name":"","x":830,"y":740,"wires":[[]]},{"id":"dd6c63a0.28a47","type":"delay","z":"73c72dbe.6172fc","name":"30 Minutes","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":740,"wires":[["ee8b400c.9b776","78f094f.99ae86c"]]},{"id":"f36d753f.050618","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":620,"y":940,"wires":[]},{"id":"244be79c.c02e5","type":"comment","z":"73c72dbe.6172fc","name":"Passage en mode wifi normal","info":"Scénario d'usage : \n\n1- L'utilisateur termine son appairage\n\n2- Sur l'interface web il clique sur \"Terminer\"\n\n3- Le serveur passe en mode normal","x":620,"y":900,"wires":[]},{"id":"13fae598.9b4e4a","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":620,"y":860,"wires":[]},{"id":"1e4581c8.7deece","type":"subflow:19a3abdf.bf45fc","z":"73c72dbe.6172fc","name":"","x":430,"y":980,"wires":[["32a2fd60.e40322","b160db7.f20e3a8"]]},{"id":"32a2fd60.e40322","type":"debug","z":"73c72dbe.6172fc","name":"Wifi mode Normal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":980,"wires":[]},{"id":"d8b8c86f.7f4208","type":"inject","z":"2cfe4a95.d9f656","name":"","topic":"","payload":"test_payload","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["89913f71.95aa58"]]},{"id":"9966f299.8c5d48","type":"debug","z":"2cfe4a95.d9f656","name":"Message Crypté","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":140,"wires":[]},{"id":"78bb9afe.0915c4","type":"debug","z":"2cfe4a95.d9f656","name":"Message Décrypté","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":180,"wires":[]},{"id":"934960cf.a7379","type":"comment","z":"2cfe4a95.d9f656","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]},{"id":"97e6c47f.249118","type":"comment","z":"2cfe4a95.d9f656","name":"Test : (Dé)Cryptage de payload","info":"","x":590,"y":60,"wires":[]},{"id":"70e15c63.469014","type":"comment","z":"2cfe4a95.d9f656","name":"==============================================================================================================================================================","info":"","x":620,"y":100,"wires":[]},{"id":"9f08a0c5.077288","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":620,"y":1100,"wires":[]},{"id":"bbd7fb38.e0e7f","type":"comment","z":"73c72dbe.6172fc","name":"Changer password wifi mode normal","info":"Scénario d'usage : \n\n1- L'utilisateur modifie le password sur l'interface Web\n\n2- La config wifi se met à jour","x":640,"y":1140,"wires":[]},{"id":"c27412d6.4c9ef","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":620,"y":1180,"wires":[]},{"id":"f302edc5.5211d8","type":"subflow:39b15958.eab986","z":"73c72dbe.6172fc","name":"","x":600,"y":1220,"wires":[["b4fc6e41.620758"]]},{"id":"88baee2a.3e3f","type":"inject","z":"73c72dbe.6172fc","name":"","topic":"","payload":"domokit2018","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1220,"wires":[["f302edc5.5211d8"]]},{"id":"b4fc6e41.620758","type":"debug","z":"73c72dbe.6172fc","name":"Changer Password Wifi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":1220,"wires":[]},{"id":"9dc0ae82.9f1e9","type":"inject","z":"73c72dbe.6172fc","name":"","topic":"","payload":"domokit2019","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1260,"wires":[["f302edc5.5211d8"]]},{"id":"89913f71.95aa58","type":"subflow:ab0f0e6a.c566a","z":"2cfe4a95.d9f656","name":"","x":360,"y":140,"wires":[["9966f299.8c5d48","ac08f220.f10e3"]]},{"id":"ac08f220.f10e3","type":"subflow:598d96b0.e1e97","z":"2cfe4a95.d9f656","name":"","x":590,"y":180,"wires":[["78bb9afe.0915c4"]]},{"id":"7dd78917.3cb5c","type":"comment","z":"315e194.8bbf866","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]},{"id":"b1a72ac.1d77dd8","type":"comment","z":"315e194.8bbf866","name":"Cet onglet contient tout ce qui doit être initialisé au démarrage de la box Domokit","info":"","x":510,"y":60,"wires":[]},{"id":"a7c2d67.e10a128","type":"comment","z":"315e194.8bbf866","name":"==============================================================================================================================================================","info":"","x":620,"y":100,"wires":[]},{"id":"6cddbefd.edbf38","type":"subflow:e6b4e99b.cf25f8","z":"12a6ca0f.4863de","name":"WIFI_DATA","x":950,"y":200,"wires":[["7ae59a41.87569c","6422395b.6b3af8"]]},{"id":"6422395b.6b3af8","type":"mqtt out","z":"12a6ca0f.4863de","name":"","topic":"","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":1110,"y":160,"wires":[]},{"id":"7680d614.439c3","type":"delay","z":"12a6ca0f.4863de","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":200,"wires":[["6cddbefd.edbf38"]]},{"id":"ab4c33fe.54596","type":"function","z":"ff59e35b.f43668","name":"Défilement vers la droite","func":"var index = global.get('index_ecran');\nindex = index + 1;\nglobal.set('index_ecran',index);","outputs":1,"noerr":0,"x":750,"y":1420,"wires":[[]]},{"id":"ea23d4b3.1c5ef","type":"function","z":"ff59e35b.f43668","name":"Défilement vers la gauche","func":"var index = global.get('index_ecran');\nindex = index - 1;\nglobal.set('index_ecran',index);\n\n\n","outputs":1,"noerr":0,"x":760,"y":1560,"wires":[[]]},{"id":"3d9bb509.acc582","type":"function","z":"ff59e35b.f43668","name":"Gestion index","func":"var index_max = 4;\nvar index_min = 0;\n\nvar index = global.get(\"index_ecran\");\n\n\n// Gestion du cas où l'index est au dessus du maximum\nif (index > index_max){\n    index = index_min;\n    global.set(\"index_ecran\",index_min);\n}\n    \n// Gestion du cas où l'index est en dessous du minimum\nif (index < index_min){\n    index = index_max;\n    global.set(\"index_ecran\",index_max);\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:index});\nmsg.payload = index;\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":1300,"wires":[["c190e2f7.bdd66"]]},{"id":"6ddfb13c.29661","type":"delay","z":"ff59e35b.f43668","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":1420,"wires":[["ab4c33fe.54596"]]},{"id":"af197523.1a135","type":"delay","z":"ff59e35b.f43668","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":1560,"wires":[["ea23d4b3.1c5ef"]]},{"id":"243c5db2.42581a","type":"comment","z":"ff59e35b.f43668","name":"Bouton utilisateur : défilement de l'écran vers la droite","info":"","x":270,"y":1380,"wires":[]},{"id":"e222e609.baef18","type":"comment","z":"ff59e35b.f43668","name":"Bouton utilisateur : défilement de l'écran vers la gauche","info":"","x":280,"y":1520,"wires":[]},{"id":"8daaf80b.f586d8","type":"comment","z":"ff59e35b.f43668","name":"Affichage des informations à l'écran","info":"","x":230,"y":1260,"wires":[]},{"id":"abdd1de.6d6126","type":"subflow:682f5fa.dbda2a","z":"146f1054.19c988","name":"","x":280,"y":360,"wires":[["60500d1c.139bc4"]]},{"id":"60500d1c.139bc4","type":"function","z":"146f1054.19c988","name":"SSID","func":"var texte = msg.payload;\n\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\n// sauvegarde du résultat dans une variable globale\nglobal.set(\"rpi_ssid\",texte);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[[]]},{"id":"a5bb65ad.598fd8","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":690,"y":760,"wires":[]},{"id":"d676b148.03d218","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":700,"y":680,"wires":[]},{"id":"62fa037.3a0a5fc","type":"comment","z":"ff59e35b.f43668","name":"Test : pilotage LED RGB","info":"","x":700,"y":720,"wires":[]},{"id":"8bdb2d10.132e88","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":700,"y":1140,"wires":[]},{"id":"8f808d05.b781a8","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":700,"y":1220,"wires":[]},{"id":"790c3685.81f6f8","type":"comment","z":"ff59e35b.f43668","name":"Gestion de l'écran LCD","info":"","x":730,"y":1180,"wires":[]},{"id":"6b6aa25e.0e91a4","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":720,"y":1920,"wires":[]},{"id":"af55c817.227ba","type":"comment","z":"ff59e35b.f43668","name":"Gestion du bouton appairage","info":"","x":650,"y":1880,"wires":[]},{"id":"754b867a.38dc38","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":720,"y":1840,"wires":[]},{"id":"8ff1b275.b71c7","type":"link out","z":"ff59e35b.f43668","name":"Bouton_Appairage_ON","links":["da2fc921.30b2b"],"x":1075,"y":2020,"wires":[]},{"id":"5d5560c6.f6af98","type":"comment","z":"ff59e35b.f43668","name":"Bouton_Appairage_ON","info":"","x":1200,"y":2020,"wires":[]},{"id":"da2fc921.30b2b","type":"link in","z":"73c72dbe.6172fc","name":"Bouton_Appairage_ON","links":["8ff1b275.b71c7"],"x":255,"y":800,"wires":[["22274d9f.e68e02"]]},{"id":"df9317f3.361ab8","type":"comment","z":"73c72dbe.6172fc","name":"Bouton_Appairage_ON","info":"","x":140,"y":800,"wires":[]},{"id":"b7c682d1.521fc","type":"inject","z":"ff59e35b.f43668","name":"CLK","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":true,"onceDelay":"10","x":160,"y":2300,"wires":[["cb101427.37812"]]},{"id":"ec1a8774.176cc","type":"comment","z":"ff59e35b.f43668","name":"Gestion de la clock externe RTC","info":"","x":680,"y":2140,"wires":[]},{"id":"8c73585f.a2c07","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":720,"y":2100,"wires":[]},{"id":"8575264.19c2ad8","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":720,"y":2180,"wires":[]},{"id":"6ba3be88.1078d","type":"subflow:190732af.b72735","z":"ff59e35b.f43668","name":"","x":490,"y":2300,"wires":[["9890311f.622508","19498640.f17aba"]]},{"id":"9890311f.622508","type":"subflow:5b44dac8.b82fac","z":"ff59e35b.f43668","name":"","x":730,"y":2300,"wires":[]},{"id":"19498640.f17aba","type":"debug","z":"ff59e35b.f43668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":2340,"wires":[]},{"id":"33ac418d.b8ea66","type":"comment","z":"ff59e35b.f43668","name":"vérifie si la RTC est présente","info":"","x":370,"y":2260,"wires":[]},{"id":"395667b1.c7995","type":"inject","z":"146f1054.19c988","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1040,"wires":[["50341e5a.562708"]]},{"id":"50341e5a.562708","type":"function","z":"146f1054.19c988","name":"Récupération de l'heure actuelle","func":"var timestamp = (msg.payload);// + 1000 * 3600 * 2;\n\nvar dateObj = new Date(timestamp);\n\nvar month = dateObj.getMonth() + 1; //months from 1-12\nvar day = dateObj.getDate();\nvar year = dateObj.getFullYear() - 2000;\n\nvar heure = dateObj.getHours(); \nvar min = dateObj.getMinutes();\nvar sec = dateObj.getSeconds();\n\n\n// Définition de la date\nif (month <= 9)\n    month = \"0\"+month;\nif (day <= 9)\n    day = \"0\"+day;\nif(year <= 9)\n    year = \"0\"+year;\n    \n    \n// Définition de l'heure\nif (min <= 9)\n    min = \"0\"+min;\nif (heure <= 9)\n    heure = \"0\"+heure;\nif(sec <= 9)\n    sec = \"0\"+sec;\n    \n\nHeure_actuelle = heure + \":\" + min + \":\"  + sec;\nDate_actuelle = day + '/' + month + '/' + year;\n\n// Définition du payload\nmsg.payload = {\n    heure : Heure_actuelle,\n    date : Date_actuelle,\n    horodate : Date_actuelle + \"\\n\" + Heure_actuelle\n}\n\n// Sauvegarde des données dans des variables globales\nglobal.set('heure',''+heure);\nglobal.set('minute',''+min);\nglobal.set('seconde',''+sec);\n\nglobal.set('jour',''+day);\nglobal.set('mois',''+month);\nglobal.set('annee',''+ (year+ 2000));\n\nvar texte = Date_actuelle + \" \" + Heure_actuelle;\nnode.status({fill:\"blue\",shape:\"dot\",text:texte});\n\nglobal.set('horodate',texte);\n\nglobal.set('rpi_date',Date_actuelle);\nglobal.set('rpi_heure',Heure_actuelle);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":1040,"wires":[["a131a108.ba765","41a5eb5f.2e824c","22d9070a.fe6ec"]]},{"id":"3bd0b786.9cb98","type":"mqtt out","z":"146f1054.19c988","name":"","topic":"domokit/rpi/heure","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":860,"y":1040,"wires":[]},{"id":"47b2ea31.1ec474","type":"mqtt out","z":"146f1054.19c988","name":"","topic":"domokit/rpi/date","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":860,"y":1100,"wires":[]},{"id":"cb471452.de153","type":"comment","z":"146f1054.19c988","name":"Horodate actuel","info":"","x":600,"y":960,"wires":[]},{"id":"7a9e20e1.a02f68","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":700,"y":920,"wires":[]},{"id":"99ed266b.38e7c8","type":"comment","z":"146f1054.19c988","name":"==============================================================================================================================================================","info":"","x":710,"y":1000,"wires":[]},{"id":"8f84eac6.57dce","type":"function","z":"ff59e35b.f43668","name":"rouge","func":"msg = {\n    hat:{\n        led:{\n            red:100,\n            green:0,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["7f136997.3ec81"]]},{"id":"41664770.04e71","type":"inject","z":"ff59e35b.f43668","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":860,"wires":[["4090903.ecef3f"]]},{"id":"c63e09d5.41af38","type":"link in","z":"ff59e35b.f43668","name":"RGB_GREEN","links":["63750c6a.c04f1c","ef768c92.ab7268","8ec8669e.cde998","f2aecdd2.3dbed8","8b9350d5.cb93c8","3d7d8288.24d49e","133a5afe.6ebcb5","9a861897.a7f26","4ed63a5d.87d95c"],"x":235,"y":260,"wires":[["79d900c4.de62e8"]]},{"id":"3bc0914d.24417e","type":"link in","z":"ff59e35b.f43668","name":"RGB_BLUE","links":["bbd3a3fb.18dc48","f341c9b6.02c19","5ebbdd04.029a9c","1738c98.5998fb7","9f47eab6.aee48","da567a30.1da728","c313044.28417f8","c8ea8dac.46cd18","7a134def.ff93e4"],"x":235,"y":320,"wires":[["39d75b22.18c6a4"]]},{"id":"8dff4f79.827e88","type":"link in","z":"ff59e35b.f43668","name":"RGB_RED","links":["b0b54d06.62c338","f96f7603.74538","c8b3a148.96756","90456941.0edcd8","d67210f7.428968","92160ba5.324b78","dc092831.d66e38","df03100e.939558","d9e011ab.7f3d7"],"x":235,"y":200,"wires":[["24ad6fea.74a998"]]},{"id":"860a4cf1.729228","type":"comment","z":"ff59e35b.f43668","name":"RGB_RED","info":"","x":140,"y":200,"wires":[]},{"id":"341274cc.0233f4","type":"comment","z":"ff59e35b.f43668","name":"RGB_GREEN","info":"","x":130,"y":260,"wires":[]},{"id":"e6f63347.be4d8","type":"comment","z":"ff59e35b.f43668","name":"RGB_BLUE","info":"","x":140,"y":320,"wires":[]},{"id":"8d98812b.2f55","type":"comment","z":"ff59e35b.f43668","name":"Instanciation des GPIO (obligatoire pour éviter les conflits)","info":"","x":740,"y":100,"wires":[]},{"id":"4090903.ecef3f","type":"function","z":"ff59e35b.f43668","name":"vert","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:100,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":860,"wires":[["7f136997.3ec81"]]},{"id":"f3d2489.abe7938","type":"inject","z":"ff59e35b.f43668","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":820,"wires":[["8f84eac6.57dce"]]},{"id":"7f136997.3ec81","type":"subflow:bcbdd5eb.a20028","z":"ff59e35b.f43668","name":"","x":500,"y":880,"wires":[["f96f7603.74538"],["ef768c92.ab7268"],["f341c9b6.02c19"],[]]},{"id":"26a94c68.47905c","type":"function","z":"ff59e35b.f43668","name":"random","func":"var red = getRandomInt(0,100);\nvar green = getRandomInt(0,100);\nvar blue = getRandomInt(0,100);\n\nmsg = {\n    hat:{\n        led:{\n            red:red,\n            green:green,\n            blue:blue\n        }\n    }\n}\nreturn msg;\n\n\nfunction getRandomInt(min, max) {\n  min = Math.ceil(min);\n  max = Math.floor(max);\n  return Math.floor(Math.random() * (max - min)) + min;\n}","outputs":1,"noerr":0,"x":280,"y":940,"wires":[["7f136997.3ec81"]]},{"id":"6fd170cb.e8461","type":"inject","z":"ff59e35b.f43668","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":940,"wires":[["26a94c68.47905c"]]},{"id":"f96f7603.74538","type":"link out","z":"ff59e35b.f43668","name":"RGB_RED","links":["8dff4f79.827e88"],"x":635,"y":840,"wires":[]},{"id":"ef768c92.ab7268","type":"link out","z":"ff59e35b.f43668","name":"RGB_GREEN","links":["c63e09d5.41af38"],"x":635,"y":880,"wires":[]},{"id":"f341c9b6.02c19","type":"link out","z":"ff59e35b.f43668","name":"RGB_BLUE","links":["3bc0914d.24417e"],"x":635,"y":920,"wires":[]},{"id":"cbd05cf2.af7f","type":"comment","z":"ff59e35b.f43668","name":"RGB_RED","info":"","x":720,"y":840,"wires":[]},{"id":"740ceec7.c27528","type":"comment","z":"ff59e35b.f43668","name":"RGB_GREEN","info":"","x":740,"y":880,"wires":[]},{"id":"1e88c963.b73c3f","type":"comment","z":"ff59e35b.f43668","name":"RGB_BLUE","info":"","x":730,"y":920,"wires":[]},{"id":"b0752e1.de486d","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":700,"y":60,"wires":[]},{"id":"9bae5d4f.81fbe8","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":700,"y":140,"wires":[]},{"id":"debdd899.66f29","type":"rpi-gpio out","z":"ff59e35b.f43668","name":"","pin":"36","set":"","level":"0","freq":"100","out":"pwm","x":500,"y":200,"wires":[]},{"id":"5c1871b8.eb5fc","type":"rpi-gpio out","z":"ff59e35b.f43668","name":"","pin":"40","set":"","level":"0","freq":"100","out":"pwm","x":500,"y":260,"wires":[]},{"id":"ec3265e3.98436","type":"rpi-gpio out","z":"ff59e35b.f43668","name":"","pin":"38","set":"","level":"0","freq":"100","out":"pwm","x":500,"y":320,"wires":[]},{"id":"6c6a39b3.203dd8","type":"rpi-gpio in","z":"ff59e35b.f43668","name":"Bouton_Defilement_Droite","pin":"35","intype":"down","debounce":"100","read":false,"x":170,"y":420,"wires":[["e738b032.5b9ea"]]},{"id":"6ea4d7bf.2c928","type":"rpi-gpio in","z":"ff59e35b.f43668","name":"Bouton_Defilement_Gauche","pin":"11","intype":"down","debounce":"100","read":false,"x":170,"y":480,"wires":[["5c9d4d66.8894a4"]]},{"id":"e738b032.5b9ea","type":"link out","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_DROITE","links":["3c8de9d3.2c7536"],"x":535,"y":420,"wires":[]},{"id":"5c9d4d66.8894a4","type":"link out","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_GAUCHE","links":["c9424503.1bed38"],"x":535,"y":480,"wires":[]},{"id":"8c606b87.0e473","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_DROITE","info":"","x":730,"y":420,"wires":[]},{"id":"8305d0cc.4d3ae8","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_GAUCHE","info":"","x":710,"y":480,"wires":[]},{"id":"3c8de9d3.2c7536","type":"link in","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_DROITE","links":["e738b032.5b9ea","c6ce4d16.aeceb","992e247a.5208d8"],"x":375,"y":1420,"wires":[["6ddfb13c.29661","61cc2ab4.f8980c"]]},{"id":"5f9cfbd3.dc663c","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_GAUCHE","info":"","x":210,"y":1560,"wires":[]},{"id":"f67fc878.008638","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_DROITE","info":"","x":210,"y":1420,"wires":[]},{"id":"c9424503.1bed38","type":"link in","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_GAUCHE","links":["5c9d4d66.8894a4","eec8062e.47626"],"x":375,"y":1560,"wires":[["af197523.1a135","aef6683f.dab318"]]},{"id":"f737b17.92aa3d","type":"rpi-gpio in","z":"ff59e35b.f43668","name":"Bouton_Appairage","pin":"15","intype":"down","debounce":"100","read":false,"x":210,"y":540,"wires":[["c4549437.2b1a6"]]},{"id":"c4549437.2b1a6","type":"link out","z":"ff59e35b.f43668","name":"BOUTON_APPAIRAGE","links":["60c3eb9b.bb1334"],"x":535,"y":540,"wires":[]},{"id":"403aadf9.96233c","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_APPAIRAGE","info":"","x":670,"y":540,"wires":[]},{"id":"60c3eb9b.bb1334","type":"link in","z":"ff59e35b.f43668","name":"BOUTON_APPAIRAGE","links":["c4549437.2b1a6"],"x":235,"y":2000,"wires":[["ea7c398f.4be0f"]]},{"id":"22108d07.52c5d2","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_APPAIRAGE","info":"","x":120,"y":2000,"wires":[]},{"id":"8db86f22.61eb78","type":"link in","z":"ff59e35b.f43668","name":"LED_RGB","links":["cb7fd59.2a97d28","3b1de85f.8b204","547a33bd.2fce0c","5d86aeaf.47abe","1a1408a.8f3ddf7","94deab6c.c515e8","3eba27bc.567ad8","6a1a18a3.533c68","5ffa9d80.61bb54","b18d3b04.dce608","2bb229cd.e4cc9e"],"x":175,"y":980,"wires":[["a5e816db.d6cbb8"]]},{"id":"ed1c945a.ade95","type":"comment","z":"ff59e35b.f43668","name":"LED_RGB","info":"","x":100,"y":980,"wires":[]},{"id":"cb7fd59.2a97d28","type":"link out","z":"73c72dbe.6172fc","name":"BLINK_RGB","links":["b059547b.56f5b8","8db86f22.61eb78"],"x":935,"y":780,"wires":[]},{"id":"ed41686e.90ca78","type":"comment","z":"73c72dbe.6172fc","name":"BLINK_RGB","info":"","x":1025,"y":780,"wires":[]},{"id":"1734167d.831be2","type":"function","z":"73c72dbe.6172fc","name":"led bleue","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:0,\n            blue:100,\n            enable:1\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":820,"wires":[["cb7fd59.2a97d28"]]},{"id":"166f026d.0ec28e","type":"function","z":"ff59e35b.f43668","name":"noir","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:0,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":900,"wires":[["7f136997.3ec81"]]},{"id":"ff4a5eb.3a0e62","type":"inject","z":"ff59e35b.f43668","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":110,"y":900,"wires":[["166f026d.0ec28e"]]},{"id":"d9e011ab.7f3d7","type":"link out","z":"ff59e35b.f43668","name":"RGB_RED","links":["8dff4f79.827e88"],"x":635,"y":1020,"wires":[]},{"id":"4ed63a5d.87d95c","type":"link out","z":"ff59e35b.f43668","name":"RGB_GREEN","links":["c63e09d5.41af38"],"x":635,"y":1060,"wires":[]},{"id":"7a134def.ff93e4","type":"link out","z":"ff59e35b.f43668","name":"RGB_BLUE","links":["3bc0914d.24417e"],"x":635,"y":1100,"wires":[]},{"id":"fbad3996.e35d2","type":"comment","z":"ff59e35b.f43668","name":"RGB_RED","info":"","x":720,"y":1020,"wires":[]},{"id":"8a6cdb48.ec8cb8","type":"comment","z":"ff59e35b.f43668","name":"RGB_GREEN","info":"","x":730,"y":1060,"wires":[]},{"id":"af9471b9.564a68","type":"comment","z":"ff59e35b.f43668","name":"RGB_BLUE","info":"","x":720,"y":1100,"wires":[]},{"id":"83bede48.8e41a8","type":"comment","z":"ff59e35b.f43668","name":"BLINK_RGB","info":"","x":90,"y":1060,"wires":[]},{"id":"b059547b.56f5b8","type":"link in","z":"ff59e35b.f43668","name":"BLINK_RGB","links":["cb7fd59.2a97d28","3b1de85f.8b204","547a33bd.2fce0c","5d86aeaf.47abe","1a1408a.8f3ddf7","5ffa9d80.61bb54"],"x":175,"y":1060,"wires":[["3fd5b9b2.9ba7ae"]]},{"id":"78f094f.99ae86c","type":"function","z":"73c72dbe.6172fc","name":"stop blink","func":"msg = {\n    hat:{\n        led:{\n            enable:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":780,"wires":[["cb7fd59.2a97d28"]]},{"id":"b160db7.f20e3a8","type":"function","z":"73c72dbe.6172fc","name":"stop blink","func":"msg = {\n    hat:{\n        led:{\n            enable:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1020,"wires":[["3b1de85f.8b204","c9c63c10.bef1e"]]},{"id":"3b1de85f.8b204","type":"link out","z":"73c72dbe.6172fc","name":"BLINK_RGB","links":["b059547b.56f5b8","8db86f22.61eb78"],"x":755,"y":1020,"wires":[]},{"id":"cc5cbd2c.e69c38","type":"comment","z":"73c72dbe.6172fc","name":"BLINK_RGB","info":"","x":830,"y":1020,"wires":[]},{"id":"b6312f0.055a15","type":"subflow:e1fca2dc.afea6","z":"315e194.8bbf866","name":"","x":460,"y":320,"wires":[["6429309f.eda978"]]},{"id":"d7eac176.38f9a8","type":"comment","z":"315e194.8bbf866","name":"Lecture des infos du HAT","info":"","x":490,"y":260,"wires":[]},{"id":"6429309f.eda978","type":"function","z":"315e194.8bbf866","name":"Initalisation HAT","func":"var payload = msg.payload;\nvar texte = \"\";\n\nif (payload === \"no hat found\")\n{\n    global.set(\"HAT\",false);\n    global.set(\"HAT_name\",\"---\");\n    global.set(\"HAT_version\",\"---\");\n    texte = \"aucun hat branché\";\n    node.status({fill:\"red\",shape:\"dot\",text:texte});\n}\n\nelse\n{\n    var vendor = msg.hat.info.vendor;\n    \n    // HAT Valide\n    if (vendor.toUpperCase().indexOf(\"DOMOKIT\") !== -1)\n    {\n        var product = msg.hat.info.product;\n        var version = msg.hat.info.version;\n        \n        \n        global.set(\"HAT\",true);\n        global.set(\"HAT_name\",product);\n        global.set(\"HAT_version\",version);\n        texte = \"hat valide\";\n        node.status({fill:\"green\",shape:\"dot\",text:texte});\n    }\n    \n    // HAT non reconnus\n    else\n    {\n        global.set(\"HAT\",false);\n        global.set(\"HAT_name\",\"---\");\n        global.set(\"HAT_version\",\"---\");\n        texte = \"hat non reconnu\";\n        node.status({fill:\"red\",shape:\"dot\",text:texte});\n    }\n    \n    \n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["467c9c8b.464cd4","8812f497.025338"]]},{"id":"467c9c8b.464cd4","type":"debug","z":"315e194.8bbf866","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":280,"wires":[]},{"id":"132cda5c.0356be","type":"link in","z":"ff59e35b.f43668","name":"HAT_LCD","links":["ce912385.0e463","123881e6.681aee"],"x":245,"y":1300,"wires":[["e2fe2a61.bb371"]]},{"id":"fcaba12.aa186e","type":"comment","z":"ff59e35b.f43668","name":"HAT_LCD","info":"","x":160,"y":1300,"wires":[]},{"id":"2e7c0a1b.d83496","type":"delay","z":"315e194.8bbf866","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":400,"wires":[["f6c92372.1ddd08"]]},{"id":"f6c92372.1ddd08","type":"exec","z":"315e194.8bbf866","command":"mosquitto -d","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Activation du broker MQTT","x":670,"y":400,"wires":[[],[],[]]},{"id":"9c223690.521cd8","type":"comment","z":"315e194.8bbf866","name":"BLINK_RGB","info":"","x":1250,"y":320,"wires":[]},{"id":"5d86aeaf.47abe","type":"link out","z":"315e194.8bbf866","name":"BLINK_RGB","links":["b059547b.56f5b8","8db86f22.61eb78"],"x":1175,"y":320,"wires":[]},{"id":"8812f497.025338","type":"function","z":"315e194.8bbf866","name":"led verte","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:100,\n            blue:0,\n            enable:1\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["5d86aeaf.47abe","a8c13f79.45643"]]},{"id":"e30d4498.def37","type":"function","z":"315e194.8bbf866","name":"stop blink","func":"msg = {\n    hat:{\n        led:{\n            enable:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":360,"wires":[["5d86aeaf.47abe","e4cb87b3.ec1638"]]},{"id":"a8c13f79.45643","type":"delay","z":"315e194.8bbf866","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":360,"wires":[["e30d4498.def37"]]},{"id":"898f685d.d4faa8","type":"rpi-gpio in","z":"ff59e35b.f43668","name":"Bouton_RAZ","pin":"31","intype":"down","debounce":"100","read":false,"x":230,"y":600,"wires":[["32885dd3.1930fa"]]},{"id":"32885dd3.1930fa","type":"link out","z":"ff59e35b.f43668","name":"Bouton_RAZ","links":["b53789d9.b7c5f"],"x":535,"y":600,"wires":[]},{"id":"1461c417.802534","type":"comment","z":"ff59e35b.f43668","name":"==============================================================================================================================================================","info":"","x":700,"y":2400,"wires":[]},{"id":"cb010b42.08804","type":"comment","z":"ff59e35b.f43668","name":"Gestion du bouton RAZ","info":"","x":630,"y":2460,"wires":[]},{"id":"72884a59.6b5d4c","type":"debug","z":"ff59e35b.f43668","name":"Debug Bouton RAZ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":2520,"wires":[]},{"id":"b53789d9.b7c5f","type":"link in","z":"ff59e35b.f43668","name":"BOUTON_APPAIRAGE","links":["32885dd3.1930fa"],"x":235,"y":2540,"wires":[["81f8f6f.296ab88"]]},{"id":"7925263.84fbf58","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_RAZ","info":"","x":140,"y":2540,"wires":[]},{"id":"35320d42.9d2dd2","type":"comment","z":"ff59e35b.f43668","name":"BOUTON_RAZ","info":"","x":680,"y":600,"wires":[]},{"id":"fce8848f.ce2858","type":"inject","z":"ff59e35b.f43668","name":"test","topic":"","payload":"1","payloadType":"num","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":1340,"wires":[["e2fe2a61.bb371"]]},{"id":"94deab6c.c515e8","type":"link out","z":"146f1054.19c988","name":"LED_RGB","links":["8db86f22.61eb78"],"x":1035,"y":340,"wires":[]},{"id":"1a68e5ec.6c0fca","type":"comment","z":"146f1054.19c988","name":"LED_RGB","info":"","x":1120,"y":340,"wires":[]},{"id":"e0085182.7da3","type":"delay","z":"146f1054.19c988","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":300,"wires":[["979a1e8e.719148"]]},{"id":"ce6dcd4d.23c97","type":"subflow:9ba64c43.2523e","z":"ff59e35b.f43668","name":"","x":570,"y":2000,"wires":[["5110a0df.8bf64"],[]]},{"id":"81f8f6f.296ab88","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":350,"y":2540,"wires":[["5697f78e.fa4298"]]},{"id":"cb101427.37812","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":310,"y":2300,"wires":[["6ba3be88.1078d"]]},{"id":"ea7c398f.4be0f","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":350,"y":2000,"wires":[["ce6dcd4d.23c97"]]},{"id":"3fd5b9b2.9ba7ae","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":290,"y":1060,"wires":[["cc98fd6a.f4c93"]]},{"id":"a5e816db.d6cbb8","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":290,"y":980,"wires":[["7f136997.3ec81"]]},{"id":"39d75b22.18c6a4","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":350,"y":320,"wires":[["ec3265e3.98436"]]},{"id":"24ad6fea.74a998","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":350,"y":200,"wires":[["debdd899.66f29"]]},{"id":"79d900c4.de62e8","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":350,"y":260,"wires":[["5c1871b8.eb5fc"]]},{"id":"6183517f.7548f","type":"function","z":"146f1054.19c988","name":"Memoire_str","func":"\nmsg.topic = global.get(\"Main_Topic\") + \"/rpi/memoire_str\";\n\nvar x = msg.payload[0].used / 1000000;\nvar y =  msg.payload[0].available / 1000000 ;\n\nvar size_used = x.toFixed(2);\nvar SD_Size =  x + y;\nSD_Size = SD_Size.toFixed(2);\n\nvar texte = size_used + \"/\" + SD_Size + \" Go\";\nmsg.payload = texte;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["7bf18e38.7d75c"]]},{"id":"44052dcd.08c4ec","type":"mqtt out","z":"146f1054.19c988","name":"","topic":"domokit/rpi/horodate","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":870,"y":1180,"wires":[]},{"id":"a131a108.ba765","type":"function","z":"146f1054.19c988","name":"horodate","func":"var horodate = msg.payload.horodate;\n\nmsg = {\n    payload:horodate\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1160,"wires":[["44052dcd.08c4ec"]]},{"id":"41a5eb5f.2e824c","type":"function","z":"146f1054.19c988","name":"date","func":"var date = msg.payload.date;\n\nmsg = {\n    payload:date\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1100,"wires":[["47b2ea31.1ec474"]]},{"id":"22d9070a.fe6ec","type":"function","z":"146f1054.19c988","name":"heure","func":"var heure = msg.payload.heure;\n\nmsg = {\n    payload:heure\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1040,"wires":[["3bd0b786.9cb98"]]},{"id":"ce0f5111.1db178","type":"mqtt in","z":"d8e2a650.a8bb5","name":"","topic":"domokit/set_tile/+","qos":"0","broker":"4d5a27f7.3e01d8","x":140,"y":120,"wires":[["b12ffb94.f743d8"]]},{"id":"db68f467.3ceb18","type":"comment","z":"d8e2a650.a8bb5","name":"Lorsqu'un objet est autorisé à communiquer, ce dernier envoie au serveur les \"Tiles\" qu'il souhaite afficher sur le dashboard","info":"","x":460,"y":40,"wires":[]},{"id":"3abc6848.731df8","type":"comment","z":"d8e2a650.a8bb5","name":"Ici, le serveur enregistre toutes les tiles demandées par l'objet en question","info":"","x":310,"y":80,"wires":[]},{"id":"b12ffb94.f743d8","type":"delay","z":"d8e2a650.a8bb5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":120,"wires":[["a19aee93.846998"]]},{"id":"db1d5a00.9f2f08","type":"comment","z":"d8e2a650.a8bb5","name":"Lorsqu'un objet envoie une donnée, on sauvegarde cette dernière dans la BDD pour la recharger si besoin","info":"","x":420,"y":260,"wires":[]},{"id":"f5054a39.3ef138","type":"mqtt in","z":"d8e2a650.a8bb5","name":"","topic":"domokit/instruction/tile/#","qos":"0","broker":"4d5a27f7.3e01d8","x":160,"y":360,"wires":[["48a00429.753954"]]},{"id":"172f544d.b38eb4","type":"debug","z":"d8e2a650.a8bb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"action","x":710,"y":120,"wires":[]},{"id":"48a00429.753954","type":"function","z":"d8e2a650.a8bb5","name":"MoF","func":"var i = 0;\n\n// Acquisition du message MQTT\nvar payload = msg.payload;\nvar topic = msg.topic;\n\nvar Info_topic  = topic.split(\"/\");\n\n\n// Extraction des infos pertinentes\nvar Addr_Mac = Info_topic[3];\n\n// Création du message\nmsg= {\n    tile:{\n        Addr_MAC:Addr_Mac,\n        data:payload,\n        Topic:topic,\n        idTile:\"null\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["5b679bf1.5a7d84"]]},{"id":"5b679bf1.5a7d84","type":"function","z":"d8e2a650.a8bb5","name":"ChercherTile","func":"// Acquisition des infos\nvar Addr_Mac = msg.tile.Addr_MAC;\nvar Data = msg.tile.Data;\nvar Topic = msg.tile.Topic;\n// Création de la requête SQL\n\nvar search_item = \n\"(SELECT idObjets_Connectes FROM Objets_Connectes WHERE Adresse_MAC = \\\"\" + Addr_Mac + \"\\\")\"\n\nvar search_idTile =\n\"SELECT idTile,Type FROM Tile WHERE (Objets_Connectes_idObjets_Connectes = \"+ search_item + \") AND (Topic = \\\"\" + Topic + \"\\\")\"\n\n\nmsg.topic = search_idTile;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["3db3c197.b9ee4e"]]},{"id":"3db3c197.b9ee4e","type":"mysql","z":"d8e2a650.a8bb5","mydb":"85a9ea73.8124d8","name":"","x":660,"y":360,"wires":[["ea537544.8d4a88"]]},{"id":"ea537544.8d4a88","type":"switch","z":"d8e2a650.a8bb5","name":"Filtrer Tile Graph","property":"payload[0].Type","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":360,"wires":[[],[]]},{"id":"f865be11.bd1f5","type":"function","z":"d8e2a650.a8bb5","name":"ChercherData","func":"// Acquisition des infos\nvar idTile = msg.payload[0].idTile;\n\nvar requete =\n\"SELECT idData FROM Data WHERE (Tile_idTile =  \\\"\" + idTile + \"\\\")\"\n\nmsg.tile.idTile = idTile;\nmsg.topic = requete;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":280,"wires":[["63678997.1da838"]]},{"id":"63678997.1da838","type":"mysql","z":"d8e2a650.a8bb5","mydb":"85a9ea73.8124d8","name":"","x":1160,"y":280,"wires":[["6ec08f91.27fa08"]]},{"id":"95295374.5ab21","type":"function","z":"d8e2a650.a8bb5","name":"AjouterData","func":"var valeur =  msg.tile.data;\nvar idTile = msg.tile.idTile;\nvar topic = msg.tile.Topic;\n\nvar columns = \"valeur,date_maj,topic,Tile_idTile\";\nvar values = \"\\\"\" + valeur + \"\\\" , CURRENT_TIMESTAMP , \"  +  \"\\\"\" + topic + \"\\\",\\\"\" + idTile + \"\\\"\";\n\nvar requete =\"INSERT INTO Data (\"+ columns +\") VALUES (\"+ values +\");\";\n\nmsg = {\n    topic:requete,\n    action:\"insert\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":260,"wires":[["b048e7d0.7baf2"]]},{"id":"3ac36f0c.eb415","type":"function","z":"d8e2a650.a8bb5","name":"UpdateData","func":"var idTile  =  msg.tile.idTile;\nvar valeur  =  msg.tile.data;\nvar topic = msg.tile.Topic;\n\nvar columns = \"valeur,date_maj\";\nvar values = \"valeur = \\\"\" + valeur + \"\\\" , date_maj = CURRENT_TIMESTAMP, topic = \\\"\" + topic + \"\\\"\";\n\nvar requete =\"INSERT INTO Tile (\"+ columns +\") VALUES (\"+ values +\");\";\n\nvar requete =\n\"UPDATE Data SET \"+ values + \" WHERE Tile_idTile = \\\"\" + idTile + \"\\\"\";\n\nmsg = {\n    topic:requete,\n    action:\"update\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":320,"wires":[["b048e7d0.7baf2"]]},{"id":"6ec08f91.27fa08","type":"switch","z":"d8e2a650.a8bb5","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":280,"wires":[["95295374.5ab21"],["3ac36f0c.eb415"]]},{"id":"b048e7d0.7baf2","type":"mysql","z":"d8e2a650.a8bb5","mydb":"85a9ea73.8124d8","name":"","x":1600,"y":280,"wires":[[]]},{"id":"cc98fd6a.f4c93","type":"subflow:745cc5e5.e27434","z":"ff59e35b.f43668","name":"","x":490,"y":1060,"wires":[["d9e011ab.7f3d7"],["4ed63a5d.87d95c"],["7a134def.ff93e4"]]},{"id":"c190e2f7.bdd66","type":"subflow:e97faffe.5385a8","z":"ff59e35b.f43668","name":"","x":980,"y":1300,"wires":[["ac34ca5e.58e8d"]]},{"id":"a19aee93.846998","type":"subflow:a78e49e6.571908","z":"d8e2a650.a8bb5","name":"","x":520,"y":120,"wires":[["172f544d.b38eb4"]]},{"id":"eef94b45.6e92a","type":"subflow:c4a5ca7b.cc85a","z":"12a6ca0f.4863de","name":"","x":390,"y":240,"wires":[["1d21333c.9c9135"],["a876c1cd.cd71b"],["31779c95.4ccab4"]]},{"id":"82970be.b94b2f8","type":"subflow:b4688224.af5608","z":"12a6ca0f.4863de","name":"","x":280,"y":520,"wires":[["e36af190.4e8e58"]]},{"id":"4282726e.53d68c","type":"subflow:2cd79506.1051c2","z":"46984568.7f8514","name":"","x":590,"y":200,"wires":[["82e6ce3.1859eb"],["af4da738.24bc48"]]},{"id":"4ad0c101.176a8","type":"subflow:b4688224.af5608","z":"31d0efbf.725fe8","name":"","x":480,"y":460,"wires":[["bd12163e.227548","681ea104.de7948"]]},{"id":"7c98a4ac.9dc414","type":"subflow:e1fdb949.ed809","z":"146f1054.19c988","name":"","x":350,"y":820,"wires":[["614d090e.3d8a4"]]},{"id":"ac34ca5e.58e8d","type":"debug","z":"ff59e35b.f43668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1300,"wires":[]},{"id":"d2395d57.3c769","type":"function","z":"9ba64c43.2523e","name":"MoF","func":"num_pin = msg.pin;\n\nmsg = {\n    payload : num_pin\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["50cdc2b0.0a421c"]]},{"id":"5965d022.60e898","type":"function","z":"9ba64c43.2523e","name":"MoF","func":"num_pin_brut = msg.topic;\netat = msg.payload;\n\nnum_pin = num_pin_brut.substr(3);\n\nmsg = {\n    payload:etat,\n    pin:num_pin\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["50ef5900.171718"]]},{"id":"5697f78e.fa4298","type":"subflow:9ba64c43.2523e","z":"ff59e35b.f43668","name":"","x":550,"y":2540,"wires":[["72884a59.6b5d4c"],[]]},{"id":"1ec02b0a.65998d","type":"function","z":"ff59e35b.f43668","name":"Gestion Defilement Auto","func":"enable = global.get(\"defilement_auto\");\n\nif(enable === true){\n    global.set(\"defilement_auto\",false);\n\n}\nelse\n{\n    global.set(\"defilement_auto\",true);\n}\n    ","outputs":1,"noerr":0,"x":800,"y":1600,"wires":[[]]},{"id":"4727931a.457a4c","type":"function","z":"ff59e35b.f43668","name":"Defilement_Auto","func":"enable = global.get(\"defilement_auto\");\n\nif(enable === true){\n    node.status({fill:\"green\",shape:\"dot\",text:\"Actif\"});\n    return msg;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:\"Inactif\"});\n}\n    ","outputs":1,"noerr":0,"x":310,"y":1760,"wires":[["c6ce4d16.aeceb"]]},{"id":"a2b45ac0.4bb2c","type":"inject","z":"ff59e35b.f43668","name":"test","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1760,"wires":[["4727931a.457a4c"]]},{"id":"c6ce4d16.aeceb","type":"link out","z":"ff59e35b.f43668","name":"BOUTON_DEFILEMENT_DROITE","links":["3c8de9d3.2c7536"],"x":475,"y":1760,"wires":[]},{"id":"490bcdae.92ef3c","type":"comment","z":"ff59e35b.f43668","name":"Défilement automatique des écrans","info":"","x":230,"y":1720,"wires":[]},{"id":"1dc68ccf.97ee1b","type":"delay","z":"531dd6c.d84aea8","name":"Appui 2s","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":120,"wires":[["a0c4de66.fde0f8"]]},{"id":"a0c4de66.fde0f8","type":"exec","z":"531dd6c.d84aea8","command":"sudo python /home/pi/.domokit/scripts/hat/ecran_lcd/read_pin.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"On relit l'état du bouton","x":800,"y":120,"wires":[["f8c55cf.97c45a"],[],[]]},{"id":"dc7bf61c.80a928","type":"switch","z":"531dd6c.d84aea8","name":"bouton appuyé","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":120,"wires":[["fdc876c6.56bda8"]]},{"id":"f8c55cf.97c45a","type":"switch","z":"531dd6c.d84aea8","name":"Etat_Bouton","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":100,"wires":[[]]},{"id":"2c6d600.6c38f2","type":"comment","z":"531dd6c.d84aea8","name":"On vérifie que l'état du bouton est toujours '1'","info":"","x":1070,"y":60,"wires":[]},{"id":"fdc876c6.56bda8","type":"function","z":"531dd6c.d84aea8","name":"MoF","func":"num_pin = msg.pin;\n\nmsg = {\n    payload : num_pin\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["1dc68ccf.97ee1b"]]},{"id":"fb7525b4.a424a8","type":"function","z":"531dd6c.d84aea8","name":"MoF","func":"num_pin_brut = msg.topic;\netat = msg.payload;\n\nnum_pin = num_pin_brut.substr(3);\n\nmsg = {\n    payload:etat,\n    pin:num_pin\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":120,"wires":[["dc7bf61c.80a928"]]},{"id":"aef6683f.dab318","type":"subflow:531dd6c.d84aea8","z":"ff59e35b.f43668","name":"","x":550,"y":1600,"wires":[["1ec02b0a.65998d"],[]]},{"id":"2987525b.85b5ae","type":"function","z":"146f1054.19c988","name":"rouge","func":"msg = {\n    hat:{\n        led:{\n            red:100,\n            green:0,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["94deab6c.c515e8","e0085182.7da3"]]},{"id":"61cc2ab4.f8980c","type":"subflow:531dd6c.d84aea8","z":"ff59e35b.f43668","name":"","x":550,"y":1460,"wires":[["ef3fe578.5f5778"],[]]},{"id":"ef3fe578.5f5778","type":"function","z":"ff59e35b.f43668","name":"Gestion Defilement Auto","func":"enable = global.get(\"defilement_auto\");\n\nif(enable === true){\n    global.set(\"defilement_auto\",false);\n\n}\nelse\n{\n    global.set(\"defilement_auto\",true);\n}\n    ","outputs":1,"noerr":0,"x":800,"y":1460,"wires":[[]]},{"id":"e4cb87b3.ec1638","type":"function","z":"315e194.8bbf866","name":"vert","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:100,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":360,"wires":[["3eba27bc.567ad8"]]},{"id":"3eba27bc.567ad8","type":"link out","z":"315e194.8bbf866","name":"LED_RGB","links":["8db86f22.61eb78"],"x":1360,"y":360,"wires":[]},{"id":"aa32f708.9534e8","type":"comment","z":"315e194.8bbf866","name":"LED_RGB","info":"","x":1420,"y":360,"wires":[]},{"id":"24ec6cee.095284","type":"comment","z":"73c72dbe.6172fc","name":"LED_RGB","info":"","x":440,"y":460,"wires":[]},{"id":"6a1a18a3.533c68","type":"link out","z":"73c72dbe.6172fc","name":"LED_RGB","links":["8db86f22.61eb78"],"x":375,"y":460,"wires":[]},{"id":"8a028895.713438","type":"function","z":"73c72dbe.6172fc","name":"stop led","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:0,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":420,"wires":[["6a1a18a3.533c68","3cad108c.acedc"]]},{"id":"945005d2.b0f048","type":"subflow:1420b0e6.19efe7","z":"73c72dbe.6172fc","name":"","x":900,"y":420,"wires":[["d7792068.ee10d"]]},{"id":"3cad108c.acedc","type":"function","z":"73c72dbe.6172fc","name":"stop screen","func":"\nglobal.set(\"enable_lcd\",false);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["30c1d7a5.ded6b8"]]},{"id":"b8c59abf.407e38","type":"subflow:1f72b688.758149","z":"1420b0e6.19efe7","name":"","x":250,"y":180,"wires":[["c399b569.ed9fe"]]},{"id":"e2fe2a61.bb371","type":"subflow:1f72b688.758149","z":"ff59e35b.f43668","name":"","x":410,"y":1300,"wires":[["e57cf347.4f282"]]},{"id":"e57cf347.4f282","type":"function","z":"ff59e35b.f43668","name":"Vérification","func":"var enable = global.get(\"enable_lcd\");\n\nif(enable)\n    return msg;","outputs":1,"noerr":0,"x":590,"y":1300,"wires":[["3d9bb509.acc582"]]},{"id":"b52051e8.ec0a48","type":"json","z":"c29c1d03.852d68","name":"","property":"payload","action":"","pretty":false,"x":210,"y":200,"wires":[["b5df7e2c.c8d25"]]},{"id":"b5df7e2c.c8d25","type":"function","z":"c29c1d03.852d68","name":"IntentName","func":"var M1 = {};\n\nM1.payload = msg.payload.intent.intentName;\n\nglobal.set(\"GlobalAction\", M1.payload);\n\nreturn M1;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["f74977ec.b1d878"]]},{"id":"f74977ec.b1d878","type":"function","z":"c29c1d03.852d68","name":"Instruction","func":"var etat = {};\n\nif (global.get(\"GlobalAction\").indexOf(\"TurnOffLight\") != -1)\n{\n    etat.payload = 0;\n    \n}\nelse if (global.get(\"GlobalAction\").indexOf(\"TurnOnSetLight\") != -1)\n{   \n    etat.payload = 1;\n}\nelse if (global.get(\"GlobalAction\").indexOf(\"Arrosage\") != -1)\n{   \n    etat.payload = 2;\n}\nelse\n{\n    etat.payload = 3;\n}\n\nglobal.set(\"etat\", etat.payload);\nreturn etat;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[[]]},{"id":"b68de4f1.393e9","type":"mqtt in","z":"86f06be0.6c0be8","name":"","topic":"hermes/nlu/intentParsed","qos":"2","broker":"4d5a27f7.3e01d8","x":150,"y":300,"wires":[["5d74bd34.07d59c"]]},{"id":"a6a03601.59d288","type":"debug","z":"86f06be0.6c0be8","name":"Session","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":280,"wires":[]},{"id":"b2a26d47.d6c92","type":"debug","z":"86f06be0.6c0be8","name":"instruction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":320,"wires":[]},{"id":"5d74bd34.07d59c","type":"subflow:c29c1d03.852d68","z":"86f06be0.6c0be8","name":"","x":460,"y":300,"wires":[["a6a03601.59d288"],["b2a26d47.d6c92"]]},{"id":"f708bc9f.90709","type":"mqtt in","z":"73c72dbe.6172fc","name":"","topic":"domokit/admin/cmd/reboot","qos":"2","broker":"4d5a27f7.3e01d8","x":130,"y":1480,"wires":[["524c621a.3b616c"]]},{"id":"f2398599.2cfd68","type":"mqtt in","z":"73c72dbe.6172fc","name":"","topic":"domokit/admin/cmd/wifipassword","qos":"2","broker":"4d5a27f7.3e01d8","x":150,"y":1520,"wires":[["49a5941b.cba6bc"]]},{"id":"7e60dfc8.63d9a","type":"mqtt in","z":"73c72dbe.6172fc","name":"","topic":"domokit/admin/cmd/appairage","qos":"2","broker":"4d5a27f7.3e01d8","x":140,"y":1700,"wires":[["9e4a1daa.5bb7f"]]},{"id":"9e4a1daa.5bb7f","type":"switch","z":"73c72dbe.6172fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1700,"wires":[["24038eaa.2cced2"],["649ea8d8.8a25e8"]]},{"id":"27eab94e.8817c6","type":"mqtt in","z":"73c72dbe.6172fc","name":"","topic":"domokit/admin/cmd/reset","qos":"2","broker":"4d5a27f7.3e01d8","x":130,"y":1560,"wires":[["d28e5f64.0acce","9dd5f687.c2ac98"]]},{"id":"78890f79.09718","type":"comment","z":"73c72dbe.6172fc","name":"Commandes depuis l'interface Web","info":"Scénario d'usage : \n\n1- L'utilisateur modifie le password sur l'interface Web\n\n2- La config wifi se met à jour","x":700,"y":1400,"wires":[]},{"id":"104215be.a926ca","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":680,"y":1440,"wires":[]},{"id":"e5578723.229f38","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":680,"y":1360,"wires":[]},{"id":"49a5941b.cba6bc","type":"link out","z":"73c72dbe.6172fc","name":"CMD_WIFIPASSWORD","links":["9523d0d3.1026e"],"x":315,"y":1520,"wires":[]},{"id":"524c621a.3b616c","type":"link out","z":"73c72dbe.6172fc","name":"CMD_REBOOT","links":["79ae2e5a.58b9c"],"x":315,"y":1480,"wires":[]},{"id":"d28e5f64.0acce","type":"link out","z":"73c72dbe.6172fc","name":"CMD_RESET","links":[],"x":315,"y":1560,"wires":[]},{"id":"24038eaa.2cced2","type":"link out","z":"73c72dbe.6172fc","name":"CMD_MODE_NORMAL","links":["e3014d9b.d5c51","e944752e.002128"],"x":415,"y":1680,"wires":[]},{"id":"649ea8d8.8a25e8","type":"link out","z":"73c72dbe.6172fc","name":"CMD_MODE_APPAIRAGE","links":["ecafc426.7d3478"],"x":415,"y":1720,"wires":[]},{"id":"cd21c8f8.da5468","type":"comment","z":"73c72dbe.6172fc","name":"CMD_REBOOT","info":"","x":420,"y":1480,"wires":[]},{"id":"dbc4743d.266218","type":"comment","z":"73c72dbe.6172fc","name":"CMD_WIFIPASSWORD","info":"","x":440,"y":1520,"wires":[]},{"id":"fc7204f4.d3b448","type":"comment","z":"73c72dbe.6172fc","name":"CMD_RESET","info":"","x":410,"y":1560,"wires":[]},{"id":"3e03acbc.789004","type":"comment","z":"73c72dbe.6172fc","name":"CMD_MODE_APPAIRAGE","info":"","x":550,"y":1720,"wires":[]},{"id":"ca6814d5.2af968","type":"comment","z":"73c72dbe.6172fc","name":"CMD_MODE_NORMAL","info":"","x":540,"y":1680,"wires":[]},{"id":"e3014d9b.d5c51","type":"link in","z":"73c72dbe.6172fc","name":"CMD_MODE_NORMAL","links":["24038eaa.2cced2"],"x":215,"y":980,"wires":[["1e4581c8.7deece"]]},{"id":"ecafc426.7d3478","type":"link in","z":"73c72dbe.6172fc","name":"CMD_MODE_APPAIRAGE","links":["649ea8d8.8a25e8"],"x":255,"y":740,"wires":[["22274d9f.e68e02"]]},{"id":"d61badc7.6917d","type":"comment","z":"73c72dbe.6172fc","name":"CMD_MODE_APPAIRAGE","info":"","x":130,"y":740,"wires":[]},{"id":"13bbb149.be2a5f","type":"comment","z":"73c72dbe.6172fc","name":"CMD_MODE_NORMAL","info":"","x":100,"y":980,"wires":[]},{"id":"9523d0d3.1026e","type":"link in","z":"73c72dbe.6172fc","name":"CMD_WIFIPASSWORD","links":["49a5941b.cba6bc"],"x":235,"y":1300,"wires":[["74af4b28.e277d4"]]},{"id":"81af290c.dd6388","type":"comment","z":"73c72dbe.6172fc","name":"CMD_WIFIPASSWORD","info":"","x":120,"y":1300,"wires":[]},{"id":"79ae2e5a.58b9c","type":"link in","z":"73c72dbe.6172fc","name":"CMD_REBOOT","links":["524c621a.3b616c"],"x":195,"y":460,"wires":[["8a028895.713438"]]},{"id":"67b6a285.bf978c","type":"comment","z":"73c72dbe.6172fc","name":"CMD_REBOOT","info":"","x":100,"y":460,"wires":[]},{"id":"d7792068.ee10d","type":"delay","z":"73c72dbe.6172fc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":420,"wires":[["f01b200f.e08ce8"]]},{"id":"74af4b28.e277d4","type":"delay","z":"73c72dbe.6172fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1300,"wires":[["f302edc5.5211d8"]]},{"id":"9dd5f687.c2ac98","type":"debug","z":"73c72dbe.6172fc","name":"reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":1620,"wires":[]},{"id":"d17f0869.b302c8","type":"function","z":"73c72dbe.6172fc","name":"affichage","func":"msg = {\n    hat:{\n        lcd:{\n            ligne1:\"Redemarrage\",\n            ligne2:\"en cours...\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["945005d2.b0f048"]]},{"id":"30c1d7a5.ded6b8","type":"delay","z":"73c72dbe.6172fc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":420,"wires":[["d17f0869.b302c8"]]},{"id":"c9c63c10.bef1e","type":"function","z":"73c72dbe.6172fc","name":"vert","func":"msg = {\n    hat:{\n        led:{\n            red:0,\n            green:100,\n            blue:0\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1060,"wires":[["b18d3b04.dce608"]]},{"id":"fe03f018.9d15b","type":"comment","z":"73c72dbe.6172fc","name":"LED_RGB","info":"","x":960,"y":1060,"wires":[]},{"id":"b18d3b04.dce608","type":"link out","z":"73c72dbe.6172fc","name":"LED_RGB","links":["8db86f22.61eb78"],"x":895,"y":1060,"wires":[]},{"id":"79f957ef.82c188","type":"switch","z":"ff59e35b.f43668","name":"mode wifi","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":2000,"wires":[["4bd1308f.be002"],["8ff1b275.b71c7"]]},{"id":"5110a0df.8bf64","type":"function","z":"ff59e35b.f43668","name":"toggle mode","func":"var mode = global.get(\"mode_wifi\");\nvar payload = \"0\";\n\nif(mode === \"appairage\"){\n     global.set(\"mode_wifi\",\"normal\");\n     payload = \"1\";\n}\n   \nelse if (mode === \"normal\"){\n     global.set(\"mode_wifi\",\"appairage\");\n     payload = \"2\";\n}\n\nmsg= {\n    payload:payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2000,"wires":[["79f957ef.82c188"]]},{"id":"6d6ddbdf.fdb214","type":"inject","z":"ff59e35b.f43668","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2040,"wires":[[]]},{"id":"22fd86d6.b04dfa","type":"function","z":"19a3abdf.bf45fc","name":"Mode wifi","func":"global.set(\"mode_wifi\",\"normal\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":220,"wires":[[]]},{"id":"ca4be3be.b1899","type":"function","z":"425afb1.4eacb04","name":"Mode wifi","func":"global.set(\"mode_wifi\",\"appairage\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[[]]},{"id":"4bd1308f.be002","type":"link out","z":"ff59e35b.f43668","name":"Bouton_Normal_ON","links":["2267d800.bbe7e8"],"x":1075,"y":1980,"wires":[]},{"id":"96945f46.1fb15","type":"comment","z":"ff59e35b.f43668","name":"Bouton_Normal_ON","info":"","x":1190,"y":1980,"wires":[]},{"id":"561e1b81.5ce894","type":"comment","z":"73c72dbe.6172fc","name":"Bouton_Normal_ON","info":"","x":110,"y":1040,"wires":[]},{"id":"2267d800.bbe7e8","type":"link in","z":"73c72dbe.6172fc","name":"Bouton_Normal_ON","links":["4bd1308f.be002"],"x":215,"y":1040,"wires":[["1e4581c8.7deece"]]},{"id":"6939282f.271028","type":"mqtt out","z":"b3a35ec7.066258","name":"","topic":"domokit/instruction/tile/18:fe:34:9b:92:c8/echo","qos":"","retain":"","broker":"4d5a27f7.3e01d8","x":430,"y":260,"wires":[]},{"id":"7acce7ce.e61198","type":"inject","z":"b3a35ec7.066258","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["6939282f.271028"]]},{"id":"f536b6ff.95e3b","type":"mqtt in","z":"b3a35ec7.066258","name":"","topic":"domokit/test/echo","qos":"2","broker":"4d5a27f7.3e01d8","x":100,"y":320,"wires":[["d4d1fed6.437568"]]},{"id":"d4d1fed6.437568","type":"debug","z":"b3a35ec7.066258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":320,"wires":[]},{"id":"c37a8cfa.24f08","type":"inject","z":"7903968f.8fd","name":"CLK","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["405ff465.87301c"]]},{"id":"405ff465.87301c","type":"subflow:de072a78.51f8f","z":"7903968f.8fd","name":"","x":280,"y":400,"wires":[["28c1668.e6d511a"]]},{"id":"28c1668.e6d511a","type":"debug","z":"7903968f.8fd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":400,"wires":[]},{"id":"926cae15.1e524","type":"comment","z":"7903968f.8fd","name":"1 - Récupération de la date/heure actuelle sur la Rpi","info":"","x":210,"y":340,"wires":[]},{"id":"423c0df7.832e14","type":"comment","z":"7903968f.8fd","name":"2 - requête BDD sur les actions selon date, heure et jour","info":"","x":620,"y":340,"wires":[]},{"id":"9a8bbb26.ef4fb","type":"comment","z":"7903968f.8fd","name":"3 - Exécution de la liste d'actions trouvée","info":"","x":990,"y":340,"wires":[]},{"id":"5347a5f4.c2a2f4","type":"comment","z":"7903968f.8fd","name":"==============================================================================================================================================================","info":"","x":620,"y":280,"wires":[]},{"id":"edc2637d.0eca58","type":"comment","z":"7903968f.8fd","name":"Exécuter une tâche plannifiée","info":"","x":600,"y":240,"wires":[]},{"id":"958d75a4.4baad","type":"comment","z":"7903968f.8fd","name":"==============================================================================================================================================================","info":"","x":620,"y":200,"wires":[]},{"id":"b1ca3911.a07d68","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":660,"y":2100,"wires":[]},{"id":"90e1af68.d61ec8","type":"comment","z":"73c72dbe.6172fc","name":"Commandes depuis l'interface Web","info":"Scénario d'usage : \n\n1- L'utilisateur modifie le password sur l'interface Web\n\n2- La config wifi se met à jour","x":680,"y":2060,"wires":[]},{"id":"56c6615f.61208","type":"comment","z":"73c72dbe.6172fc","name":"==============================================================================================================================================================","info":"","x":660,"y":2020,"wires":[]},{"id":"99e03e53.304028","type":"mqtt in","z":"73c72dbe.6172fc","name":"","topic":"domokit/admin/cmd/update","qos":"2","broker":"4d5a27f7.3e01d8","x":130,"y":1840,"wires":[["2cac9795.478be"]]},{"id":"2cac9795.478be","type":"exec","z":"73c72dbe.6172fc","command":"sudo sh /home/pi/.domokit/check_update.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Check Update","x":380,"y":1840,"wires":[["ba24ede6.6af5b"],["ba24ede6.6af5b"],["f9f18b37.691088","ba24ede6.6af5b"]]},{"id":"388159d.0308d26","type":"inject","z":"73c72dbe.6172fc","name":"","topic":"","payload":"domokit2019","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1940,"wires":[["2cac9795.478be"]]},{"id":"1dc54e10.7618d2","type":"debug","z":"73c72dbe.6172fc","name":"update fail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1820,"wires":[]},{"id":"c0a1e1ed.227f4","type":"function","z":"73c72dbe.6172fc","name":"stop screen","func":"\nglobal.set(\"enable_lcd\",false);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1980,"wires":[["48013d9f.44031c"]]},{"id":"9985fe.51ea12","type":"function","z":"73c72dbe.6172fc","name":"affichage","func":"msg = {\n    hat:{\n        lcd:{\n            ligne1:\"Mise a jour...\",\n            ligne2:\"Ne pas eteindre\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1980,"wires":[["479c9625.515958"]]},{"id":"48013d9f.44031c","type":"delay","z":"73c72dbe.6172fc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1980,"wires":[["9985fe.51ea12"]]},{"id":"479c9625.515958","type":"subflow:1420b0e6.19efe7","z":"73c72dbe.6172fc","name":"","x":1180,"y":1980,"wires":[[]]},{"id":"49591871.b8a5f8","type":"function","z":"73c72dbe.6172fc","name":"led purple","func":"msg = {\n    hat:{\n        led:{\n            red:80,\n            green:0,\n            blue:100\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1940,"wires":[["2bb229cd.e4cc9e"]]},{"id":"25f0a7f4.8cdff","type":"comment","z":"73c72dbe.6172fc","name":"LED_RGB","info":"","x":900,"y":1940,"wires":[]},{"id":"2bb229cd.e4cc9e","type":"link out","z":"73c72dbe.6172fc","name":"LED_RGB","links":["8db86f22.61eb78"],"x":835,"y":1940,"wires":[]},{"id":"f9f18b37.691088","type":"switch","z":"73c72dbe.6172fc","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":1840,"wires":[["1dc54e10.7618d2"],["1dc54e10.7618d2"],["c0a1e1ed.227f4","49591871.b8a5f8","24dbe86b.f69728"]]},{"id":"216215ea.05709a","type":"delay","z":"73c72dbe.6172fc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1880,"wires":[["c90dc3ee.e7b9a"]]},{"id":"c90dc3ee.e7b9a","type":"exec","z":"73c72dbe.6172fc","command":"sudo reboot now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":1030,"y":1880,"wires":[[],[],[]]},{"id":"24dbe86b.f69728","type":"exec","z":"73c72dbe.6172fc","command":"sudo sh /home/pi/.domokit/domokit_update.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec Update","x":730,"y":1880,"wires":[[],[],["216215ea.05709a"]]},{"id":"ba24ede6.6af5b","type":"debug","z":"73c72dbe.6172fc","name":"update fail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":520,"y":1940,"wires":[]}]