nodered/lib/flows/[HAT] LED RGB.json
[{"id":"bcbdd5eb.a20028","type":"subflow","name":"[HAT] LED RGB","info":"Pilote la LED RGB présente sur le HAT\n\nInputs (0 à 100 %) : \n- msg.hat.led.red   : couleur rouge\n- msg.hat.led.green : couleur verte\n- msg.hat.led.blue  : couleur bleue","in":[{"x":180,"y":160,"wires":[{"id":"6d9eb1a9.5aa86"}]}],"out":[{"x":1000,"y":100,"wires":[{"id":"e0f97e17.0cf598","port":0}]},{"x":1000,"y":160,"wires":[{"id":"95fc28c3.363898","port":0}]},{"x":1000,"y":220,"wires":[{"id":"c0fb8d6b.d11db","port":0}]}],"inputLabels":["colors"],"outputLabels":["red","green","blue"]},{"id":"6d9eb1a9.5aa86","type":"function","z":"bcbdd5eb.a20028","name":"fade in","func":"// Paramètre de transition\nvar step = 5;\n\n// Couleur initiale\nvar redValue = global.get(\"pwm_red\");\nvar blueValue = global.get(\"pwm_green\");\nvar greenValue = global.get(\"pwm_blue\");\n\nvar pwm_red_value = redValue;\nvar pwm_green_value = greenValue;\nvar pwm_blue_value = blueValue;\n\n// Couleur à appliquer\nvar redColor = msg.hat.led.red;\nvar greenColor = msg.hat.led.green; \nvar blueColor = msg.hat.led.blue;\n\n// Autres variables\nvar outputMsgs = [];\nvar i = 0;\n\n\nfor (i = 0; i < 100; i+=step)\n{\n    // RED\n    if(redColor > redValue){\n        if(pwm_red_value< redColor)\n        {\n            pwm_red_value +=step;\n        }\n    }\n    else\n    {\n        if(pwm_red_value > redColor)\n        {\n            pwm_red_value -=step;\n        }\n    }\n    // GREEN\n    if(greenColor > greenValue){\n        if(pwm_green_value< greenColor)\n        {\n            pwm_green_value +=step;\n        }\n    }\n    else\n    {\n        if(pwm_green_value > greenColor)\n        {\n            pwm_green_value -=step;\n        }\n    }\n    \n    // BLUE\n    if(blueColor > blueValue){\n        if(pwm_blue_value < blueColor)\n        {\n            pwm_blue_value +=step;\n        }\n    }\n    else\n    {\n        if(pwm_blue_value > blueColor)\n        {\n            pwm_blue_value -=step;\n        }\n    }\n    \n    outputMsgs.push(\n    {\n        color:{\n            red:pwm_red_value,\n            blue:pwm_blue_value,\n            green:pwm_green_value\n        }\n    }\n    );\n}\n\nglobal.set(\"pwm_red\",pwm_red_value);\nglobal.set(\"pwm_green\",pwm_blue_value);\nglobal.set(\"pwm_blue\",pwm_green_value);\n\n\noutputMsgs.push(\n    {\n        finish:'1'\n    });\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["209f13db.3a58bc"]]},{"id":"209f13db.3a58bc","type":"delay","z":"bcbdd5eb.a20028","name":"transition","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.05","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":160,"wires":[["1114e50b.3dff03"]]},{"id":"e0f97e17.0cf598","type":"function","z":"bcbdd5eb.a20028","name":"rouge","func":"var color = msg.color.red;\n\n\nmsg = {\n    payload : color\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":100,"wires":[[]]},{"id":"95fc28c3.363898","type":"function","z":"bcbdd5eb.a20028","name":"vert","func":"var color = msg.color.green;\n\n\nmsg = {\n    payload : color\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[[]]},{"id":"c0fb8d6b.d11db","type":"function","z":"bcbdd5eb.a20028","name":"bleu","func":"var color = msg.color.blue;\n\n\nmsg = {\n    payload : color\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[[]]},{"id":"1114e50b.3dff03","type":"switch","z":"bcbdd5eb.a20028","name":"","property":"finish","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":160,"wires":[["95fc28c3.363898","e0f97e17.0cf598","c0fb8d6b.d11db"],["ca075209.e0d738"]]},{"id":"ca075209.e0d738","type":"function","z":"bcbdd5eb.a20028","name":"fin du bloc","func":"var finish = msg.finish;\n\nif (finish == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":880,"y":300,"wires":[[]]},{"id":"d0e6e969.29ac8","type":"subflow:bcbdd5eb.a20028","z":"e4c22da7.7d83d","name":"","x":640,"y":880,"wires":[["ceab7e13.7e5e68"],["148645c.7645cba"],["2b496e3b.71ebb2"]]},{"id":"ceab7e13.7e5e68","type":"link out","z":"e4c22da7.7d83d","name":"RGB_RED","links":["42fdd3f4.526894"],"x":775,"y":840,"wires":[]},{"id":"148645c.7645cba","type":"link out","z":"e4c22da7.7d83d","name":"RGB_GREEN","links":["11ae77d8.1adfa8"],"x":775,"y":880,"wires":[]},{"id":"2b496e3b.71ebb2","type":"link out","z":"e4c22da7.7d83d","name":"RGB_BLUE","links":["aab87b6c.d59658"],"x":775,"y":920,"wires":[]},{"id":"c7ada579.c5f958","type":"comment","z":"e4c22da7.7d83d","name":"RGB_RED","info":"","x":860,"y":840,"wires":[]},{"id":"ae1d0b32.1f7a68","type":"comment","z":"e4c22da7.7d83d","name":"RGB_GREEN","info":"","x":880,"y":880,"wires":[]},{"id":"8b663eaf.edbfd8","type":"comment","z":"e4c22da7.7d83d","name":"RGB_BLUE","info":"","x":870,"y":920,"wires":[]}]