nodered/lib/flows/Afficher Wifi.json
[{"id":"d0525f8c.995348","type":"exec","z":"a9fec798.15036","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/afficher_mode_wifi.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"afficher wifi","x":530,"y":180,"wires":[["942a7316.019d2"],[],[]]},{"id":"beca25d7.cb7738","type":"inject","z":"a9fec798.15036","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["d0525f8c.995348"]]},{"id":"942a7316.019d2","type":"debug","z":"a9fec798.15036","name":"mode config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":180,"wires":[]}]