nodered/lib/flows/Password Wifi.json
[{"id":"363c8320.ae8dcc","type":"exec","z":"a9fec798.15036","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/modifier_password_wifi_domokit.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"password wifi","x":540,"y":1240,"wires":[[],[],["ea17e1d0.e23ef8","aff2f112.15c22"]]},{"id":"ea17e1d0.e23ef8","type":"debug","z":"a9fec798.15036","name":"reboot hostapd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":1240,"wires":[]},{"id":"46f956aa.9342d8","type":"inject","z":"a9fec798.15036","name":"","topic":"","payload":"domokit2018","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1240,"wires":[["363c8320.ae8dcc"]]},{"id":"aff2f112.15c22","type":"exec","z":"a9fec798.15036","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/restart_hostapd.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot hostapd","x":860,"y":1180,"wires":[[],[],[]]}]