nodered/lib/flows/Test_Metrics_MQTT_DashBoard.json
[{"id":"fb90d8ee.f6cc78","type":"comment","z":"b6a2974e.99a97","name":"==============================================================================================================================================================","info":"","x":710,"y":340,"wires":[]},{"id":"7e5fcfe6.d0ea8","type":"comment","z":"b6a2974e.99a97","name":"[DEV] : Génération de metrics manuels","info":"","x":540,"y":300,"wires":[]},{"id":"c0c0778.2dfd908","type":"comment","z":"b6a2974e.99a97","name":"==============================================================================================================================================================","info":"","x":710,"y":260,"wires":[]},{"id":"80cc2ba8.c677d8","type":"function","z":"b6a2974e.99a97","name":"Case Button","func":"// Récupération des informations d'entrée\nvar name = msg.payload.name;\n\nvar topic_sub = msg.payload.topic.sub;\nvar topic_pub = msg.payload.topic.pub;\n\n// Button\nvar ON_Icon = msg.payload.ON.icon;\nvar OFF_Icon = msg.payload.OFF.icon;\n\nvar ON_Color = msg.payload.ON.color;\nvar OFF_Color = msg.payload.OFF.color;\n\n// Définition des variables\nvar id = msg._msgid;\nvar timestamp = new Date().getTime();\n\n// Traitement des données\nvar hexColor_ON = \"FF\" + ON_Color.red.toUpperCase() + ON_Color.green.toUpperCase() + ON_Color.blue.toUpperCase();\nvar intColor_ON = parseInt(hexColor_ON,16) - 0xFFFFFFFF - 1;\n\nvar hexColor_OFF = \"FF\" + OFF_Color.red.toUpperCase() + OFF_Color.green.toUpperCase() + OFF_Color.blue.toUpperCase();\nvar intColor_OFF = parseInt(hexColor_OFF,16) - 0xFFFFFFFF - 1;\n\n// Construction de la case\nvar Tile =\n    {\n    \t\"iconOff\":OFF_Icon,\n    \t\"iconOn\":ON_Icon,\n    \t\"offColor\":intColor_OFF,\n    \t\"onColor\":intColor_ON,\n    \t\"payloadOff\":\"0\",\n    \t\"payloadOn\":\"1\",\n    \t\"enableIntermediateState\":true,\n    \t\"enablePub\":true,\n    \t\"enteredIntermediateStateAt\":0,\n    \t\"intermediateStateTimeout\":0,\n    \t\"jsOnReceive\":\"\",\n    \t\"jsonPath\":\"\",\n    \t\"lastPayload\":\"\",\n    \t\"qos\":0,\n    \t\"retained\":false,\n    \t\"topic\":topic_sub,\n    \t\"topicPub\":topic_pub,\n    \t\"updateLastPayloadOnPub\":true,\n    \t\"id\":id,\n    \t\"jsBlinkExpression\":\"\",\n    \t\"jsOnDisplay\":\"\",\n    \t\"jsOnTap\":\"\",\n    \t\"lastActivity\":0,\n    \t\"longId\":timestamp,\n    \t\"name\":name,\n    \t\"type\":2\n    }\n    \nmsg.payload = JSON.stringify(Tile);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["4afbce53.95df1"]]},{"id":"b85df611.a1bd","type":"function","z":"b6a2974e.99a97","name":"Case Image","func":"// Récupération des informations d'entrée\nvar topic_sub = msg.payload.topic_sub;\nvar topic_pub = msg.payload.topic_pub;\n\nvar nom = msg.payload.nom;\n\n// Définition des variables\nvar id = msg._msgid;\nvar timestamp = new Date().getTime();\n\n\n// Construction de la case\nvar Contenu = {\n\t    \"imageUrl\":\"d\",\n\t\t\"kind\":3,\n\t\t\"openUrl\":\"\",\n\t\t\"reloadInterval\":5,\n\t\t\"enableIntermediateState\":true,\n\t\t\"enablePub\":false,\n\t\t\"enteredIntermediateStateAt\":0,\n\t\t\"intermediateStateTimeout\":0,\n\t\t\"jsOnReceive\":\"\",\n\t\t\"jsonPath\":\"\",\n\t\t\"lastPayload\":\"\",\n\t\t\"qos\":0,\n\t\t\"retained\":false,\n\t\t\"topic\":topic_sub,\n\t\t\"topicPub\":topic_pub,\n\t\t\"updateLastPayloadOnPub\":true,\n\t\t\"id\":id,\n\t\t\"jsBlinkExpression\":\"\",\n\t\t\"jsOnDisplay\":\"\",\n\t\t\"jsOnTap\":\"\",\n\t\t\"lastActivity\":0,\n\t\t\"longId\":timestamp,\n\t\t\"name\":nom,\n\t\t\"type\":5\n    }\n\nmsg.payload = JSON.stringify(Contenu);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["4afbce53.95df1"]]},{"id":"3f1592c.9ad0aee","type":"function","z":"b6a2974e.99a97","name":"Case Texte","func":"// Nom de la case\nvar name = msg.payload.name;\n\n// Topics\nvar topic_sub = msg.payload.topic.sub;\nvar topic_pub = msg.payload.topic.pub;\n\n// Texte\nvar size = msg.payload.text.size; // SMALL , MEDIUM , LARGE\nvar color = msg.payload.text.color;\n\nvar prefix = msg.payload.text.prefix;\nvar text = msg.payload.text.text;\nvar postfix = msg.payload.text.postfix;\n\n\n\n// Définition des variables automatiques\nvar id = msg._msgid;\nvar timestamp = new Date().getTime();\n\n// Traitement des données\nvar hexColor = \"FF\" + color.red.toUpperCase() + color.green.toUpperCase() + color.blue.toUpperCase();\nvar intColor = parseInt(hexColor,16) - 0xFFFFFFFF - 1;\n\n// Construction de la case\nvar Contenu =\n    {\n        \"mainTextSize\":size,\n        \"postfix\":postfix,\n        \"prefix\":prefix,\n        \"textColor\":intColor,\n        \"enableIntermediateState\":true,\n        \"enablePub\":true,\n        \"enteredIntermediateStateAt\":0,\n        \"intermediateStateTimeout\":0,\n        \"jsOnReceive\":\"\",\n        \"jsonPath\":\"\",\n        \"lastPayload\":text,\n    \t\"qos\":0,\n    \t\"retained\":false,\n    \t\"topic\":topic_sub,\n    \t\"topicPub\":topic_pub,\n    \t\"updateLastPayloadOnPub\":true,\n    \t\"id\":id,\n    \t\"jsBlinkExpression\":\"\",\n    \t\"jsOnDisplay\":\"\",\n    \t\"jsOnTap\":\"\",\n    \t\"lastActivity\":0,\n    \t\"longId\":timestamp,\n    \t\"name\":name,\n    \t\"type\":1\n    }\n    \n// Mise en forme\nmsg.payload = JSON.stringify(Contenu);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["4afbce53.95df1"]]},{"id":"52c0d833.a1c468","type":"function","z":"b6a2974e.99a97","name":"Case Jauge","func":"// Nom de la case\nvar name = msg.payload.name;\n\n// Topics\nvar topic_sub = msg.payload.topic.sub;\nvar topic_pub = msg.payload.topic.pub;\n\n// Jauge (progress)\nvar color = msg.payload.progress.color; // (RRGGBB)16\n\nvar prefix = msg.payload.progress.prefix;\nvar postfix = msg.payload.progress.postfix;\n\nvar value = msg.payload.progress.value;\nvar min = msg.payload.progress.min;\nvar max = msg.payload.progress.max;\nvar precision = msg.payload.progress.precision;\n\n// Définition des variables automatiques\nvar id = msg._msgid;\nvar timestamp = new Date().getTime();\n\n// Traitement des données\nvar hexColor = \"FF\" + color.red.toUpperCase() + color.green.toUpperCase() + color.blue.toUpperCase();\nvar intColor = parseInt(hexColor,16) - 0xFFFFFFFF - 1;\n\n// Construction de la case\nvar Tile =\n    {\n        \"decimalPrecision\":precision,\n        \"displayPayloadValue\":true,\n        \"maxValue\":max,\n        \"minValue\":min,\n        \"postfix\":postfix,\n        \"prefix\":prefix,\n        \"progressColor\":intColor,\n        \"enableIntermediateState\":true,\n        \"enablePub\":true,\n        \"enteredIntermediateStateAt\":0,\n        \"intermediateStateTimeout\":0,\n        \"jsOnReceive\":\"\",\n        \"jsonPath\":\"\",\n        \"lastPayload\":value,\n    \t\"qos\":0,\n    \t\"retained\":false,\n    \t\"topic\":topic_sub,\n    \t\"topicPub\":topic_pub,\n    \t\"updateLastPayloadOnPub\":true,\n    \t\"id\":id,\n    \t\"jsBlinkExpression\":\"\",\n    \t\"jsOnDisplay\":\"\",\n    \t\"jsOnTap\":\"\",\n    \t\"lastActivity\":0,\n    \t\"longId\":timestamp,\n    \t\"name\":name,\n    \t\"type\":3\n    }\n    \n// Mise en forme\nmsg.payload = JSON.stringify(Tile);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["4afbce53.95df1"]]},{"id":"e50a6f11.c4e5a","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"{\"name\":\"test button\",\"topic\":{\"sub\":\"domoticpi/test_mqtt/button\"},\"OFF\":{\"icon\":\"ic_radio_button_checked\",\"color\":{\"red\":\"FF\",\"green\":\"C0\",\"blue\":\"00\"}},\"ON\":{\"icon\":\"ic_radio_button_unchecked\",\"color\":{\"red\":\"00\",\"green\":\"C0\",\"blue\":\"FF\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["80cc2ba8.c677d8"]]},{"id":"8743391f.73c6c8","type":"mqtt out","z":"b6a2974e.99a97","name":"metrics/exchange/<piece>","topic":"","qos":"2","retain":"true","broker":"4d5a27f7.3e01d8","x":910,"y":520,"wires":[]},{"id":"28b9e0ac.2bc8","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"{\"topic_sub\":\"domoticpi/camera/stream/camera_actuelle\",\"nom\":\"test image\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["b85df611.a1bd"]]},{"id":"564faa7c.41acb4","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"{\"name\":\"test text\",\"topic\":{\"sub\":\"domoticpi/test_mqtt/text\"},\"text\":{\"size\":\"SMALL\",\"color\":{\"red\":\"FF\",\"green\":\"C0\",\"blue\":\"00\"},\"prefix\":\"\",\"postfix\":\"°C\",\"text\":\"test du texte\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["3f1592c.9ad0aee"]]},{"id":"52480515.943394","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"{\"name\":\"test progress\",\"topic\":{\"sub\":\"domoticpi/test_mqtt/progress\"},\"progress\":{\"size\":\"SMALL\",\"color\":{\"red\":\"FF\",\"green\":\"FF\",\"blue\":\"00\"},\"prefix\":\"\",\"postfix\":\"°C\",\"value\":\"66\",\"max\":102,\"min\":8,\"precision\":2}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["52c0d833.a1c468"]]},{"id":"41cf5aa4.65e434","type":"function","z":"b6a2974e.99a97","name":"Case Color","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["4afbce53.95df1"]]},{"id":"68d94671.c00b08","type":"function","z":"b6a2974e.99a97","name":"Case Liste","func":"// Nom de la case\nvar name = msg.payload.name;\n\n// Topics\nvar topic_sub = msg.payload.topic.sub;\nvar topic_pub = msg.payload.topic.pub;\n\n// Liste\nvar size = msg.payload.list.size; // SMALL , MEDIUM , LARGE\nvar color = msg.payload.list.color;\n\nvar items = msg.payload.list.items;\n\n\n// Définition des variables automatiques\nvar id = msg._msgid;\nvar timestamp = new Date().getTime();\n\n// Traitement des données\nvar hexColor = \"FF\" + color.red.toUpperCase() + color.green.toUpperCase() + color.blue.toUpperCase();\nvar intColor = parseInt(hexColor,16) - 0xFFFFFFFF - 1;\n\n// Construction de la case\nvar Tile =\n    {\n        \"items\":items,\n        \"mainTextSize\":size,\n        \"textColor\":intColor,\n        \"enableIntermediateState\":true,\n        \"enablePub\":true,\n        \"enteredIntermediateStateAt\":0,\n        \"intermediateStateTimeout\":0,\n        \"jsOnReceive\":\"\",\n        \"jsonPath\":\"\",\n        \"lastPayload\":items[0].payload,\n    \t\"qos\":0,\n    \t\"retained\":false,\n    \t\"topic\":topic_sub,\n    \t\"topicPub\":topic_pub,\n    \t\"updateLastPayloadOnPub\":true,\n    \t\"id\":id,\n    \t\"jsBlinkExpression\":\"\",\n    \t\"jsOnDisplay\":\"\",\n    \t\"jsOnTap\":\"\",\n    \t\"lastActivity\":0,\n    \t\"longId\":timestamp,\n    \t\"name\":name,\n    \t\"type\":4\n    }\n    \n// Mise en forme\nmsg.payload = JSON.stringify(Tile);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":600,"wires":[["4afbce53.95df1"]]},{"id":"c513dede.76d8","type":"debug","z":"b6a2974e.99a97","name":"MQTT Tiles","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":560,"wires":[]},{"id":"4afbce53.95df1","type":"join","z":"b6a2974e.99a97","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":520,"wires":[["bee9d8d5.b46f3","ca30c5af.f0d7b"]]},{"id":"bee9d8d5.b46f3","type":"function","z":"b6a2974e.99a97","name":"Mise en forme","func":"var prefix_topic = \"metrics/exchange/\";\nvar topic = msg.topic;\n\n\nvar Source = msg.payload;\n\nvar Destination = '[' + Source[0];\n\nfor (var i = 1; i < Source.length; i++){\n    Destination += ',' + Source[i];\n}\n\nDestination += ']';\n\nmsg.topic = prefix_topic + topic;\nmsg.payload = Destination;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":520,"wires":[["c513dede.76d8","8743391f.73c6c8"]]},{"id":"ca30c5af.f0d7b","type":"debug","z":"b6a2974e.99a97","name":"MQTT Tiles","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":560,"wires":[]},{"id":"b299984d.b5bb2","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"{\"name\":\"test texte\",\"topic\":{\"sub\":\"domoticpi/test_mqtt\"},\"text\":{\"size\":\"SMALL\",\"color\":{\"red\":\"FF\",\"green\":\"C0\",\"blue\":\"00\"},\"prefix\":\"\",\"postfix\":\"°C\",\"text\":\"test du texte\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["41cf5aa4.65e434"]]},{"id":"33dac8d5.e997e8","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"{\"name\":\"test list\",\"topic\":{\"sub\":\"domoticpi/test_mqtt/list\"},\"list\":{\"size\":\"SMALL\",\"color\":{\"red\":\"FF\",\"green\":\"C0\",\"blue\":\"00\"},\"items\":[{\"label\":\"option_1\",\"payload\":\"1\"},{\"label\":\"option_2\",\"payload\":\"2\"},{\"label\":\"option_3\",\"payload\":\"3\"}]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["68d94671.c00b08"]]},{"id":"b6fa597e.381db8","type":"function","z":"b6a2974e.99a97","name":"topic","func":"var topic = msg.payload;\nmsg = {\n    topic:topic\n}","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["4afbce53.95df1"]]},{"id":"841aeb80.8e743","type":"inject","z":"b6a2974e.99a97","name":"","topic":"","payload":"cuisine","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["b6fa597e.381db8"]]},{"id":"d092a3ae.9b0fd8","type":"debug","z":"b6a2974e.99a97","name":"MQTT Tiles","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":760,"wires":[]},{"id":"eca99b4f.5128d","type":"inject","z":"b6a2974e.99a97","name":"déclencheur","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["10545e1c.fbcb7a"]]},{"id":"44b13996.f2b128","type":"mqtt out","z":"b6a2974e.99a97","name":"","topic":"","qos":"","retain":"true","broker":"4d5a27f7.3e01d8","x":730,"y":720,"wires":[]},{"id":"22b581b0.2fb7de","type":"function","z":"b6a2974e.99a97","name":"Mise en forme","func":"var topic = msg.topic;\nvar Source = msg.payload;\nvar Destination = '[' + Source;\n\nDestination += ']';\n\nmsg.topic = topic;\nmsg.payload = Destination;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":720,"wires":[["44b13996.f2b128"]]},{"id":"10545e1c.fbcb7a","type":"MQTT Dash Tile","z":"b6a2974e.99a97","TileType":"text","TileName":"Test_Tile","TopicMQTT":"metrics/exchange","TopicSub":"domoticpi/test_sub","TopicPub":"domoticpi/test_pub","EnablePub":"true","ColorRed":"120","ColorGreen":"120","ColorBlue":"255","Text":"Test de texte","PrefixText":"temp = ","PostfixText":"%","TextSize":"MEDIUM","ColorRedON":"0","ColorGreenON":"0","ColorBlueON":"0","IconON":"","ValueON":"","ColorRedOFF":"0","ColorGreenOFF":"0","ColorBlueOFF":"0","IconOFF":"","ValueOFF":"","ImageOpenURL":"","ReloadImage":"","GaugeValue":"","GaugeMin":"","GaugeMax":"","GaugePrecision":"","x":300,"y":720,"wires":[["d092a3ae.9b0fd8","22b581b0.2fb7de"]]},{"id":"4d5a27f7.3e01d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]