nodered/lib/flows/Test_Requetes_MySQL.json
[{"id":"4d351c0d.566db4","type":"function","z":"10a84814.4b08d","name":"MySQL INSERT","func":"// Récupération des paramètres\nvar table = msg.payload.mysql.table;\nvar colonne = msg.payload.mysql.colonne;\nvar values = msg.payload.mysql.values;\n\nvar recherche = colonne[0];\nvar valeur = \"\\\"\" + values[0] + \"\\\"\";\n\n\n// Concaténation des colonnes\nfor (var i = 1 ; i < colonne.length ; i++)\n{\n    recherche = recherche + \",\" + colonne[i];\n}\n\n// Concaténatkon des values\nfor (var k = 1 ; k < values.length ; k++)\n{\n    valeur = valeur + \",\\\"\" + values[k] + \"\\\"\";\n}\n\n// Composition de la requête\nvar Requete = \"INSERT INTO \" + table + \" (\" + recherche + \") VALUES (\" + valeur + \");\" \n\nmsg.topic = Requete;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["41b3430e.adb60c"]]},{"id":"30a77ebd.7e325a","type":"function","z":"10a84814.4b08d","name":"MySQL SELECT","func":"// Récupération des paramètres\nvar table = msg.payload.mysql.table;\nvar colonne = msg.payload.mysql.colonne;\nvar critere = msg.payload.mysql.critere;\n\nvar recherche = colonne[0];\n\n// Concaténation des colonnes\nfor (var i = 1 ; i < colonne.length ; i++)\n{\n    recherche = recherche + \",\" + colonne[i];\n}\n\n// Composition de la requête\nvar Requete = \"SELECT (\" + recherche + \") FROM \" + table + \" WHERE (\" + critere + \");\" \n\nmsg.topic = Requete;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["41b3430e.adb60c"]]},{"id":"fc0b58a4.a27ae8","type":"function","z":"10a84814.4b08d","name":"MySQL DELETE","func":"// Récupération des paramètres\nvar table = msg.mysql.table;\nvar colonne = msg.mysql.colonne;\nvar critere = msg.mysql.critere;\nvar recherche = msg.mysql.recherche;\n\n// Composition de la requête\nvar Requete = \"SELECT \" + recherche + \" FROM \" + table + \" WHERE (\" + critere + \");\" \n\nmsg.topic = Requete;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["41b3430e.adb60c"]]},{"id":"6a03d7f5.dfb7c","type":"function","z":"10a84814.4b08d","name":"MySQL UPDATE","func":"// Récupération des paramètres\nvar table = msg.payload.mysql.table;\nvar colonne = msg.payload.mysql.colonne;\nvar values = msg.payload.mysql.values;\nvar critere = msg.payload.mysql.critere;\n\nvar valeur = colonne[0] + \"=\\\"\" + values[0] + \"\\\"\";\n\nfor (var i = 1; i < colonne.length ; i ++)\n{\n    valeur = valeur + ',' + colonne[i] + \"=\\\"\" + values[i] + \"\\\"\";\n}\n\n// Composition de la requête\nvar Requete = \"UPDATE \" + table + \" SET (\" + valeur + \") WHERE (\" + critere + \");\" \n\nmsg.topic = Requete;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["41b3430e.adb60c"]]},{"id":"b1ce12cd.33724","type":"inject","z":"10a84814.4b08d","name":"","topic":"","payload":"{\"mysql\":{\"table\":\"test_table\",\"colonne\":[\"test1\",\"test2\",\"test3\"],\"values\":[\"1\",\"2\",\"3\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["4d351c0d.566db4"]]},{"id":"41b3430e.adb60c","type":"debug","z":"10a84814.4b08d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":220,"wires":[]},{"id":"776f4e4f.3ecf68","type":"inject","z":"10a84814.4b08d","name":"","topic":"","payload":"{\"mysql\":{\"table\":\"test_table\",\"colonne\":[\"test1\",\"test2\",\"test3\"],\"critere\":\"test4 = \\\"10\\\"\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["30a77ebd.7e325a"]]},{"id":"9acb4989.1d15d","type":"inject","z":"10a84814.4b08d","name":"","topic":"","payload":"{\"mysql\":{\"table\":\"test_table\",\"colonne\":[\"test1\",\"test2\",\"test3\"],\"values\":[\"1\",\"2\",\"3\"],\"critere\":\"test4 = \\\"10\\\"\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["6a03d7f5.dfb7c"]]},{"id":"5ede2d4a.0ede9c","type":"comment","z":"10a84814.4b08d","name":"==============================================================================================================================================================","info":"","x":620,"y":100,"wires":[]},{"id":"31e78235.a7d28e","type":"comment","z":"10a84814.4b08d","name":"Template pour les requêtes basiques SQL","info":"","x":500,"y":60,"wires":[]},{"id":"360408b3.dd8208","type":"comment","z":"10a84814.4b08d","name":"==============================================================================================================================================================","info":"","x":620,"y":20,"wires":[]}]