nodered/lib/flows/Wifi UID.json
[{"id":"19a8fa92.0f54fd","type":"inject","z":"a9fec798.15036","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["7b52c739.40ec18"]]},{"id":"7b52c739.40ec18","type":"exec","z":"a9fec798.15036","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/generation_uid_wifi.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi UID","x":520,"y":900,"wires":[[],[],["28aab80a.4e3798"]]},{"id":"28aab80a.4e3798","type":"debug","z":"a9fec798.15036","name":"wifi UID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":900,"wires":[]}]