nodered/lib/flows/Wifi Domokit.json
[{"id":"2f369cb7.4b0b04","type":"exec","z":"a9fec798.15036","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/wifi_mode_domokit.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mode normal","x":530,"y":660,"wires":[["48634305.6e7414"],["48634305.6e7414"],["48634305.6e7414"]]},{"id":"1b199cf6.fa6bab","type":"inject","z":"a9fec798.15036","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":660,"wires":[["2f369cb7.4b0b04"]]},{"id":"48634305.6e7414","type":"debug","z":"a9fec798.15036","name":"mode normal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":660,"wires":[]}]