nodered/lib/flows/Wifi Appairage.json
[{"id":"3497af76.360b9","type":"exec","z":"a9fec798.15036","command":"sudo sh /home/pi/.domokit/scripts/gestion_wifi/wifi_mode_appairage.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mode appairage","x":540,"y":400,"wires":[["cd25c7ae.005cf8"],["cd25c7ae.005cf8"],["cd25c7ae.005cf8"]]},{"id":"7d565840.d28e78","type":"inject","z":"a9fec798.15036","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["3497af76.360b9"]]},{"id":"cd25c7ae.005cf8","type":"debug","z":"a9fec798.15036","name":"mode config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":400,"wires":[]}]